<div class="page active-a">
    <!-- pia phone-index-c -->
    <top-nav page-title="中国电信●翼分期商城" page-back="menu" nav-visibility="hide"></top-nav>
    <div class="content-scrollable has-footer">
        <gh></gh>
        <div>
            <!--<div class="hot-phone img-box">-->
                <!--<img src="/images/active/activePhoneTitle.jpg">-->
            <!--</div>-->
            <div class="hot-phone img-box" ng-click="showFudai()">
                <img src="/images/active/activePhoneTitle.jpg">
            </div>
            <div id="hotPhone" class="hot-phone img-box">
                <img src="/images/active/5.jpg">
            </div>
            <div class="hot-phone">
                <ul class="spc-list hot-phone">
                    <li ng-repeat="singlePhone in singlePhones | filter:{ifRecommend: 1}" ng-show="singlePhone.salePrice >= 1500">
                        <a class="item-box pure-g" ng-if="params.length == 0" href="/phs/sg/{{pageType}}/{{singlePhone.activityproductId}}{{params}}?headCategory={{category}}" ng-class="{true:'curr',false:''}[machineName == singlePhone.productName]" ng-click="setMachine(singlePhone.productName,singlePhone.activityproductId)">
                            <div class="img-box pure-u-1-3">
                                <img ng-src="http://www.yfq.cn:8899/fileserver/medias/{{singlePhone.mainImageUrl}}">
                                <span class="flag img-box">
                                    <img src="/images/active/flag-2.png">
                                </span>
                            </div>
                            <div class="item-txt pure-u-2-3">
                                <div class="title" ng-bind="singlePhone.productSubName"></div>
                                <div class="tips">
                                    <span>领券立减</span><span style="font-weight: bold"><em>￥</em><em ng-bind="singlePhone.phonePrice | jm : 400"></em></span><span>，每月再送20元话费</span>
                                </div>
                                <div class="price">
                                    <span>￥</span><span ng-bind="singlePhone.phonePrice" style="margin-right: 0.2rem"></span>
                                    <span>日供</span><em>￥</em><em ng-bind="singlePhone.phonePrice / 365 | number : 0"></em>
                                </div>
                            </div>
                        </a>
                        <a class="item-box pure-g" ng-if="params.length != 0" href="/phs/sg/{{pageType}}/{{singlePhone.activityproductId}}{{params}}&headCategory={{category}}" ng-class="{true:'curr',false:''}[machineName == singlePhone.productName]" ng-click="setMachine(singlePhone.productName,singlePhone.activityproductId)">
                            <div class="img-box pure-u-1-3">
                                <img ng-src="http://www.yfq.cn:8899/fileserver/medias/{{singlePhone.mainImageUrl}}">
                            </div>
                            <div class="item-txt pure-u-2-3">
                                <div class="title" ng-bind="singlePhone.productSubName"></div>
                                <div class="tips">
                                    <span>领券立减</span><span style="font-weight: bold;"><em>￥</em><em ng-bind="singlePhone.phonePrice | jm : 400"></em></span><span>，每月再送20元话费</span>
                                </div>
                                <div class="price">
                                    <span>￥</span><span ng-bind="singlePhone.phonePrice" style="margin-right: 0.2rem"></span>
                                    <span>日供</span><em>￥</em><em ng-bind="singlePhone.phonePrice / 365 | number : 0"></em>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="img-box">
                <img src="/images/active/6.gif">
            </div>
            <div class="phones-content">
                <spc-phone-b ng-if="singlePhones"></spc-phone-b>
            </div>
            <div class="promise">
                <div class="img-box">
                    <img src="/images/active/7.gif">
                </div>
            </div>
        </div>

        <ng-coupon></ng-coupon>

    </div>
    <div class="right-nav">
        <div class="img-box" ng-click="showFudai()">
            <img src="/images/active/11.png">
        </div>
        <div class="img-box" ng-click="goToTop()">
            <img src="/images/active/22.png">
        </div>
    </div>
    <div class="footer-nav nav-list">
        <div class="pure-g">
            <a href="http://m.yfq.cn/wap/customer/searchIndexA.html?s=wap" class="nav-button nav-item line-r pure-u-1-3" ng-click="btNavItem(0);">我的优惠券</a>
            <a href="http://m.yfq.cn/wap/customer/searchIndexA.html?s=wap" class="nav-button nav-item line-r pure-u-1-3" ng-click="btNavItem(1);">我的订单</a>
            <div class="nav-button nav-item pure-u-1-3" ng-click="getContact();"><i class="icon-comment"></i><span> 在线客服</span></div>
        </div>
    </div>
</div>