.page.resume {
  .nav-group {
    display: none;
  }
  .weui-cells_form {
    .weui-label {
      width: 6em;
    }
    .weui-cell_success {
      border: none;
      .weui-select {
        color: #09bb07;
      }
    }
    .weui-cell_warn {
      border: none;
      .weui-select {
        color: $color-primary;
      }
      .weui-agree__text {
        color: $color-primary;
      }
    }
  }
}

.page.resume-word {
  font-size: 0.13rem;
  h1 {
    text-align: center;
  }
  nav {
    display: none;
  }
  p {
    text-indent: 2em;
    line-height: 2;
    margin: 0.1rem 0.15rem;
  }
  ul {
    margin-left: 0.15rem;
    padding-left: 2em;
    list-style: none;
    li {
      list-style: circle inside;
      margin: 3px 0px 0px 0px;
      font-weight: bold;
    }
  }
  .resume-code {
    width: 60%;
    margin: 0 auto;
  }
}