<div class="footer-nav nav-list">
    <a class="nav-item nav-order line-r" ng-click="getSearch()" href="{{orderURL}}">
        <div class="nav-icon">
            <span class="icon-search"></span>
        </div>
        <p class="nav-label">订单</p>
    </a>
    <div class="nav-item nav-comment line-r" ng-click="getContent();">
        <div class="nav-icon">
            <span class="icon-comment"></span>
        </div>
        <p class="nav-label">客服</p>
    </div>
    <div class="pure-g">
        <div class="nav-price nav-item pure-u-1-2">
            <em><sub>￥</sub></em><em ng-if="!priceType" ng-bind-html="mainPrice | number:2 | formatMoney:-3 | trustHtml"></em><em ng-if="priceType" ng-bind-html="mainPrice/12 | number:2 | formatMoney:-3 | trustHtml"></em>
        </div>
        <div class="nav-button nav-item pure-u-1-2">
            <a id="footerPayButton" href="/payment" ng-click="submitForm($event);" ng-bind="payTypeName">立即支付</a>
        </div>
    </div>
</div>