.page.p-index {
  .content-scrollable {
    background-color: #000;
  }
  &.default {
    .timer-area {
      font-size: 0.24rem;
      color: #fff;
      margin-top: 0.5rem;
      margin-bottom: 0.7rem;
      p {
        font-size: 0.18rem;
        &:before {
          content: " ";
          @include inline-block;
          margin-right: 0.1rem;
          width: 2em;
          height: 1px;
          background: #fff;
        }
        &:after {
          content: " ";
          @include inline-block;
          margin-left: 0.1rem;
          width: 2em;
          height: 1px;
          background: #fff;
        }
        span {
          @include inline-block;
        }
      }
      .timer {
        margin-top: 0.1rem;
        i {
          font-size: 0.24rem;
          width: 0.32rem;
          height: 0.32rem;
          line-height: 0.32rem;
          @include border-radius(4px);
          color: #000;
        }
      }
    }
    .nav-comment {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 23%;
      background: #fff;
    }
  }
}

.page.pia {
  html, button, input, select, textarea,.pure-g [class *= "pure-u"] {
    font-family:Microsoft Yahei,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  .phone-box {
    margin:0.1rem;
    font-size: 0.12rem;
    background: #fff;
    position: relative;
    border:1px solid #dedede;
    .image-box {
      padding-top: 0.15rem;
      .image-b {
        margin-left: 0.05rem;
        margin-right: 0.05rem;
        padding-left: 0.05rem;
        padding-right: 0.05rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        border:1px solid #eee;
      }
    }
    .txt-box {
      padding-top: 0.15rem;
      h2 {
        font-size: 0.16rem;
        line-height: 1.3;
        i {
          @include inline-block;
          font-size: 0.14rem;
          padding-top: 0.01rem;
          padding-bottom: 0.01rem;
          @include border-radius(3px);
          color: #fff;
          background: #1065c5;
          margin-right: 0.05rem;
          font-style: normal;
          padding-left: 0.05rem;
          padding-right: 0.05rem;
          font-weight: 300;
          line-height:1.3;
        }
        span {
          @include inline-block;
        }
      }
      div.price {
        margin-top: 0.1rem;
        .label {
          color: #333;
          font-size: 0.12rem;
          padding:0;
          font-weight: 300;
        }
        span.price {
          font-size: 0.14rem;
          color: #f2741d;
        }
        .promotion {
          font-size: 0.12rem;
          border:1px dashed #f2741d;
          color: #f2741d;
          margin-left: 0.05rem;
          padding-top: 0.01rem;
          padding-bottom: 0.01rem;
          padding-left: 0.05rem;
          padding-right: 0.05rem;
        }
      }
      .pkg {
        margin-top: 0.05rem;
        .pkg-flag {
          font-size: 0.12rem;
          color: #fff;
          background: #052d52;
          padding:0.05rem;
          @include inline-block;
          span {
            display: block;
            line-height:1.1;
          }
        }
        .pkg-staff {
          @include inline-block;
          span {
            display: block;
          }
        }
        .pkg-price{
          @include inline-block;
          span {
            display: block;
          }
        }
      }
    }
  }
}