.page.p-index {
  .content-scrollable {
    background-color: #000;
  }
  &.default {
    .timer-area {
      font-size: 0.24rem;
      color: #fff;
      margin-top: 0.5rem;
      margin-bottom: 0.7rem;
      p {
        font-size: 0.18rem;
        &:before {
          content: " ";
          @include inline-block;
          margin-right: 0.1rem;
          width: 2em;
          height: 1px;
          background: #fff;
        }
        &:after {
          content: " ";
          @include inline-block;
          margin-left: 0.1rem;
          width: 2em;
          height: 1px;
          background: #fff;
        }
        span {
          @include inline-block;
        }
      }
      .timer {
        margin-top: 0.1rem;
        i {
          font-size: 0.24rem;
          width: 0.32rem;
          height: 0.32rem;
          line-height: 0.32rem;
          @include border-radius(4px);
          color: #000;
        }
      }
    }
    .nav-comment {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 23%;
      background: #fff;
    }
  }
}

.page.pia {
  html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: Microsoft Yahei, Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  .content-scrollable {
    background: url("/images/phones/assets/index/indexBg.jpg") repeat;
    .sales-banner {
      position: absolute;
      left: 18%;
      bottom: 41%;
      width: 62%;
    }
  }
  #indexBanner {
    display: none;
  }
  #indexHot {
    display: none;
  }
  .spc-title {
    background: none;
    color: #052d52;
    h2 {
      font-weight: 700;
      span {
        &:first-child {
          &:after {
            height: 0.03rem;
            background: #052d52;
          }
        }
        &:last-child {
          &:before {
            height: 0.03rem;
            background: #052d52;
          }
        }
      }
    }
  }
  .list-tabs {
    margin-left: 0.07rem;
    margin-right: 0.07rem;
    border-bottom: 3px solid #d30505;
    margin-bottom: 0.15rem;
    .tab-item {
      &:first-child {
        .img-box {
          margin-right: 0.02rem;
        }
      }
      &:last-child {
        .img-box {
          margin-left: 0.02rem;
        }
      }
      img.on {
        display: none;
      }
      &.on {
        img {
          display: none;
        }
        img.on {
          display: block;
        }
      }
    }
  }
  .phone-list {
    font-size: 0;
  }
  .phone-item {
    padding: 0 0.07rem;
  }
  .phone-box {
    display: block;
    font-size: 0.12rem;
    background: #fff;
    position: relative;
    border: 1px solid #dedede;
    border-bottom: 0;
    position: relative;
    color: #333;
    padding-bottom: 0.1rem;
    .phone-box-flag {
      position: absolute;
      left: 0.05rem;
      width: 0.2rem;
      top: -1px;
    }
    .image-box {
      padding-top: 0.15rem;
      width: 35%;
      .image-b {
        margin-left: 0.05rem;
        margin-right: 0.05rem;
        padding-left: 0.05rem;
        padding-right: 0.05rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        border: 1px solid #eee;
      }
    }
    .txt-box {
      width: 65%;
      padding-top: 0.15rem;
      .box-content {
        padding-left: 0.03rem;
      }
      h2 {
        font-size: 0.14rem;
        line-height: 1.3;
        i {
          @include inline-block;
          font-size: 0.12rem;
          padding-top: 0.01rem;
          padding-bottom: 0.01rem;
          @include border-radius(3px);
          color: #fff;
          background: #1065c5;
          margin-right: 0.05rem;
          font-style: normal;
          padding-left: 0.05rem;
          padding-right: 0.05rem;
          //font-weight: 300;
          line-height: 1.3;
        }
        span {
          @include inline-block;
        }
      }
      div.price {
        margin-top: 0.05rem;
        .label {
          color: #333;
          font-size: 0.12rem;
          padding: 0;
          //font-weight: 300;
          @include inline-block;
          b {
            font-weight: 700;
          }
        }
        span.price {
          font-size: 0.14rem;
          color: #f2741d;
          @include inline-block;
        }
        .promotion {
          font-size: 0.10rem;
          border: 1px dashed #f2741d;
          color: #f2741d;
          margin-left: 0.05rem;
          padding-top: 0.01rem;
          padding-bottom: 0.01rem;
          padding-left: 0.05rem;
          padding-right: 0.05rem;
          line-height: 1.1;
          @include inline-block;
        }
        .sale-price {
          .promotion {
            background: #f2741d;
            color: #fff;
            border: 1px solid #f2741d;
          }
        }
      }
      .pkg {
        margin-top: 0.1rem;
        margin-right: 0.20rem;
        .pu-b {
          width: 45%;
        }
        .pu-s {
          width: 35%;
        }
        .pkg-flag {
          font-size: 0.12rem;
          color: #fff;
          background: #052d52;
          text-align: center;
          display: block;
          border: 1px dashed #052d52;
          padding-top: 0.02rem;
          padding-bottom: 0.02rem;
          span {
            display: block;
            font-size: 0.12rem;
            line-height: 0.15rem;
          }
        }
        .pkg-staff {
          display: block;
          border: 1px dashed #052d52;
          border-left: 0;
          padding-left: 0.08rem;
          color: #052d52;
          padding-top: 0.02rem;
          padding-bottom: 0.02rem;
          b {
            font-weight: 700;
          }
          span {
            display: block;
            line-height: 0.15rem;
            font-size: 0.11rem;
          }
        }
        .pkg-price {
          display: block;
          border: 1px dashed #052d52;
          border-left: 0;
          padding-left: 0.08rem;
          padding-top: 0.02rem;
          padding-bottom: 0.02rem;
          span {
            display: block;
          }
          .pkg-price-box {
            font-size: 0.16rem;
            color: #052d52;
            line-height: 0.18rem;
            em {
              color: #052d52;
            }
            sub {
              font-size: 0.1rem;
              bottom: 0;
            }
          }
          .promotion {
            font-size: 0.1rem;
            line-height: 0.12rem;
          }
        }
      }
      .goodness {
        margin-top: 0.1rem;
        li {
          list-style: disc inside;
          margin-bottom: 0.03rem;
          padding-left: 0.02rem;
          .promotion {
            font-size: 0.10rem;
            border: 1px dashed $color-primary;
            color: $color-primary;
            margin-left: 0.05rem;
            padding-top: 0.01rem;
            padding-bottom: 0.01rem;
            padding-left: 0.05rem;
            padding-right: 0.05rem;
            line-height: 1.1;
            @include inline-block;
            vertical-align: baseline;
            &.solid {
              background: $color-primary;
              border: 1px solid $color-primary;
              color: #fff;
            }
          }
        }
      }
      .buy {
        margin-top: 0.1rem;
        .btn {
          display: block;
          color: #fff;
          background: #d30505;
          margin-right: 0.2rem;
          font-size: 0.18rem;
          padding-top: 0.055rem;
          padding-bottom: 0.035rem;
        }
      }
    }
  }
  #recommend {
    margin: 0.07rem;
    .recommend-lists {
      margin-left: -0.03rem;
      margin-right: -0.03rem;
      .recommend-box {
        display: block;
        margin: 0.03rem;
        font-size: 0.12rem;
        padding: 0.05rem;
        background: #fff;
        @include box-shadow(3px 3px 5px #ccc);
        color: #333;
        .img-box {
          position: relative;
          .img-title-bg {
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: auto;
            bottom: 0;
          }
          .img-title {
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: auto;
            bottom: 0;
            padding: 0.05rem;
            font-size: 0.13rem;
            color: #fff;
            font-weight: 600;
            line-height: 0.16rem;
          }
        }
        div.price {
          margin-top: 0.05rem;
          line-height: 0.16rem;
          .label {
            color: #333;
            padding: 0;
            font-size: 0.14rem;
            font-weight: normal;
          }
          span.price {
            color: #f2741d;
            font-size: 0.14rem;
            font-weight: 600;

          }
          sub {
            font-size: 0.14rem;
            bottom: 0;
            color: #999;
          }
        }
        .pkg {
          margin-top: 0.05rem;
          line-height: 0.16rem;
          .pkg-staff {
            display: block;
            position: relative;
            b {
              font-weight: 700;
            }
            &:after {
              content: " ";
              position: absolute;
              right: 0.07rem;
              top: 0.05rem;
              bottom: 0.04rem;
              width: 1px;
              border-right: 1px dashed #999;
            }
          }
          .promotion {
            font-size: 0.1rem;
            line-height: 0.16rem;
            display: block;
          }
          .pkg-price-box {
            font-size: 0.14rem;
            line-height: 0.16rem;
            display: block;
            color: #1065c5;
            b {
              font-weight: 700;
            }
          }
        }
        .btn {
          display: block;
          border: 2px solid #d30505;
          color: #d30505;
          font-size: 0.18rem;
          padding-top: 0.045rem;
          padding-bottom: 0.025rem;
          @include border-radius(0);
          margin-top: 0.05rem;
          font-weight: bold;
          margin-bottom: 0.05rem;
        }
      }
    }
  }
  #cards {
    margin: 0.07rem;
    .card-lists {
      margin-left: -0.03rem;
      margin-right: -0.03rem;
      .card-box {
        display: block;
        margin-left: 0.03rem;
        margin-right: 0.03rem;
        padding: 0.05rem;
        background: #fff;
        margin-bottom: 0.06rem;
        @include box-shadow(3px 3px 5px #ccc);
        img {
          display: block;
          width: 44%;
        }
        .net {
          .net-details {
            padding: .05rem;
            color: #00b8f5;
            border: 2px solid #00b8f5;
            border-radius: 5px;
            position: relative;
            margin-top: .05rem;
            .net-gb {
              font-weight: 900;
              font-size: 0;
              line-height: 1;
              .net-num {
                font-size: 0.54rem;
                @include inline-block;
                vertical-align: baseline;
              }
              sub {
                font-size: 0.38rem;
                @include inline-block;
                vertical-align: baseline;
              }
            }
            .net-tel {
              font-size: .16rem;
              font-weight: 600;
            }
            .net-ocl {
              position: absolute;
              top: -.1rem;
              right: .1rem;
              font-size: .12rem;
              color: #fff;
              padding: .02rem .04rem;
              background: #02489d;
            }
          }
          .net-work {
            font-size: .14rem;
            text-align: center;
            color: #fff;
            background: #00b8f5;
            margin-top: .05rem;
            margin-bottom: .1rem;
            font-weight: 700;
            padding-top: 0.01rem;
            padding-bottom: 0.01rem;
          }
          .net-price {
            font-size: .15rem;
            margin-bottom: .1rem;
            .new {
              color: #000;
              .cheap {
                font-size: .1rem;
                color: #fff;
                background: #f24a1d;
                padding: 0 .05rem;
                margin-left: .02rem;
              }
            }
            .price {
              .new-price {
                color: #f2741d;
                font-weight: bold;
              }
              .month {
                font-size: .12rem;
                color: #f2741d;
                del {
                  color: #949494;
                }
              }
            }
          }
        }
        .btn {
          display: block;
          border: 2px solid #d30505;
          color: #d30505;
          font-size: 0.18rem;
          padding-top: 0.045rem;
          padding-bottom: 0.025rem;
          @include border-radius(0);
          margin-top: 0.05rem;
          font-weight: bold;
          margin-bottom: 0.05rem;
        }
      }
    }
  }
  #indexBanner {
    position: relative;
    .selkillbg {
      width: 84%;
      position: absolute;
      bottom: 0.34rem;
      left: 50%;
      margin-left: -42%;
      .txt {
        position: absolute;
        left: 0.84rem;
        right: 0;
        top: 0.02rem;
        bottom: 0;
        font-size: 0.12rem;
        color: #eee;
      }
    }
  }
  nav .title-page {
    letter-spacing: 0.1em;
  }
  .footer-nav.nav-list {
    padding-left: 0;
    .nav-item {
      position: relative;
      &.nav-button {
        font-size: 0.14rem;
        background: #f5f5f5;
        color: #333;
      }
      &:before {
        content: " ";
        position: absolute;
        bottom: 0.09rem;
        height: 2px;
        width: 4em;
        left: 50%;
        margin-left: -2em;
        background: #f2741d;
        display: none;
      }
      &.curr {
        color: #f2741d !important;
        &:before {
          display: block;
        }
      }
    }
  }
}

.page.pic {
  font-size: 0.12rem;
  .content-scrollable {
    background: #710100;
  }
  #homePhoneLists {
    background: #710100;
    padding: 0.05rem;
    .list_single {
      .phone-box {
        margin: 0.05rem;
        display: block;
        background: #fff;
        .img-box {
          overflow: hidden;
          img {
            height: 1rem;
            width: auto;
            margin: 0.1rem auto;
          }
        }
      }
    }
  }
  #receiverAddressPanel {
    display: block !important;
    margin-top: -0.1rem;
  }
  .adr-content {
    display: none !important;
  }
  .order-content {
    .content-bd {
      background-image: url("/images/phones/C/indexBoxBd.png");
      background-color: #fff;
      background-repeat: repeat-y;
      background-size: 100% auto;
      padding-bottom: 0.3rem;
      h2 {
        font-size: 0.24rem;
        color: #00317e;
        text-align: center;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
      }
      .star-color {
        color: $color-primary;
      }
      .title-icon, .sp-title {
        font-size: 0.14rem;
        font-weight: bold;
      }
      .submit-form {
        margin-top: 0.25rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
      }
      .content-bd-box {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        .address .weui-cell {
          margin-left: 0;
          margin-right: 0;
          @include border-radius(0);
        }
        .input-ok {
          display: none;
        }
        #receiverAddressPanel {
          margin-top: 0;
        }
      }
      .adr-tab {
        margin-top: 0;
        .weui-cell {
          margin-top: 0;
          margin-bottom: 0;
          padding-left: 0;
          border: 0;
          .weui-cell__bd {
            padding-left: 0;
            &:before {
              display: none;
            }
          }
          .weui-cell__ft {
            display: none;
          }
        }
      }
      .spc-list {
        margin-left: -0.05rem;
        margin-right: -0.05rem;
        .item-box {
          border: 1px solid #ccc;
          margin: 0.05rem;
          padding: 8px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          &.curr {
            border: 2px solid $color-primary;
            padding: 7px;
          }
        }
      }
      .weui-cell__hd {
        display: none;
      }
      #inputsStoreSelect {
        padding: 0;
        border: 0;
        .weui-cell__hd {
          display: block;
          .weui-label {
            padding: 10px 15px;
            border: 1px solid #999;
            margin-right: 0.1rem;
            background-color: #d6d6d6;
          }
        }
        .weui-cell__bd {
          padding: 10px 15px;
          border: 1px solid #999;
        }
      }
    }
  }
  .buyers {
    font-size: 0.12rem;
    padding-top: 0.3rem;
    background: #710100;
    .content-bd {
      background-image: url("/images/phones/C/buyersBoxBd.png");
      background-color: #027043;
      background-repeat: repeat-y;
      background-size: 100%;
      .content-bd-box {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        table {
          width: 100%;
          &:before {
            display: none;
          }
          &:after {
            display: none;
          }
          tbody {
            tr {
              &:nth-child(odd) {
                background: #00653d;
              }
              &:nth-child(even) {
              }
              td {
                &:last-child {
                  color: #edd00d;
                }
              }
            }
          }
          th {
            color: #fff;
            &:before {
              display: none;
            }
            &:after {
              display: none;
            }
          }
          td {
            color: #fff;
            &:before {
              display: none;
            }
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}

.overlay.overlay-c.overlay-code .qrcode-url {
  position: absolute;
  bottom: 0.3rem;
  left: 20%;
}