.page.p-details {
  .no-border {
    &.weui-cells {
      &:after {
        display: none;
      }
    }
  }
  .about-yfq {
    font-size: 0.14rem;
    .weui-media-box {
      background: #fff;
    }
    .weui-media-box__hd {
      width: 0.48rem;
      margin-right: 0.1rem;
      img {
        display: block;
        width: 100%;
        border:1px solid #d8d8d8;
      }
    }
    .weui-media-box__bd {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      min-width: 0;
      .weui-media-box__title {
        position: relative;
        .icon-cross {
          float: right;
          color: #999;
        }
      }
    }
    .weui-actionsheet__action {
      margin-top: 0;
      .weui-navbar {
        position: relative;
        &:before {
          border-top: 1px solid #ccc;
          top: 0;
          color: #ccc;
          content: " ";
          height: 1px;
          left: 0;
          position: absolute;
          right: 0;
          transform: scaleY(0.5);
          transform-origin: 0 100% 0;
          z-index: 1;
        }
      }
      .weui-navbar__item {
        font-size: 0.14rem;
        background: #fff;
        &:after {
          border-right: 0;
        }
        .navbaricon {
          display: block;
          margin: 0 auto;
          width: 0.4rem;
          height: 0.4rem;
          background-image: url("/images/active/d/new/nav1.png");
          background-size: 80% 80%;
          background-position: center center;
          background-repeat: no-repeat;
        }
        &:nth-child(1) {
          .navbaricon {
            background-image: url("/images/active/d/new/nav1.png");
          }
        }
        &:nth-child(2) {
          .navbaricon {
            background-image: url("/images/active/d/new/nav2.png");
          }
        }
        &:nth-child(3) {
          .navbaricon {
            background-image: url("/images/active/d/new/nav3.png");
          }
        }
        &:nth-child(4) {
          .navbaricon {
            background-image: url("/images/active/d/new/nav4.png");
          }
        }
        &.weui-bar__item_on {
          color: #ff5b29;
          &:nth-child(1) {
            .navbaricon {
              background-image: url("/images/active/d/new/nav1-on.png");
            }
          }
          &:nth-child(2) {
            .navbaricon {
              background-image: url("/images/active/d/new/nav2-on.png");
            }
          }
          &:nth-child(3) {
            .navbaricon {
              background-image: url("/images/active/d/new/nav3-on.png");
            }
          }
          &:nth-child(4) {
            .navbaricon {
              background-image: url("/images/active/d/new/nav4-on.png");
            }
          }
        }
      }
      .weui-tab__item {
        height: 3.5rem;
        overflow-y: scroll;
      }
    }
  }
  .product-header {
    .price-area {
      background: #DEBD7F;
      font-size: 0.22rem;
      line-height: 1.1;
      sub {
        color: $color-primary;
      }
      em {
        color: $color-primary;
      }
      ins {
        background: #DEBD7F;
        color: $color-primary;
      }
      .timer-area {
        color: #000;
        .timer {
          i {
            background: #000;
            color: #fff;
          }
          sub {
            color: #fff;
          }
        }
      }
    }
  }

  .price-table {
    background: #e5e5e5;
    table {
      font-size: 0.12rem;
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
      th, td {
        background: #bababa;
        &:before {
          border-right: 1px solid #e5e5e5;
        }
        &:after {
          border-bottom: 1px solid #e5e5e5;
        }
        &.imp-has-bg {
          background: $color-primary;
          color: #fff;
        }
        &.imp {
          color: $color-primary;
        }
        &.no-after {
          &:after {
            display: none;
          }
        }
        &.no-before {
          &:before {
            display: none;
          }
        }
        &.txt-l {
          text-align: left;
          padding: 0.1rem;
        }
      }
    }
    &.black {
      table {
        th, td {
          background: #000;
          color: #fff;
        }
      }
    }
  }
  .why {
    background: #debd7f;
    padding: 0.15rem;
    font-size: 0.12rem;
    .why-lists {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        &:last-child {
          .why-box {
            margin-bottom: 0;
          }
        }
      }
    }
    .why-box {
      margin-bottom: 0.15rem;
      font-size: 0.12rem;
      background: #3c3c3c;
      color: #fff;
      padding: 0.15rem;
      h3 {
        font-size: 0.16rem;
        color: #debd7f;
        font-weight: bold;
      }
    }
  }
  .fqa {
    background: #debd7f;
    padding: 0.15rem;
    font-size: 0.12rem;
    .fqa-lists {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .fqa-box {
      margin-bottom: 0.15rem;
      font-size: 0.12rem;
      h3 {
        font-size: 0.16rem;
        color: $color-primary;
        font-weight: bold;
      }
    }
  }
  .content-scrollable {
    padding-top: 0.45rem;
  }
  .page-title {
    font-size: 0.18rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    line-height: 1;
    text-align: center;
    position: relative;
    &:after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #ccc;
      @include scaleY(0.5);
    }
  }

  &.mo {
    .content-scrollable {
      background: #fff;
    }
    .product-title {
      font-size: 0.22rem;
      margin-top: 0.15rem;
      color: #99cc33;
      margin-bottom: 0.3rem;
      small {
        font-size: 0.14rem;
        color: #666;
      }
    }

    .weui-cells__title {
      float: left;
      margin-top: 0.4em;
      padding-left: 0.15rem;
      &:before {
        display: none;
      }
      .question {
        display: none;
      }
    }

    #phoneTypes {
      display: none;
    }
    #phoneStorages, #phoneColors, #phonePackage, #phonePackage, #phoneQuery {
      margin-bottom: 0.2rem;
      clear: both;
      & > div {
        & > .item-lists {
          .list-item {
            width: auto;
          }
          .item-box {
            border: 0;
            @include border-radius(0);
            background: #e4e4e4;
            padding: 0.07rem 0.17rem 0.07rem 0.17rem;
            color: #757575;
            @include box-sizing("border-box");
            border: 1px solid #e4e4e4;
            &.curr {
              border: 1px solid #99cc33;
              color: #757575;
              font-weight: normal;
            }
            ins {
              display: none;
            }
          }
          &.phone-colors-lists {
            li {
              width: auto;
              .item-box {
                overflow: hidden;
                text-indent: -999rem;
                @include border-radius(30px);
                padding: 0.06rem;
                width: 0.38rem;
                height: 0.38rem;
                p {
                  display: block;
                  @include border-radius(30px);
                  width: 100%;
                  height: 100%;
                }
              }
              &:nth-child(1) {
                p {
                  background: url("http://pic.5ilend.com/fileserver/image/201610/10/6a04e194b5b34b53bbdb4e345a014fb0.jpg");
                }
              }
              &:nth-child(2) {
                p {
                  background: url("http://pic.5ilend.com/fileserver/image/201610/10/808462b1572c4fd8b677a3c4006b63dc.jpg");
                }
              }
              &:nth-child(3) {
                p {
                  background: url("http://pic.5ilend.com/fileserver/image/201607/24/bac1bb310a8b420d9b67da06c5357453.jpg");
                }
              }
              &:nth-child(4) {
                p {
                  background: url("http://pic.5ilend.com/fileserver/image/201607/24/b9de3093756646fcaf9d100e53cee3aa.jpg");
                }
              }
              &:nth-child(5) {
                p {
                  background: url("http://pic.5ilend.com/fileserver/image/201607/24/d402fb0fd25740c88de28d3573233452.jpg");
                }
              }
            }
          }
        }
      }
    }

    .footer-nav {
      padding-left: 0;
      height: auto;

      .nav-item {
        display: none;
        &.nav-button {
          display: block;
          width: 100%;
          padding: 0.1rem;
          background: #fff;
          a {
            background: #81b618;
            @include border-radius(4px);
          }
        }
      }
    }
    .temp-cart-title {
      font-size: 0.16rem;
      margin-left: 1rem;
    }
    .temp-cart-details {
      font-size: 0.14rem;
      color: #666;
      margin-bottom: 0.5rem;
      margin-left: 1rem;
    }
  }
  &.hu {
    .owl-carousel {
      padding-bottom: 0;
    }
    .product-header {
      margin-top: 0.1rem;
      margin-bottom: 0.1rem;
    }
    #phoneQuery {
      & > .weui-cells__title {
        display: none;
      }
      .phone-query-panel {
        display: none;
      }
      .weui-cells_form {
        margin-top: 0;
      }
      .weui-btn-area {
        display: none;
      }
      .overlay {
        position: relative;
        z-index: 0 !important;
        .overlay-title {
          display: none;
        }
        .overlay-dismiss {
          display: none;
        }
        .content-scrollable {
          position: static !important;
          padding-top: 0;
        }
      }
    }
    #numberPanel {
      display: block !important;
    }
    #phoneTypes, #phoneStorages, #phoneColors, #phonePackage, #receiverAddress {
      background: #fff;
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      .weui-cells__title {
        margin-top: 0;
        padding-bottom: 0.1rem;
        margin-bottom: 0.1rem;
        line-height: 1;
        &:before {
          top: 0;
          margin-top: 0;
          height: 0.16rem;
        }
        &:after {
          content: " ";
          position: absolute;
          bottom: 0;
          left: 0.15rem;
          right: 0.15rem;
          height: 1px;
          border-bottom: 1px solid #eee;
        }
      }
      .question {
        display: none;
      }
      .item-lists-tips {
        display: none;
      }
    }
    .spc-title {
      margin-top: 0.1rem;
      background: #fff;
      color: $color-primary;
      &:after {
        content: " ";
        position: absolute;
        left: 0.15rem;
        right: 0.15rem;
        bottom: 0;
        height: 1px;
        border-bottom: 1px solid #eee;
      }
      span {
        &:first-child {
          &:after {
            background: $color-primary;
          }
        }
        &:last-child {
          &:before {
            background: $color-primary;
          }
        }
      }
    }
    .flow-fqa {
      background: #fff;
    }
  }
}

.phone-d-tb {
  .t-title {
    background-color: #e5e5e5;
  }
  .c-gy {
    color: #999;
  }
  .diffrent {
    background-color: #FBDFDD;
    color: #d83e14;
    font-weight: 600;
  }
  .notice {
    font-size: .12rem;
    color: #d83e14;
    position: relative;
    margin-top: .05rem;
    span {
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #d83e14;
      border-radius: 50%;
      width: .15rem;
      height: .15rem;
      text-align: center;
      line-height: .17rem;
      vertical-align: middle;
    }
  }
}