<div id="phonePackage" class="phone-package">
    <input type="hidden" name="mainProductId" id="mainProductId" ng-model="package.productId" value="{{package.productId}}" required class="weui_input">
    <input type="hidden" name="productId" id="productId" value="{{package.productId}}" required class="weui_input">

    <input id="mainNumber" name="mainNumber" ng-model="mainNumber" type="hidden" required value="{{mainNumber}}">
    <div class="weui-cells__title title-icon">
        <span class="title" ng-bind="packageTitle"></span>
        <!--<span class="sub-title" ng-class="{true:'hide',false:''}[packageSubTitle == '']"
              ng-bind="packageSubTitle"></span>-->
    </div>
    <div class="phone-package-panel">

        <div class="card-details">

            <div class="phone-pkgs-panel pd-w">
                <ul class="phone-pkgs-lists item-lists minus pure-g">
                    <li class="phone-pkgs-item fst list-item pure-u-1">
                        <div class="item-box margin border radius small pure-g">
                            <span class="pure-u-1-5">实缴月租</span>
                            <span class="pure-u-1-5">套餐档位</span>
                            <span class="pure-u-1-5">赠送话费</span>
                            <span class="pure-u-1-5">通适时长</span>
                            <span class="pure-u-1-5">包含流量</span>
                        </div>
                    </li>
                    <li class="phone-pkgs-item list-item pure-u-1"
                        ng-repeat="pkg in packages" ng-class="{true:'active',false:''}[pkg.productId == package.productId]">
                        <div class="item-box margin border radius small pure-g"
                             ng-class="{true:'curr',false:''}[pkg.productId == package.productId]"
                             ng-click="setPhonePackage($event,pkg)">
                            <span class="ib pure-u-1-4 rd" style="font-size: 0.16rem"><span>￥</span><span
                                                ng-bind="(pkg.oldPrice * 36 - pkg.salesPrice)/36 | numberUp"></span><span>套餐</span></span>
                            <span class="ib pure-u-1-6">
                                            <del><span>￥</span><span
                                                    ng-bind="pkg.oldPrice | number:0"></span></del></span>
                            <span class="ib pure-u-1-5 rd" style="font-size: 0.16rem"><span>￥</span><span
                                    ng-bind="pkg.salesPrice | number:0"></span></span>
                            <span class="ib pure-u-1-5"><span
                                    ng-bind="pkg.talkTime"></span><span>分钟</span></span>
                            <span class="ib pure-u-1-6"><span
                                    ng-bind="pkg.network"></span><span>G</span></span>
                        </div>

                        <div class="pick-number">
                            <div class="pick-panel">

                                <div class="query-panel" ng-show="queryNumber">
                                    <ul class="query-lists item-lists pure-g">
                                        <li  class="query-item list-item pure-u-1-2" ng-repeat="numberItem in mainItems | orderBy: -s" >
                                            <div class="item-box" ng-class="{true:'curr',false:''}[mainNumber == numberItem.n]" ng-click="setMainNumber($event,numberItem)">
                                                <p class="phone-number" >
                                                    <span class="weui-icon-success weui-icon_msg"></span>
                                                    <span style="font-size: 0.16rem" ng-bind-html="numberItem.n | replaceInput : mainQuery | trustHtml"></span>
                                                    <span class="nd"><del>原价￥200</del><em>￥0</em></span>
                                                </p>
                                                <ins class="icon-check"></ins>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="show-main-number" ng-show="!queryNumber">您已选择手机号码：<span ng-bind="mainNumber"></span> <a href="javascript:;" ng-click="reChoose()">重新选号></a></div>

                                <div class="the-notice" ng-show="queryNumber">
                                    <p class="icon-time">  限时0元选价值200元靓号</p>
                                </div>
                                <div class="sbtn pure-g" ng-show="queryNumber">
                                    <a class="sb-prev pure-u-1-3" href="javascript:;" ng-click="Previous('main')"><i class="icon-arrow-left-alt"></i><span>上一页</span></a>
                                    <a class="sb-next pure-u-1-3" href="javascript:;" ng-click="Next('main')"><span>下一页</span><i class="icon-arrow-right-alt"></i></a>
                                </div>
                                <div class="selected-pkg" ng-if="pkg">
                                    <p>所选套餐：运营原价：<span ng-bind="pkg.oldPrice | number:0"></span>元/月，现可享5折优惠36个月，即<span ng-bind="(pkg.oldPrice * 36 - pkg.salesPrice)/36 | numberUp"></span>元/月 <span ng-bind="pkg.network"></span>G国内流量，<span ng-bind="pkg.talkTime"></span>分钟国内通话，50条短信
                                        <span ng-if="pkg" class="card-pkg" ss-dd="pkg"></span>
                                    </p>
                                </div>

                            </div>
                        </div>

                    </li>
                </ul>
            </div>

        </div>

        <!--<div class="img-box">
            <img src="/images/phones/C/pkg-tips.png">
        </div>-->
    </div>

</div>