<div id="setPayType" class="pay-type">
    <input type="hidden" name="payType" id="payType" ng-model="payType" value="{{payType}}" required>
    <div class="weui-cells__title title-icon">
        <span class="title" ng-bind="payTitle"></span><span class="star-color">*</span>
        <span class="sub-title">
            <span ng-bind="payTypeName"></span>
        </span>
    </div>
    <div class="paytype-panel pd-w">

        <div class="weui-flex">
            <div class="weui-flex__item" data-title="马上付款" ng-class="{true:'curr',false:''}[payType == 0]" ng-click="setPayType($event,0);">
                <p class="title">马上付款</p>
                <ins style="display: none"><span ng-bind="phone.discountRate * 100"></span>折</ins>
            </div>
            <div class="weui-flex__item" data-title="分期付款" ng-if="mainColor.salePrice >= 1000" ng-class="{true:'curr',false:''}[payType == 2]" ng-click="setPayType($event,2);">
                <p class="title">分期付款</p>
                <ins style="display: none">免息</ins>
            </div>
            <div class="weui-flex__item" data-title="货到付款" ng-class="{true:'curr',false:''}[payType == 1]" ng-click="setPayType($event,1);">
                <p class="title">货到付款</p>
            </div>
        </div>
    </div>
</div>