<div id="wxQrCode" style="display: none">
    <div class="overlay overlay-code overlay-active-c">
        <a class="js-close-overlay overlay-dismiss" href="javascript:;"><span class="icon-cross"></span></a>
        <div class="qrcode-content">
            <div class="qrcode-img">
                <div class="img-box">
                    <img class="fudai-1" src="/images/active/fudai.gif">
                    <img class="fudai-2" style="display: none;" src="/images/active/fudai_unpack.gif">
                    <img class="fudai-3" style="display: none;" src="/images/active/fudai_error.gif">
                </div>
            </div>
            <div class="qrcode-txt">
                <div class="quan-form">
                    <form id="couponForm" name="couponForm" action="#" method="post" novalidate>
                        <div class="qrcode-txt-title">输入手机号码立即领券</div>
                        <div class="weui-cell input-mobile" ng-class="{'weui-cell_warn':couponForm.couponMobile.$dirty== true && couponForm.couponMobile.$valid == false,'weui-cell_success':couponForm.couponMobile.$valid == true}">
                            <div class="weui-cell__bd weui_cell_primary">
                                <input id="couponMobile" name="couponMobile" ng-blur="inputHomeArgs(1)" ng-model="coupon.mobile" ng-maxlength="11" ng-pattern="/^[0-9]*$/" pattern="[0-9]*" ng-minlength="11" placeholder="请填写手机号码..." class="weui-input" required/>
                            </div>
                            <div class="weui-cell__ft"><i class="weui-icon-warn" ng-if="couponForm.receiverMobile.$dirty== true && couponForm.receiverMobile.$valid == false"></i><i class="weui-icon-success" ng-if="couponForm.receiverMobile.$valid == true"></i></div>
                        </div>

                        <div class="weui-cell weui-cell_vcode input-vcode" ng-class="{'weui-cell_warn':couponForm.couponActiveCode.$dirty== true && couponForm.couponActiveCode.$valid == false,'weui-cell_success':couponForm.couponActiveCode.$valid == true}">
                            <div class="weui-cell__bd weui_cell_primary">
                                <input name="couponActiveCode" ng-blur="inputHomeArgs(0)" ng-model="coupon.activeCode" ng-maxlength="4" ng-pattern="/^[0-9]*$/" pattern="[0-9]*" ng-minlength="4" placeholder="请输入验证码..." class="weui-input" required/>
                            </div>
                            <div class="weui-cell__ft"><a href="javascript:;" class="weui-vcode-btn" ng-click="getCouponActiveCode($event,coupon.mobile)" ng-class="paraclass" ng-bind="paracont">获取验证码</a></div>
                        </div>

                        <div class="lingquan img-box" ng-click="getQuan()">
                            <img src="/images/active/lingquan.gif">
                        </div>
                    </form>
                </div>
                <div class="quan-error hide">
                    <p class="qrcode-txt-title">您已经领取该购机红包</p>
                    <p class="qrcode-txt-disc">每人限领1个</p>
                    <div class="lingquan img-box" ng-click="usingQuan()">
                        <img src="/images/active/buy-phone.gif">
                    </div>
                </div>
                <div class="quan-result hide">
                    <p class="qrcode-txt-disc">您可以到微信公众号<br>“<em>翼分期商城</em>“<br>中查看优惠券</p>
                    <div class="lingquan img-box" ng-click="usingQuan()">
                        <img src="/images/active/usingQuan.gif">
                    </div>
                    <div class="lingquan img-box" ng-click="shareQuan()">
                        <img src="/images/active/shareQuan.gif">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>