<div class="page p-details a-details a-details-c">
    <top-nav page-title="中国电信●翼分期商城" home-url="/phone/active/D/phones" page-back="back" page-done="contact"></top-nav>
    <form id="checkoutForm" name="checkoutForm" action="http://192.168.1.182:8082/wap/taokafanghaoNew/submitOrderDouble.html" method="post" novalidate>
    <!--<form id="checkoutForm" name="checkoutForm" action="http://m.yfq.cn/wap/taokafanghaoNew/submitOrderDouble.html" method="post" novalidate>-->
        <input type="hidden" value="1" name="monthNumber" id="monthNumber">
        <input type="hidden" value="{{category}}" name="category" id="category">
        <input type="hidden" value="{{phone.activityproductId}}" ng-model="phone.productId" name="machineId"
               id="machineId">
        <input type="hidden" value="{{activeTag}}" ng-model="activeTag" name="activeTag" id="activeTag">
        <input type="hidden" value="{{redirectUrl}}" name="phoneQueryUrl" id="phoneQueryUrl">
        <gh></gh>
        <activity></activity>
        <referrer-no></referrer-no>
        <redirect-url></redirect-url>
        <div class="content-scrollable has-footer">

            <div class="owl-carousel" img-urls="imgUrls"></div>

            <div class="product-header">
                <div class="product-txt">
                    <h1><span ng-bind="phone.phoneTypes[0].productName"></span></h1>
                    <h2>预存话费抵手机价格，满￥100减￥5，最高可减800元！<br>支付有惊喜，享更多优惠！</h2>
                    <div class="product-price">
                        <ul class="pure-g">
                            <li class="pure-u-4-5" style="padding-left: 0">
                                <span>合约优惠价：</span>
                                <em>￥</em><em ng-bind="totalPrice - (totalPrice | jm:800) | number : 0"></em>
                                <del style="color: #999;margin-left:0.1rem">合约价：￥<span ng-bind="totalPrice * 1 | number : 0"></span></del>
                            </li>
                            <li class="pure-u-1-5" style="text-align: right">已售<em ng-bind="sold" style="font-size: 0.12rem;font-weight: normal"></em>件</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-footer">
                <div class="img-box">
                    <img src="/images/phones/C/check.png">
                </div>
            </div>

            <div id="coupons" style="padding-bottom: 0.15rem">
                <div class="weui-cells__title title-icon">
                    <span class="title">优惠</span><span class="star-color"></span>
                </div>
                <div class="coupon-panel">

                    <div class="weui-cells">
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><span>立减</span></div>
                            <div class="weui-cell__bd">用话费换购机，逢￥100减￥5，最高立减￥800</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><span>立省</span></div>
                            <div class="weui-cell__bd">预存话费直抵购机价，一次性支付享95折优惠</div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="phoneColors" ng-show="phone.activityproductId != 366 && phone.activityproductId != 367 && phone.activityproductId != 368 && phone.activityproductId != 369">
                <main-colors title="选择颜色" ng-if="phone"></main-colors>
            </div>

            <div id="phoneFlash" style="background: #fff;margin-top: 0.1rem;padding-top: 0.1rem;padding-bottom: 0.15rem" ng-show="phone.activityproductId == 366 || phone.activityproductId == 367 || phone.activityproductId == 368 || phone.activityproductId == 369">
                <div class="weui-cells__title title-icon">
                    <span class="title">选择容量</span>
                    <span class="star-color">*</span>
                    <span class="sub-title" ng-class="{true:'hide',false:''}[colorSubTitle == '']">
                        <span ng-bind="phone.phoneTypes[0].productMemory"></span>
                    </span>
                </div>
                <div class="flash-panel pd-w">
                    <ul class="item-lists minus pure-g">
                        <li class="list-item pure-u-1-2" ng-repeat="flash in phoneFlash">
                            <div class="item-box margin border radius small ng-scope" ng-class="{true:'curr',false:''}[flash.phoneId == phone.activityproductId]" ng-click="setFlashDriver(flash)">
                                <p><span ng-bind="flash.flash"></span>G</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <phone-d-package title="选择中国电信套餐" sub-title="未选套餐"></phone-d-package>

            <!--<div id="promise">
                <div class="weui-cells__title title-icon">
                    <span class="title">保障服务</span>
                </div>
                <div class="img-box">
                    &lt;!&ndash;<img src="/images/phones/assets/details/promise.png">&ndash;&gt;
                    <img src="/images/phones/assets/details/promise.jpg">
                </div>
            </div>-->

            <div class="img-box" ng-if="pageBack=='home'" ng-click="home()" style="margin-top: 0.1rem">
                <img src="/images/active/d/new/4.jpg">
            </div>

            <adr></adr>

            <div class="no-border weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><img class="weui-media-box__thumb" src="/images/active/d/new/logo.gif" alt="" style="width: 40px;height:40px;display: block;margin-right: 0.1rem;border: 1px solid #d8d8d8;"></div>
                    <div class="weui-cell__bd">
                        <p style="font-size: 0.14rem">翼分期商城</p>
                        <p class="weui-media-box__desc" style="color: #999;font-size: 0.12rem">广州传飞通讯设备有限公司旗下子品牌</p>
                    </div>
                    <div class="weui-cell__ft" style="padding-right: 0"><img class="weui-media-box__thumb" src="/images/active/d/new/honer.png" alt="" style="height:40px;display: block;"></div>
                </div>
            </div>
            <div class="img-box">
                <img src="/images/active/d/new/5.jpg">
            </div>
            <div style="font-size: 0.12rem;padding-top: 0.2rem;padding-bottom: 0.2rem;background: #fff">
                <a has-hash="false" href="javascript:userTrack('showAboutInfo');" class="js-action-sheet-show weui-btn weui-btn_plain-default" style="font-size: 0.14rem;line-height: 2em;border: 1px solid #f6692a;color: #f6692a;display: block;margin: 0 auto; width: 30%">查看信息</a>
            </div>

            <!--<coupon-list></coupon-list>-->

            <c-pay-type title="选择支付方式"></c-pay-type>

            <div class="pay-container pd-w">
                <div class="pay-content" ng-if="payType == 0">
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">合约价</span>
                        <span class="price pure-u-1-2"><em>￥</em><em ng-bind="totalPrice | number:0"></em></span>
                        <span class="tips pure-u-1-1" style="font-size: 0.12rem;color:#999;text-align: right"><span>(购机价￥</span><span ng-bind="totalPrice - package.salesPrice"></span><span>+预存话费￥</span><span ng-bind="package.salesPrice | number:0"></span>，<span>分36个月返还)</span></span>
                    </div>
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">满减优惠</span>
                        <span class="price pure-u-1-2">
                            <span><em>-￥</em><em ng-bind="totalPrice | jm:800"></em></span>
                        </span>
                    </div>
                    <div class="pure-g">
                        <span class="lb pure-u-1-2"><span style="display: inline-block;margin-bottom:0.05rem;color:#fff;background: #d83e14;padding-left: 0.1rem;padding-right: 0.1rem;">限时优惠95折</span></span>
                        <span class="price pure-u-1-2">
                            <span><em>-￥</em><em ng-bind="(totalPrice - (totalPrice | jm:800)) * 0.05 | numberUp"></em></span>
                        </span>
                    </div>
                    <div class="real-price pure-g">
                        <span class="lb pure-u-1-2">实付金额</span>
                        <span class="price pure-u-1-2"><em>￥</em><em ng-bind="totalPrice - ((totalPrice - (totalPrice | jm:800)) * 0.05 + (totalPrice | jm:800)) | numberUp"></em></span>
                    </div>
                </div>

                <div class="pay-content" ng-if="payType == 1">
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">合约价</span>
                        <span class="price pure-u-1-2"><em>￥</em><em ng-bind="totalPrice | number:0"></em></span>
                        <span class="tips pure-u-1-1" style="font-size: 0.12rem;color:#999;text-align: right"><span>(购机价￥</span><span ng-bind="totalPrice - package.salesPrice"></span><span>+预存话费￥</span><span ng-bind="package.salesPrice | number:0"></span>，<span>分36个月返还)</span></span>
                    </div>
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">满减优惠</span>
                        <span class="price pure-u-1-2">
                            <span><em>-￥</em><em ng-bind="totalPrice | jm:800"></em></span>
                        </span>
                    </div>
                    <div class="pure-g">
                        <span class="lb pure-u-1-2"><span style="display: inline-block;margin-bottom:0.05rem;color:#fff;background: #d83e14;padding-left: 0.1rem;padding-right: 0.1rem">限时优惠95折</span></span>
                        <span class="price pure-u-1-2">
                            <span><em>-￥</em><em ng-bind="(totalPrice - (totalPrice | jm:800)) * 0.05 | numberUp"></em></span>
                        </span>
                    </div>
                    <div class="real-price pure-g">
                        <span class="lb pure-u-1-2">
                            <span>送货到家实付金额</span>
                        </span>
                        <span class="price pure-u-1-2"><em>￥</em><em ng-bind="totalPrice - ((totalPrice - (totalPrice | jm:800)) * 0.05 + (totalPrice | jm:800)) | numberUp"></em></span>
                        <span class="tips pure-u-1-1" style="font-size: 0.12rem;color:#999;text-align: right"><span>送货上门，信用卡也可享12期免息分期！</span></span>
                    </div>
                </div>

                <div class="pay-content" ng-if="payType == 2">
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">合约价</span>
                        <span class="price pure-u-1-2">
                            <em>￥</em><em ng-bind="totalPrice| number : 0"></em>
                        </span>
                        <span class="tips pure-u-1-1" style="font-size: 0.12rem;color:#999;text-align: right"><span>(购机价￥</span><span ng-bind="totalPrice - package.salesPrice"></span><span>+预存话费￥</span><span ng-bind="package.salesPrice | number:0"></span>，<span>分36个月返还)</span></span>
                    </div>
                    <div class="pure-g">
                        <span class="lb pure-u-1-2"><span style="display: inline-block;color:#fff;background: #d83e14;padding-left: 0.1rem;padding-right: 0.1rem">12期免息</span></span>
                        <span class="price pure-u-1-2">
                            <em>0息率(12期)</em>
                        </span>
                    </div>
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">满减优惠</span>
                        <span class="price pure-u-1-2">
                            <span><em>-￥</em><em ng-bind="totalPrice | jm:800"></em></span>
                        </span>
                    </div>
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">分期总额</span>
                        <span class="price pure-u-1-2">
                            <span><em>￥</em><em ng-bind="totalPrice - (totalPrice | jm:800) | number : 0"></em></span>
                        </span>
                    </div>
                    <div class="real-price pure-g">
                        <span class="lb pure-u-1-2">
                            <span>月供</span>
                        </span>
                        <span class="price pure-u-1-2">
                            <em>￥</em>
                            <em ng-bind="(totalPrice - (totalPrice | jm:800))/12 | numberUp"></em>
                            <em> X 12期</em><em style="font-size: 0.16rem">免息</em>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <!--<div class="right-nav" ng-click="showFudai()">
            <div class="img-box">
                <img src="/images/active/11.png">
            </div>
        </div>-->

        <div class="footer-nav nav-list">
            <div class="pure-g">
                <div class="nav-price nav-item pure-u-3-5">
                    <div ng-if="payType == 0">
                        <span>实付金额：</span>
                        <em>￥</em>
                        <span><em ng-bind="totalPrice - ((totalPrice - (totalPrice | jm:800)) * 0.05 + (totalPrice | jm:800)) | numberUp"></em></span>
                    </div>
                    <div ng-if="payType == 1">
                        <span>实付金额：</span>
                        <em>￥</em>
                        <span><em ng-bind="totalPrice - ((totalPrice - (totalPrice | jm:800)) * 0.05 + (totalPrice | jm:800)) | numberUp"></em></span>
                    </div>
                    <div ng-if="payType == 2">
                        <span>月供：</span><em>￥</em>
                        <em ng-bind="(totalPrice - (totalPrice | jm:800))/12 | numberUp"></em>
                        <em style="font-size: 0.16rem"> X 12期</em><em style="font-size: 0.16rem">免息</em>
                    </div>
                </div>
                <div class="nav-button nav-item pure-u-2-5">
                    <a id="footerPayButton" has-hash="false" href="javascript:userTrack('submitForm');" ng-click="submitForm($event);">
                        <span ng-if="payType == 1">预约送货</span>
                        <span ng-if="payType != 1">提交订单</span>
                    </a>
                </div>
            </div>
        </div>
    </form>
    <!--<ng-coupon></ng-coupon>-->

    <div>
        <div class="weui-mask" id="iosMask" style="opacity: 1;display: none"></div>
        <div class="about-yfq weui-actionsheet" id="iosActionsheet">
            <div class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="/images/active/d/new/logo.gif" alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title" style="font-size: 0.16rem">翼分期商城<span class="js-action-sheet-hide icon-cross right"></span></h4>
                    <p class="weui-media-box__desc">广州传飞通讯设备有限公司旗下品牌</p>
                </div>
            </div>
            <div class="weui-actionsheet__action">
                <div class="weui-tab">
                    <div class="weui-navbar">
                        <div class="weui-navbar__item weui-bar__item_on">
                            <span class="navbaricon"></span>
                            基本信息
                        </div>
                        <div class="weui-navbar__item">
                            <span class="navbaricon"></span>
                            以司简介
                        </div>
                        <div class="weui-navbar__item">
                            <span class="navbaricon"></span>
                            电信授权
                        </div>
                        <div class="weui-navbar__item">
                            <span class="navbaricon"></span>
                            百度认证
                        </div>
                    </div>
                    <div class="weui-tab__panel">
                        <div class="weui-tab__item weui-tab__item_on">
                            <div class="img-box" style="width: 40%;margin-left: 30%;margin-top: 0.2rem">
                                <img src="/images/active/d/new/qrcode.png">
                            </div>
                            <p style="color: #999;margin-top: 0.05rem;margin-bottom: 0.1rem; text-align: center">(长按保存图片)</p>
                            <p style="text-align: center;font-size: 0.15rem">关注公众号"翼分期商城"，获取电信手机及<br>周边产品优惠活动，海量手机、号码套餐等产品<br>任您挑选</p>
                            <p style="font-size: 0.15rem;text-align: center;margin-top: 0.2rem;margin-bottom: 0.05rem">电话号码：020-8599918</p>
                            <p style="font-size: 0.15rem;text-align: center">地址：广州市天河区黄埔大道西53号</p>
                            <p style="font-size: 0.15rem;text-align: center;margin-bottom: 0.3rem">恒城大厦B座3007</p>
                        </div>
                        <div class="weui-tab__item">
                            <h2 style="font-size: 0.16rem;margin-right: 0.15rem;margin-left: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.15rem">关于翼分期</h2>
                            <p style="font-size: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.15rem;margin-right: 0.15rem;margin-left: 0.15rem">翼分期商城隶属于广州传飞通讯设备有限公司，成立于2013年4月。总部坐落于华南电子商务中心。是获得中国电信股份有限公司广东省公司独家授权的手机分期平台。是国内首家提供3c类产品“0利息0手续费”分期支付服务的分期商城。</p>
                            <p style="font-size: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.15rem;margin-right: 0.15rem;margin-left: 0.15rem">相较于同类分期商城，翼分期拥有更为严格的产品采购体系。极具竞争力的价格以及完善的配送售后服务，上线至今赢得客户一致好评与信赖。</p>
                            <p style="font-size: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.35rem;margin-right: 0.15rem;margin-left: 0.15rem">翼分期目前已与中国银行、中国工商银行，招商银行，建设银行、农业银行、广发银行18家银行建立深度合作关系。</p>
                        </div>
                        <div class="weui-tab__item">
                            <div class="img-box">
                                <img src="/images/active/d/new/tab3.jpg">
                            </div>
                        </div>
                        <div class="weui-tab__item">
                            <div class="img-box">
                                <img src="/images/active/d/new/tab4.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>