<div class="page fd-details in v3">
    <top-nav page-title="翼分期商城福利" page-back="menu" nav-visibility="hide"></top-nav>
    <form id="checkoutForm" name="checkoutForm" action="http://apptest.yfq.cn:8898/wap/taokafanghaoNew/submitOrderDouble.html"
          method="post" novalidate>
        <input type="hidden" value="1" name="mainMonthNumber" id="mainMonthNumber">
        <input type="hidden" id="mainYG" name="mainYG" value="0">
        <gh></gh>
        <pt></pt>
        <activity></activity>
        <redirect-url></redirect-url>
        <div class="content-scrollable has-footer">
            <div class="banner-image">
                <img id="banner-bg" src="/images/flow/flowcard/v3/banner.jpg"/>
                <a class="banner-btn" href="javascript:;" ng-click="goToSelect();">
                    <img src="/images/flow/flowcard/v3/banner-btn.png"/>
                </a>
            </div>
            <div class="img-box">
                <img src="/images/flow/flowcard/v3/1.jpg"/>
            </div>
            <div class="img-box">
                <img src="/images/flow/flowcard/v3/2.jpg"/>
            </div>
            <div class="img-box">
                <img src="/images/flow/flowcard/v3/3.jpg"/>
            </div>
            <div class="img-box">
                <img src="/images/flow/flowcard/v3/4.jpg"/>
            </div>
            <div class="img-box">
                <img src="/images/flow/flowcard/v3/5.jpg"/>
            </div>
            <!--<div class="product-header">
                <h1 class="product-title">全国流量卡/上网卡，3G/4G/6G/8G/10G</h1>
                <h2 class="product-sub-title">自动充值 当月生效 <span class="label label-danger">全国包邮</span></h2>
                <div class="price-area">
                    <sub>￥</sub><em>52</em><sub>.00</sub> - <sub>￥</sub><em>120</em><sub>.00</sub>
                </div>
            </div>-->
            <!--<flow-package title="“优惠套餐”" sub-title="" size="l"></flow-package>-->
            <div class="select-area img-box">
                <img src="/images/flow/flowcard/v3/tit-1.jpg"/>
            </div>
            <div id="flowPackage" class="flow-package">
                <input type="hidden" name="productId" id="productId" ng-model="packageItem.productId"
                       value="{{packageItem.productId}}" required>
                <div class="weui-cells__title title-icon">
                    <span class="title">选择套餐</span>
                </div>
                <div class="flow-package-panel pd-w">
                    <ul class="flow-package-lists item-lists minus pure-g">
                        <li class="flow-package-item list-item pure-u-1-1"
                            ng-repeat="flowPackageItem in product.packageProductList">
                            <div class="item-box margin radius border"
                                 ng-class="{true:'curr',false:''}[flowPackageItem === packageItem]"
                                 ng-click="setFlowPackage($event,flowPackageItem)">
                                <p>
                                    <span ng-bind="flowPackageItem.productName"></span> + <span>预存400送MIFI设备</span>
                                </p>
                                <ins class="icon-check"></ins>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div id="mainNumberArea" class="weui-cells__title title-icon">
                <span class="title">选择主卡电话号码</span><em>*</em>
            </div>
            <div class="pd-w">
                <ul class="item-lists minus pure-g">
                    <li class="list-item pure-u-1-1">
                        <div class="item-box margin radius border"
                             ng-click="showMainPanel($event)">
                            <p style="text-align: left">
                                <span ng-if="!selectedData.mainNumber">请选择电话号码</span>
                                <span ng-if="selectedData.mainNumber" ng-bind="selectedData.mainNumber.n"></span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <input id="mainNumber" name="mainNumber" ng-model="selectedData.mainNumber.n" type="hidden" required
                   value="{{selectedData.mainNumber.n}}">
            <app-number ng-show="mainPanel" number-type="mainNumber" input-data="inputData" selected-data="selectedData"
                        output-data="outputData"></app-number>

            <div class="checklist pd-w" style="margin-top: 0.1rem">
                <div class="pure-g">
                    <div class="txt pure-u-2-3">副卡号码是否由系统分配？</div>
                    <div class="do pure-u-1-3"><span ng-click="setAutoSelect(true)"><i class="weui-icon-success"
                                                                                       ng-class="{true:'ok',false:''}[autoSelect]"></i>是</span><span
                            ng-click="setAutoSelect(false)"><i class="weui-icon-success"
                                                               ng-class="{true:'ok',false:''}[!autoSelect]"></i>否</span>
                    </div>
                </div>
            </div>
            <div id="subNumberArea" class="weui-cells__title title-icon">
                <span class="title">选择副卡1电话号码</span><em>*</em>
            </div>
            <div class="pd-w">
                <ul class="item-lists minus pure-g">
                    <li class="list-item pure-u-1-1">
                        <div class="item-box margin radius border"
                             ng-click="showSubPanel($event)">
                            <p style="text-align: left">
                                <span ng-if="!selectedData.subNumber">请选择电话号码</span>
                                <span ng-if="selectedData.subNumber" ng-bind="selectedData.subNumber.n"></span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <input id="subNumber" name="subNumber" ng-model="selectedData.subNumber.n" type="hidden" required
                   value="{{selectedData.subNumber.n}}">
            <app-number ng-show="subPanel" number-type="subNumber" auto-select="autoSelect" input-data="inputData1"
                        selected-data="selectedData" output-data="outputData"></app-number>

            <div id="thirdNumberArea" class="weui-cells__title title-icon">
                <span class="title">选择副卡2电话号码</span><em>*</em>
            </div>
            <div class="pd-w">
                <ul class="item-lists minus pure-g">
                    <li class="list-item pure-u-1-1">
                        <div class="item-box margin radius border"
                             ng-click="showThirdPanel($event)">
                            <p style="text-align: left">
                                <span ng-if="!selectedData.thirdNumber">请选择电话号码</span>
                                <span ng-if="selectedData.thirdNumber" ng-bind="selectedData.thirdNumber.n"></span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <input id="thirdNumber" name="thirdNumber" ng-model="selectedData.thirdNumber.n" type="hidden" required
                   value="{{selectedData.thirdNumber.n}}">
            <app-number ng-show="thirdPanel" number-type="thirdNumber" auto-select="autoSelect" input-data="inputData2"
                        selected-data="selectedData" output-data="outputData"></app-number>

            <div class="flow-package">
                <input type="hidden" name="mifiId" id="mifiId" ng-model="mifis" value="{{selectedMifis}}" required>
                <div class="weui-cells__title title-icon">
                    <span class="title">自选加购</span>
                </div>
                <div class="flow-package-panel pd-w">
                    <ul class="flow-package-lists item-lists minus pure-g">
                        <li class="flow-package-item list-item pure-u-1-2" ng-repeat="mifi in mifis">
                            <div class="item-box margin radius border" ng-class="{true:'curr',false:''}[mifi.selected]"
                                 ng-click="setItem($event,$index,mifi)">
                                <p>
                                    <span ng-bind="mifi.productName"></span></span>
                                </p>
                                <ins class="icon-check"></ins>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pay-content" style="font-size: 0.12rem">
                <div class="weui-cells__title title-icon">
                    <span class="title">支付方式</span>
                    <span class="right-title" style="float: right">货到付款</span>
                </div>

                <div class="pay-container pd-w">
                    <div class="pay-content">
                        <div class="pure-g">
                            <span class="lb pure-u-2-3">随身充电mifi(预存400赠送)</span>
                            <span class="price pure-u-1-3">
                                <em>￥</em><em>400</em>
                            </span>
                        </div>
                        <div class="pure-g" ng-repeat="item in mifis" ng-if="item.selected">
                            <span class="lb pure-u-2-3" ng-bind="item.productName"></span>
                            <span class="price pure-u-1-3">
                                <em>￥</em><em ng-bind="item.salePrice"></em>
                            </span>
                        </div>
                        <div class="real-price pure-g">
                            <span class="lb pure-u-2-3">合计金额</span>
                            <span class="price pure-u-1-3"><em>￥</em>
                                <em ng-bind="totalPrice"></em>
                            </span>
                        </div>
                    </div></div>

                <!--<div class="pd-w">
                    <div class="pure-g">
                        <span class="label pure-u-1-2">合计金额</span>
                        <span class="price pure-u-1-2"><em>￥</em><em ng-bind="totalPrice"></em></span>
                    </div>
                    <p>预存￥400送随身充电mifi<em>￥400</em><span ng-repeat="item in mifis"><span ng-if="item.selected"> + <span
                            ng-bind="item.productName"></span><em ng-bind="item.salePrice"></em></span></span></p>
                </div>-->
            </div>


            <receiver-address title="收货地址"></receiver-address>

            <div class="buy-group">
                <a class="buy-group-btn" href="javascript:;" ng-click="submitForm($event);">
                    <div class="img-box"><img src="/images/flow/flowcard/v3/buy-btn.png"></div>
                </a>
                <p style="font-size: 0.12rem">*本活动仅限18岁以上用户参与</p>
                <div class="img-box"><img src="/images/flow/flowcard/v3/tip.png"></div>
            </div>

            <div class="getters">
                <div class="getter-title">
                    <div class="img-box">
                        <img src="/images/flow/flowcard/v3/getters-title.png">
                    </div>
                </div>
                <ul>
                    <li ng-repeat="getter in getters" ng-bind-html="getter.txt | trustHtml" on-finish></li>
                </ul>
            </div>

            <div class="img-box"><img src="/images/flow/flowcard/v3/6.jpg"></div>
        </div>
        <div class="footer-nav nav-list" style="padding: 0">
            <div class="pure-g">
                <div class="nav-price nav-item pure-u-1-2">
                    <a href="javascript:;" ng-click="getContact();">在线咨询</a>
                </div>
                <div class="nav-button nav-item pure-u-1-2">
                    <a href="javascript:;" ng-click="submitForm($event);">立即下单</a>
                </div>
            </div>
        </div>
    </form>
</div>