<div class="page pay pay-status">
    <top-nav page-title="提交成功" page-back="menu" page-done="done" nav-visibility="hide"></top-nav>
    <div class="content-scrollable">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">提交成功</h2>
                <p class="weui-msg__desc" ng-if="payStatus=='success'">已提交银行审核，实际支付以银行扣款成功为准我们将第一时间为您安排发货，请保持手机畅通</p>
                <p class="weui-msg__desc" ng-if="payStatus=='passport'">请耐心等待我们客服电话（区号020）与您核实信息，以便快速发货</p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a ng-if="payStatus=='success'" href="http://m.gd189fq.com/wap/taokafanghaoNew/uploadCardA.html?orderNo={{orderNo}}&s=wap" class="weui-btn weui-btn_primary">上传证照</a>
                    <a ng-if="payStatus=='passport'" href="/spc/indexD.html" class="weui-btn weui-btn_primary">返回首页</a>
                </p>
                <p class="weui-msg__desc" ng-if="payStatus=='success'">根据工信部《电话用户真实身份登记》要求，入网需上传身份证实名登记，以保障您的合法权益。</p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__links">
                        <a href="javascript:void(0);" class="weui-footer__link">微信公众号：翼分期商城</a>
                    </p>
                    <p class="weui-footer__text">Copyright &copy; 2008-2016</p>
                </div>
            </div>
        </div>
    </div>
</div>