<div class="page p-details {{pageType}}">
    <top-nav page-title="下单" page-back="back"></top-nav>
    <!--<form id="checkoutForm" name="checkoutForm" action="http://2b2fda71.ngrok.natapp.cn/wap/taokafanghaoNew/submitOrderMachine.html" method="post" novalidate>-->
    <form id="checkoutForm" name="checkoutForm" action="http://m.gd189fq.com/wap/taokafanghaoNew/submitOrderMachine.html" method="post" novalidate>
        <input type="hidden" value="1" name="monthNumber" id="monthNumber">
        <input type="hidden" value="{{category}}" name="category" id="category">
        <input type="hidden" value="{{phone.productId}}" ng-model="phone.productId" name="machineId" id="machineId">
        <gh></gh>
        <activity></activity>
        <redirect-url></redirect-url>
        <div class="content-scrollable has-footer">
            <phone-types title="版本" sub-title="" phone-details="true"></phone-types>
            <phone-storages title="机身内存" sub-title=""></phone-storages>
            <phone-colors title="机身颜色" sub-title=""></phone-colors>
            <phone-package title="选择套餐" sub-title="" type="phone" ng-if="phone.packages"></phone-package>
            <pay-type title="选择支付" sub-title="" visibility="false"></pay-type>

            <phone-query></phone-query>
            <!--<choose-number title="请选择合约套餐手机号码"></choose-number>-->
        </div>
        <footer-nav-new submit="#checkoutForm" search-type="phone"></footer-nav-new>
    </form>
</div>