<div class="page p-details {{pageType}}">
    <top-nav page-title="下单" page-back="back"></top-nav>
    <!--<form id="checkoutForm" name="checkoutForm" action="http://2b2fda71.ngrok.natapp.cn/wap/taokafanghaoNew/submitOrderMachine.html" method="post" novalidate>-->
    <form id="checkoutForm" name="checkoutForm" action="http://m.gd189fq.com/wap/taokafanghaoNew/submitOrderMachine.html" method="post" novalidate>
        <input type="hidden" value="1" name="monthNumber" id="monthNumber">
        <input type="hidden" value="{{category}}" name="category" id="category">
        <input type="hidden" value="{{phone.productId}}" ng-model="phone.productId" name="machineId" id="machineId">
        <gh></gh>
        <activity></activity>
        <redirect-url></redirect-url>
        <div class="content-scrollable has-footer">
            <phone-types title="选择产品" sub-title="" phone-details="true"></phone-types>
            <phone-storages title="机身内存" sub-title=""></phone-storages>
            <phone-colors title="机身颜色" sub-title=""></phone-colors>
            <phone-query></phone-query>
            <phone-package title="选择套餐" sub-title="" type="phone" ng-if="phone.packages" add-class="table-overlay"></phone-package>
            <div class="weui-media-box weui-media__text phone-d-tb">
                <table style="margin-top:.12rem">
                    <thead>
                    <th  class="t-title" colspan="4">市场套餐pk翼分期套餐</th>
                    </thead>
                    <tbody>
                    <tr class="c-gy" >
                        <td></td>
                        <td>套餐实缴</td>
                        <td>全国流量</td>
                        <td>全国通话</td>
                    </tr>
                    <tr>
                        <td class="c-gy" >中国移动</td>
                        <td >188元 / 月</td>
                        <td>3G流量</td>
                        <td>500分钟</td>
                    </tr>
                    <tr>
                        <td class="c-gy" >中国电信</td>
                        <td>199元 / 月</td>
                        <td>3G流量</td>
                        <td>700分钟</td>
                    </tr>
                    <tr>
                        <td class="c-gy" >中国联通</td>
                        <td>196元 / 月</td>
                        <td>3G流量</td>
                        <td>700分钟</td>
                    </tr>
                    <tr class="diffrent">
                        <td>翼分期商城</td>
                        <td><span ng-bind="pkg.price"></span>元 /月</td>
                        <td><span ng-bind="pkg.network"></span>流量</td>
                        <td>1500分钟</td>
                    </tr>
                    </tbody>
                </table>
                <table style="margin-top:.12rem">
                    <thead>
                    <th class="t-title" colspan="4" >市场价购机pk翼分期购机</th>
                    </thead>
                    <tbody>
                    <tr class="c-gy" >
                        <td>类别</td>
                        <td>购机费用</td>
                        <td>日常花费支出</td>
                        <td>合计花费</td>
                    </tr>
                    <tr>
                        <td class="c-gy" >市场购机价</td>
                        <td ><span ng-bind="phone.price"></span>元</td>
                        <td><span ng-bind="pkg.oldPrice"></span>*36=<span ng-bind="pkg.oldPrice*36"></span>元</td>
                        <td ><span ng-bind="phone.price*1 + pkg.oldPrice*36"></span>元</td>
                    </tr>
                    <tr>
                        <td class="c-gy" >翼分期购机价</td>
                        <td><span ng-bind="phone.price"></span>元<br>
                            (抵<span ng-bind="phone.return"></span>元)</td>
                        <td><span ng-bind="pkg.oldPrice"></span>*36-<span ng-bind="phone.return"></span>=<span ng-bind="pkg.oldPrice*36-phone.return"></span>元</td>
                        <td><span ng-bind="pkg.oldPrice*36-phone.return+phone.price*1"></span>元</td>
                    </tr>
                    <tr class="diffrent">
                        <td class="c-gy">差价</td>
                        <td>0元</td>
                        <td><span ng-bind="phone.return"></span>元</td>
                        <td><span ng-bind="phone.return"></span>元</td>
                    </tr>
                    </tbody>
                </table>
                <p class="notice"><span >!</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果您购买裸机，您将损失5388元/6388元话费</p>
            </div>
            <pay-type title="选择支付" sub-title="" visibility="false"></pay-type>
            <!--<choose-number title="请选择合约套餐手机号码"></choose-number>-->
        </div>
        <footer-nav-new submit="#checkoutForm" search-type="phone"></footer-nav-new>
    </form>
</div>