<div id="phoneQuery">
    <div class="weui-cells__title title-icon">
        <span>选择靓号</span>
        <!--<span ng-show="myForm.mainPhoneNumber.$error.required">必填</span>-->
        <a class="question" ng-click="showOverLay('packageInfo')">5388/6388元话费大礼包介绍</a>
    </div>

    <div class="phone-query-panel pd-w" style="margin-bottom: 0.5rem">
        <ul class="phone-query-lists item-lists minus pure-g">
            <li class="phone-query-item list-item pure-u-1-2">
                <input id="phoneNumber" name="phoneNumber" ng-model="phoneNumber" type="hidden" required value="{{phoneNumber}}">
                <div class="item-box border radius margin small" ng-click="npShow('numberPanel')" ng-class="{true: '', false: 'curr'}[!phoneNumber]">
                    <p ng-show="!phoneNumber">
                        <span>选择新号码</span>
                    </p>
                    <p ng-show="phoneNumber">
                        <span ng-bind="phoneNumber"></span>
                    </p>
                    <ins class="icon-check"></ins>
                </div>
            </li>
            <li class="phone-query-item list-item pure-u-1-2" ng-show="phoneNumber" style="display: none">
                <input id="phoneNumberSub" name="phoneNumberSub" ng-model="phoneNumberSub" type="hidden" required value="{{phoneNumberSub}}">
                <div class="item-box border radius margin small" ng-click="npShow($event,2)">
                    <p ng-show="!phoneNumberSub">
                        <span>选择新号码</span>
                    </p>
                    <p ng-show="phoneNumber">
                        <span ng-bind="phoneNumberSub"></span>
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div id="numberPanel" style="display: none">
        <div class="overlay">
            <div class="overlay-title">选择靓号</div>
            <a class="js-close-overlay overlay-dismiss" href="javascript:;" ng-click="npHide($event)"><span class="icon-cross"></span></a>
            <div class="content-scrollable has-header" style="position: absolute">
                <div class="weui-cells weui-cells_form">
                    <div class="number-query-label weui-cell no-border" ng-class="{'weui-cell_warn':checkoutForm.receiverMobile.$dirty== true && checkoutForm.receiverMobile.$valid == false,'weui-cell_success':checkoutForm.receiverMobile.$dirty== true && checkoutForm.receiverMobile.$valid == true}">
                        <div class="weui-cell__hd title-icon"><label class="weui-label">选择靓号</label></div>
                        <div class="weui-cell__bd">
                            <input ng-change="phoneFilter(query)" ng-blur="inputNumber(query)" class="weui-input" pattern="[0-9]*" ng-model="query" placeholder="请输入2 ~ 5位您想要的数字">
                        </div>
                        <div class="weui-cell__ft">
                            <i class="weui-icon-warn"></i>
                        </div>
                    </div>
                </div>

                <div class="query-panel">
                    <ul class="query-lists item-lists pure-g">
                        <li class="query-item list-item pure-u-1-2" ng-repeat="numberItem in items">
                            <div class="item-box" ng-click="setNumberItem($event,numberItem)">
                                <p class="phone-number">
                                    <span class="weui-icon-success weui-icon_msg"></span>
                                    <span ng-bind-html="numberItem.n | replaceInput : query | trustHtml"></span>
                                </p>
                                <ins class="icon-check"></ins>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="sbtn">
                    <a href="javascript:;" ng-click="Previous()">上一批</a>
                    <a href="javascript:;" ng-click="Next()">下一批</a>
                </div>

                <div class="weui-btn-area">
                    <a href="javascript:;" class="weui-btn weui-btn_primary" ng-click="getNumber()">确定</a>
                </div>
                <!--<ul class="pagination" style="font-size: 0.12rem">
                    <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                        <a ng-click="selectPage(page)" >{{ page }}</a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>

</div>