<div class="page fd-details in v3 v4">
    <top-nav page-title="中国电信●翼分期商城" home-url="/fd/v7/434" page-back="menu" nav-visibility="hide" page-done="contact"></top-nav>
    <form id="checkoutForm" name="checkoutForm"
          action="http://m.yfq.cn/wap/taokafanghaoNew/submitOrderDouble.html"
          method="post" novalidate>
        <input type="hidden" value="1" name="mainMonthNumber" id="mainMonthNumber">
        <input type="hidden" value="{{product.activityproductId}}" ng-model="product.activityproductId" name="machineId"
               id="machineId">
        <input type="hidden" value="{{activeTag}}" ng-model="activeTag" name="activeTag" id="activeTag">
        <input type="hidden" value="{{category}}" ng-model="category" name="category" id="category">
        <input type="hidden" id="mainYG" name="mainYG" value="0">
        <input type="hidden" value="{{redirectUrl}}" name="phoneQueryUrl" id="phoneQueryUrl">
        <gh></gh>
        <pt></pt>
        <activity></activity>
        <redirect-url></redirect-url>
        <div class="content-scrollable has-footer">
            <div class="banner-image">
                <img id="banner-bg" src="/images/flow/flowcard/v7/banner.jpg"/>
            </div>

            <div class="img-box" style="margin-top:-0.95rem;position:relative;margin-bottom: 0.5rem">
                <img id="banner-txt" src="/images/flow/flowcard/v7/banner-2.png"/>
                <div class="timer-area">
                    <timer></timer>
                </div>
                <div class="btns-area img-box" ng-click="goToSelect();">
                    <img src="/images/flow/flowcard/v4/banner-btn.jpg"/>
                </div>
            </div>

            <div class="img-box" style="position: relative">
                <div class="img-box" style="position: absolute;top: -0.3rem;width: 70%;left: 50%;margin-left: -35%">
                    <img src="/images/flow/flowcard/v4/1-tit.png"/>
                </div>
                <img src="/images/flow/flowcard/v4/1.jpg"/>
            </div>

            <div class="select-area">
                <div class="img-box" style="position: absolute;top: -0.3rem;width: 70%;left: 50%;margin-left: -35%">
                    <img src="/images/flow/flowcard/v4/0-tit.png"/>
                </div>
                <div id="flowPackage" class="flow-package">
                    <input type="hidden" name="productId" id="productId" ng-model="packageItem.productId"
                           value="{{packageItem.productId}}" required>
                    <div class="weui-cells__title title-icon">
                        <span class="title">订单套餐</span>
                    </div>
                    <div class="flow-package-panel pd-w">
                        <ul class="flow-package-lists item-lists minus pure-g">
                            <li class="flow-package-item list-item pure-u-1-1"
                                ng-repeat="flowPackageItem in product.packageProductList">
                                <div class="item-box margin radius border"
                                     ng-class="{true:'curr',false:''}[flowPackageItem === packageItem]"
                                     ng-click="setFlowPackage($event,flowPackageItem)">
                                    <p>
                                        <span ng-bind="flowPackageItem.productName"></span>
                                    </p>
                                    <ins class="icon-check"></ins>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <div id="mainNumberArea" class="weui-cells__title title-icon">
                    <span class="title">免费选择靓号</span><em>*</em>
                </div>
                <div class="pd-w">
                    <ul class="item-lists minus pure-g">
                        <li class="list-item pure-u-1-1">
                            <div class="item-box margin radius border"
                                 ng-class="{'curr':!!selectedData.mainNumber,'warn':mainNumberWarn}"
                                 ng-click="showMainPanel($event)">
                                <p style="text-align: left">
                                    <span ng-if="!selectedData.mainNumber">请选择主卡号码</span>
                                    <span ng-if="selectedData.mainNumber" ng-bind="selectedData.mainNumber.n"></span>
                                </p>
                                <ins class="weui-icon-warn"></ins>
                            </div>
                        </li>
                    </ul>
                </div>
                <input id="mainNumber" name="mainNumber" ng-model="selectedData.mainNumber.n" type="hidden" required
                       value="{{selectedData.mainNumber.n}}">
                <app-number ng-show="mainPanel" number-type="mainNumber" input-data="inputData"
                            selected-data="selectedData"
                            output-data="outputData"></app-number>

                <div class="checklist pd-w" style="margin-top: 0.1rem">
                    <div class="pure-g">
                        <div class="txt pure-u-1-1">
                            <span><i class="weui-icon-success" ng-class="{true:'ok',false:''}[autoSelect]"></i></span>
                            赠送两张副卡给家人用(共享主号流量，免月租)
                        </div>
                    </div>
                </div>

                <div ng-show="!autoSelect">
                    <div id="subNumberArea" class="weui-cells__title title-icon">
                        <span class="title">选择副卡1电话号码</span><em>*</em>
                    </div>
                    <div class="pd-w">
                        <ul class="item-lists minus pure-g">
                            <li class="list-item pure-u-1-1">
                                <div class="item-box margin radius border"
                                     ng-class="{'curr':!!selectedData.subNumber,'warn':subNumberWarn}"
                                     ng-click="showSubPanel($event)">
                                    <p style="text-align: left">
                                        <span ng-if="!selectedData.subNumber">请选择电话号码</span>
                                        <span ng-if="selectedData.subNumber" ng-bind="selectedData.subNumber.n"></span>
                                    </p>
                                    <ins class="weui-icon-warn"></ins>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <input id="subNumber" name="subNumber" ng-model="selectedData.subNumber.n" type="hidden" required
                           value="{{selectedData.subNumber.n}}">
                    <app-number ng-show="subPanel" number-type="subNumber" auto-select="autoSelect"
                                input-data="inputData1"
                                selected-data="selectedData" output-data="outputData"></app-number>
                </div>

                <div ng-show="!autoSelect">
                    <div id="thirdNumberArea" class="weui-cells__title title-icon">
                        <span class="title">选择副卡2电话号码</span><em>*</em>
                    </div>
                    <div class="pd-w">
                        <ul class="item-lists minus pure-g">
                            <li class="list-item pure-u-1-1">
                                <div class="item-box margin radius border"
                                     ng-class="{'curr':!!selectedData.thirdNumber,'warn':thirdNumberWarn}"
                                     ng-click="showThirdPanel($event)">
                                    <p style="text-align: left">
                                        <span ng-if="!selectedData.thirdNumber">请选择电话号码</span>
                                        <span ng-if="selectedData.thirdNumber"
                                              ng-bind="selectedData.thirdNumber.n"></span>
                                    </p>
                                    <ins class="weui-icon-warn"></ins>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <input id="thirdNumber" name="thirdNumber" ng-model="selectedData.thirdNumber.n" type="hidden"
                           required
                           value="{{selectedData.thirdNumber.n}}">
                    <app-number ng-show="thirdPanel" number-type="thirdNumber" auto-select="autoSelect"
                                input-data="inputData1"
                                selected-data="selectedData" output-data="outputData"></app-number>
                </div>

                <div class="flow-package">
                    <input type="hidden" name="mifiId" id="mifiId" ng-model="mifis" value="{{selectedMifis}}" required>
                    <div class="weui-cells__title title-icon">
                        <span class="title">猜您喜欢</span>
                    </div>
                    <div class="flow-package-panel pd-w">
                        <ul class="flow-package-lists item-lists minus pure-g">
                            <li class="flow-package-item list-item pure-u-1-2" ng-repeat="mifi in mifis"
                                ng-if="mifi.productId !== product.activityproductId">
                                <div class="item-box margin radius border"
                                     ng-class="{true:'curr',false:''}[mifi.selected]"
                                     ng-click="setItem($event,$index,mifi)">
                                    <p>
                                        <span ng-bind="mifi.productName"></span>
                                    </p>
                                    <ins class="icon-check"></ins>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="pay-type">
                    <input type="hidden" name="payType" id="payType" ng-model="payType" value="{{payType}}" required>
                    <div class="weui-cells__title title-icon">
                        <span class="title">选择支付方式</span>
                    </div>
                    <div class="flow-package-panel pd-w">
                        <ul class="flow-package-lists item-lists minus pure-g">
                            <li class="flow-package-item list-item pure-u-1-2">
                                <div class="item-box margin radius border"
                                     ng-class="{true:'curr',false:''}[payType === 0]"
                                     ng-click="setPayType($event,0)">
                                    <p>
                                        <span>在线支付</span>
                                    </p>
                                    <ins class="icon-check"></ins>
                                </div>
                            </li>
                            <li class="flow-package-item list-item pure-u-1-2">
                                <div class="item-box margin radius border"
                                     ng-class="{true:'curr',false:''}[payType === 1]"
                                     ng-click="setPayType($event,1)">
                                    <p>
                                        <span>货到付款</span>
                                    </p>
                                    <ins class="icon-check"></ins>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="pay-content" style="font-size: 0.12rem">
                    <div class="weui-cells__title title-icon">
                        <span class="title">支付方式</span>
                        <span class="right-title" style="float: right;color: #d63176;"><span
                                ng-if="payType === 1">货到付款</span><span ng-if="payType === 0">在线支付</span></span>
                    </div>

                    <div class="pay-container pd-w">
                        <div class="pay-content">
                            <div class="pure-g">
                                <span class="lb pure-u-2-3" ng-bind="product.packageProductList[0].productName"></span>
                                <span class="price pure-u-1-3">
                                <em>￥</em><em ng-bind="product.packageProductList[0].salesPrice | number:0"></em> <sub>x1</sub>
                            </span>
                            </div>
                            <div class="pure-g" ng-repeat="item in mifis" ng-if="item.selected">
                                <span class="lb pure-u-2-3" ng-bind="item.productName"></span>
                                <span class="price pure-u-1-3">
                                <em>￥</em><em ng-bind="item.salePrice"></em> <sub>x1</sub>
                            </span>
                            </div>
                            <div class="real-price pure-g">
                                <span class="lb pure-u-2-3">合计金额</span>
                                <span class="price pure-u-1-3"><em>￥</em>
                                <em ng-bind="totalPrice"></em>
                            </span>
                            </div>
                        </div>
                    </div>

                    <!--<div class="pd-w">
                        <div class="pure-g">
                            <span class="label pure-u-1-2">合计金额</span>
                            <span class="price pure-u-1-2"><em>￥</em><em ng-bind="totalPrice"></em></span>
                        </div>
                        <p>预存￥400送随身充电mifi<em>￥400</em><span ng-repeat="item in mifis"><span ng-if="item.selected"> + <span
                                ng-bind="item.productName"></span><em ng-bind="item.salePrice"></em></span></span></p>
                    </div>-->
                </div>


                <nadr start="广东省" title="收货地址"></nadr>

                <div class="buy-group">
                    <a class="buy-group-btn" href="javascript:;" ng-click="submitForm($event,'BuyNowOne');">
                        <div class="img-box"><img src="/images/flow/flowcard/v4/submit.png"></div>
                    </a>
                    <!--<p style="font-size: 0.12rem">*本活动仅限18岁以上用户参与</p>-->
                    <div class="img-box" style="margin:0.2rem 0.15rem"><img src="/images/flow/flowcard/v4/tip.png">
                    </div>
                </div>
            </div>

            <div class="getters">
                <div class="getter-title">
                    <div class="img-box">
                        <img src="/images/flow/flowcard/v4/getters-title.png">
                    </div>
                </div>
                <ul>
                    <li ng-repeat="getter in getters" ng-bind-html="getter.txt | trustHtml" on-finish></li>
                </ul>
            </div>

            <div class="img-box" style="position: relative;margin-top: 0.5rem">
                <div class="img-box" style="position: absolute;top: -0.3rem;width: 70%;left: 50%;margin-left: -35%">
                    <img src="/images/flow/flowcard/v4/2-tit.png"/>
                </div>
                <img src="/images/flow/flowcard/v6/2.png"/>
            </div>
            <a href="javascript:;" class="js-action-sheet-show" style="display: block;text-align: center;color: #fff;font-size: 0.16rem;margin-top: 0.1rem">>>>查看具体产品详情<<<</a>

            <div class="img-box" style="position: relative;margin-top: 0.5rem">
                <div class="img-box" style="position: absolute;top: -0.3rem;width: 70%;left: 50%;margin-left: -35%">
                    <img src="/images/flow/flowcard/v4/3-tit.png"/>
                </div>
                <img src="/images/flow/flowcard/v4/3.jpg"/>
            </div>

            <div class="img-box" style="position: relative;margin-top: 0.5rem">
                <div class="img-box" style="position: absolute;top: -0.3rem;width: 70%;left: 50%;margin-left: -35%">
                    <img src="/images/flow/flowcard/v4/4-tit.png"/>
                </div>
                <img src="/images/flow/flowcard/v4/4.png"/>
            </div>

            <div class="img-box" style="position: relative;width: 70%;margin: 0.5rem auto 0 auto;z-index: 1">
                <img src="/images/flow/flowcard/v4/5-tit.png"/>
            </div>

            <div class="fqa-lists" ng-class="{true:'',false:'close'}[fqaMore]">
                <ul>
                    <li>
                        <div class="list-header">
                            <span>01、</span>129元无限流量优惠套餐包含哪些内容？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：无限流量优惠套餐（主卡）包含不限省内流量以及3.5G国内流量、900分钟国内通话时长，以及50条短信，副卡可共享省内无限流量及国内流量，以及400分钟国内通话时长。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>02、</span>订购129元无限流量优惠套餐有哪些优惠？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：129套餐原价为204元，“翼分期商城”每月13日优惠减免套餐内剩余的105套餐费用，故本套餐优惠后实际套餐费用为129元/月。客户只需在每月1-8号用户存入129元话费即可。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>03、</span>129元无限流量优惠套餐可否办理副卡？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：129元省内无限流量套餐自带2张副卡，可与主卡共享省内无限流量及国内流量。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>

                    <li>
                        <div class="list-header">
                            <span>04、</span>本套餐全月可无限流量使用4G网速吗？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：为保障网络质量和所有用户公平使用网络资源，按每月流量使用总量（包含主副卡）前50GB提供4G网速，当月累计流量达到50GB后，上网速率将调整至3.1Mbps，当月累计流量达到100GB，上网速率将调整至128Kbps，次月恢复。当日累计流量达到5GB后，上网速率将调整至128Kbps，次日恢复。
                            </div>
                        </div>
                        <!-- <div class="tips-info-content" style="margin-top:0;">注：套餐需激活后才能正常使用，请确保本人签收，默认送达次日开通（公休日除外），介意者慎拍。</div> -->
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>05、</span>老用户可以改省内无限流量套餐吗？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：129元省内无限流量套餐仅为“翼分期商城”专卖产品，只限新开户办理，翼分期商城老用户（省内）可预存200元升级省内无限流量。其他客户请咨询当地电信。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>06、</span>任何手机都可以使用本套餐吗？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：不是，无限量套餐是中国电信4G套餐卡，需支持中国电信网络的手机才可使用。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>07、</span>我现在用的手机只有一个卡槽，但有希望能够使用这个省内不限流量套餐，怎么办？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：为了便于客户充分使用无限流量的优惠，我们提供三款随身WiFi设备供选择，（ 5300mAH带充电宝功能款 300元/台，2400mAH普通款180元/台，车载点烟器款180元/台）新办理的4G卡插入这台随身WiFi，只要简单设置后，任何支持WiFi上网功能的手机或其他终端设备都可以通过这台随身WiFi设备无限流量上网，无需换号即可享受无限流量，而且可以跟亲友一起分享。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>08、</span>请问随身WiFi设备有什么特点？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：随身WiFi设备插入4G sim卡即可无线联网，可通过WiFi同时分享8个用户。自带充电宝款使用5300毫安时的大电池，不仅可以支持WiFi连续工作8小时以上，而且可以具有充电宝功能，供应急使用。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>9、</span>如何设置随身WiFi设备上网？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：随身WiFi插入4G卡开机即可使用。启动无线WiFi电源后，在手机上搜索WiFi信号，输入默认连接密码，连接成功后即可上网。<br>
                                注意：为了防止你的网络被盗用，建议你初次使用的时候更改无线WiFi的管理员密码和WiFi的连接密码，具体更改方法请参看无线WiFi使用说明书
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>10、</span>随身WiFi设备怎么卖？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：在翼分期商城下单时勾选相应型号设备，即可与流量套餐一同订购。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>11、</span>可以货到付款吗？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：可以，下单确认订单后，4G卡与随身 WiFi设备（如选购）一并发货，3天左右到达。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>12、</span>签收后，是否立即可以使用4G卡？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：应国家主管部门的要求，新开通电信产品，需确认客户身份。所以在签收后，需上传资料（把网址链接填上去）无误，成功进行实名登记后，才可以激活使用。激活后，将有通知短信发送至收货联系电话。<br>
                                身份认证请关注微信公众号：翼分期商城。<br>
                                <div class="img-box" style="width: 50%;margin: 0 auto;">
                                    <img src="/images/payState/qrcode.jpg">
                                </div>
                                认证过程：翼分期商城—“我”—“身份认证”—填入下单时的联系手机号码，然后按照提示操作。

                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>13、</span>套餐的合约期多久？期间可以停机吗？是否可以提前注销？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：优惠套餐合约期24个月，到期如客户需继续使用，可先翼分期商城提出，由翼分期商城确定优惠延期。如期间客户需要停机，每月仍按正常优惠资费129元/月收取。套餐可以提前注销，预存费用（如有）不退。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>14、</span>这个套餐太优惠了，我可以办理多个吗？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                答：本套餐是特殊优惠套餐，每人仅可以申请办理一次，不能办理多次或多户。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                </ul>
                <div class="dark" ng-if="!fqaMore">
                    <div class="img-box">
                        <img src="/images/flow/flowcard/v3/dark.png">
                    </div>
                    <a class="more" href="javascript:;" ng-click="setFqaMore()">查看更多</a>
                    <div style="height: 0.1rem;background: #fff"></div>
                </div>
            </div>

            <div class="img-box" style="position: relative;margin-top: 0.5rem">
                <div class="img-box" style="position: absolute;top: -0.4rem;width: 70%;left: 50%;margin-left: -35%">
                    <img src="/images/flow/flowcard/v4/7-tit.png"/>
                </div>
                <img src="/images/flow/flowcard/v4/7.gif"/>
            </div>

            <div class="img-box">
                <img src="/images/flow/flowcard/v4/8.gif"/>
            </div>

        </div>
        <a class="nav-contact" ng-click="getContact()" has-hash="false" href="javascript:userTrack('contact');"><span
                class="icon-comment"></span><span style="font-size: 0.14rem">客服</span></a>
        <div class="footer-nav nav-list" style="padding: 0;z-index: 2">
            <div class="pure-g">
                <!--<div class="nav-price nav-item pure-u-1-2">
                    <a href="javascript:;" ng-click="getContact();">在线咨询</a>
                </div>-->
                <div class="nav-button nav-item pure-u-1-1" style="background-color: #fea501;">
                    <a href="javascript:;" ng-click="submitForm($event,'BuyNowTwo');">立即下单</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="zf_panel">
    <div class="weui-mask" id="iosMask" style="display: none;"></div>
    <div class="weui-actionsheet" id="iosActionsheet">
        <div class="weui-actionsheet__title">
            <p class="weui-actionsheet__title-text">产品介绍</p><span class="close js-action-sheet-hide icon-close"></span>
        </div>
        <div class="weui-actionsheet__menu">
            <div class="img-box" style="margin-bottom: 0.55rem">
                <img src="/images/flow/flowcard/v7/zf.jpg"/>
            </div>
        </div>
    </div>
</div>