<div class="footer-nav nav-list" ng-class="{true:'pcd',false:''}[pageType=='pcd' || pageType=='pcdB' || pageType=='pcdC' || pageType=='pcdE']">
    <div class="nav-pcd-price" ng-if="pageType=='pcd' || pageType=='pcdB' || pageType=='pcdC' || pageType=='pcdE'">
        <span ng-if="pageType=='pcd' || pageType=='pcdE'">限时抢购靓号</span>
        <span ng-if="pageType=='pcdB' || pageType=='pcdC'">限时特惠</span>
        <br>
        <span ng-if="pageType=='pcd' || pageType=='pcdE'" class="pr">￥9.9</span>
        <span ng-if="pageType=='pcdB' || pageType=='pcdC'" class="pr stimer"></span>
    </div>
    <div class="nav-item nav-comment" ng-click="getContent();" ng-if="pageType!='pcd' && pageType!='pcdB' && pageType!='pcdC' && pageType!='pcdE'">
        <div class="nav-icon">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="图层_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
<g>
	<g transform="scale(0.1953125, 0.1953125)">
		<path fill="#26a408" d="M486.262,81.269c-228.817,0-413.996,161.086-413.996,359.794c0,121.916,70.754,230.321,177.639,296.529
			v111.416c0,15.051,10.535,24.082,22.587,24.082c4.515,0,9.045-1.495,12.038-3.014l112.903-75.264
			c28.622,6.017,57.212,7.538,87.323,7.538c228.821,0,413.981-161.087,413.981-359.797
			C900.265,242.359,715.098,81.269,486.262,81.269z M301.097,501.546c-27.598,0-49.955-22.361-49.955-49.965
			c0-27.554,22.357-49.935,49.955-49.932c27.586,0,49.943,22.378,49.943,49.932C351.04,479.185,328.681,501.546,301.097,501.546z
			 M489.27,501.546c-27.581,0-49.941-22.359-49.941-49.965c0-27.554,22.357-49.932,49.941-49.932
			c27.585,0,49.955,22.378,49.955,49.932C539.226,479.186,516.854,501.546,489.27,501.546z M671.408,501.546
			c-27.557,0-49.928-22.361-49.928-49.965c0-27.554,22.372-49.935,49.928-49.932c27.602,0,49.964,22.378,49.964,49.932
			C721.372,479.185,699.01,501.546,671.408,501.546z M925.852,524.944l-33.548,47.978c6.513,18.838,10.027,38.774,10.027,59.412
			c0,67.769-39.169,132.336-104.82,171.522l-10.59,6.354c-6.348,3.164-10.581,10.581-10.581,17.998v41.285l-38.124-25.42
			l-7.395-5.28c-5.302-3.184-10.595-4.232-15.889-3.184l-8.474,2.11c-17.993,3.184-35.996,5.306-53.996,5.306
			c-39.675,0-77.293-8.052-110.675-22.29l-76.898,13.207c51.462,36.345,117.091,58.137,188.632,58.137
			c21.767,0,42.441-1.098,63.129-5.45l81.626,54.419c2.164,1.098,5.443,2.177,8.704,2.177c8.714,0,16.33-6.529,16.33-17.408v-80.553
			c77.271-47.866,128.426-126.236,128.426-214.379C951.737,593.151,942.477,557.3,925.852,524.944z"/>
	</g>
</g>
</svg>

        </div>
        <p class="nav-label" style="color: #26a408;">客服</p>
    </div>
    <div class="pure-g">
        <div class="nav-price nav-item pure-u-1-2">
            <div ng-if="payType == 2">
                <p>
                    <span>总分期金额：</span>
                    <em>￥<em ng-bind="totolPrice | number:0"></em></em>
                </p>
                <p>
                    <span>免息分期：</span>
                    <em>12月</em>
                </p>
                <p>
                    <span>月供：</span>
                    <em class="price-color">￥<em  ng-bind="totolPrice/12 | number:0"></em></em>
                </p>
            </div>
            <div ng-if="payType == 0">
                <div ng-if="!cardPay">
                    <p>
                        <span>总价：</span>
                        <em>￥<em ng-bind="totolPrice | number:0"></em></em>
                    </p>
                    <p>
                        <span>劲省：</span>
                        <em>￥<em ng-bind="totolPrice * 0.05 | number:0"></em></em>
                    </p>
                    <p>
                        <span>在线支付：</span>
                        <em class="price-color">￥<em  ng-bind="totolPrice * 0.95 | number:0"></em></em>
                    </p>
                </div>
                <div ng-if="cardPay">
                    <p>
                        <span>原价：</span>
                        <em>￥<em ng-bind="card.oldPrice | number:0"></em></em>
                    </p>
                    <p>
                        <span>劲省：</span>
                        <em>￥<em ng-bind="card.oldPrice - card.salesPrice | number:0"></em></em>
                    </p>
                    <p>
                        <span>在线支付：</span>
                        <em class="price-color">￥<em  ng-bind="card.salesPrice | number:0"></em></em>
                    </p>
                </div>
            </div>
            <div ng-if="payType == 1">
                <p>
                    <span>总价：</span>
                    <em>￥<em ng-bind="totolPrice - 101 | number:0"></em></em>
                </p>
                <p>
                    <span>劲省：</span>
                    <em>￥101</em>
                </p>
                <p>
                    <span>在线支付：</span>
                    <em class="price-color">￥99</em>
                </p>
            </div>
        </div>
        <div class="nav-button nav-item pure-u-1-1">
            <a id="footerPayButton" href="javascript:;" ng-class="{true:'disabled',false:''}[phone.phoneTypes[0].status == 0]" ng-click="submitForm($event);">
                <span ng-if="!(pageType=='pcd' || pageType=='pcdB' || pageType=='pcdC' || pageType=='pcdE')">
                    <span ng-if="phone.phoneTypes[0].status != 0">提交订单</span>
                    <span ng-if="phone.phoneTypes[0].status == 0">已售光</span>
                </span>
                <span ng-if="pageType=='pcd' || pageType=='pcdB' || pageType=='pcdC' || pageType=='pcdE'">我要支付</span>
            </a>
        </div>
    </div>
    <div id="payTipsPanel" style="display: none">
        <div class="double-overlay">
            <div  class="main-title">
                <div style="padding-left:23%">
                    <h2 class="how-title">办理分期流程</h2>
                    <p class="order"> <ins  class="pay-logo"></ins>分期服务由中国银联提供</p>
                </div>
                <div class="img-box" style="margin:0 .1rem">
                    <img src="../../../images/dboule/dashed.png" alt="" style="margin-top:.05rem">
                </div>
                <ins class="bank"></ins>
            </div>
            <div class="double-main">
            <div class="sign-in-panel">
                <div class="how-to-pay">
                    <div class="how-to-pay-list">
                        <ul>
                            <li>
                                <div class="title" style="border:0">
                                    <h3>选择分期银行</h3>
                                    <ins class="logo1"></ins>
                                </div>
                                <div class="details">
                                    <p>根据您当前的信用卡，选择信用卡所归属银行</p>
                                </div>
                            </li>
                            <li>
                                <div class="title">
                                    <h3>申请分期</h3>
                                    <ins class="logo2"></ins>
                                </div>
                                <div class="details">
                                    <p>向中国银联发送您的分期业务申请，填写银联分期短信验证码</p>
                                </div>
                            </li>
                            <li>
                                <div class="title">
                                    <h3>等待批复</h3>
                                    <ins class="logo3"></ins>
                                </div>
                                <div class="details">
                                    <p>信用卡银行向翼分期付款银联在线审核分期业务</p>
                                </div>
                            </li>
                            <li>
                                <div class="title">
                                    <h3>申请成功</h3>
                                    <ins class="logo4"></ins>
                                </div>
                                <div class="details">
                                    <p>银联通过审核后，分期业务也将成功办理，商品会即时发出，若申请不成功，请联系值班客服：<a href="tel:95516">95516</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="title">
                                    <h3>收货验货</h3>
                                    <ins class="logo5"></ins>
                                </div>
                                <div class="details" style="border:0">
                                    <p style="padding:0">商品发出后，我们将会通知您，</p>
                                    <p>届时您只需收货验货</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="notice">
                    <p><b>温馨小贴士:</b></p>
                    <p>1.分期购买服务仅支持合作银行信用卡办理</p>
                    <p>2.办理分期，需要冻结信用卡的等值额度，若额度不够将无法办理。(冻结的额度，每月还款后也会恢复至信用卡)</p>
                    <p>3.对信用卡分期业务存在疑问，可拨打银联官方客服电话：<a href="tel:95516">95516</a>，遇到其他问题，您还可联系我们值班客服:<a href="tel:020-85599918">020-85599918</a></p>
                    <ins></ins>
                </div>
                <div class="img-box" style="margin-bottom:80px">
                    <img src="../../../images/dboule/line.png" alt="">
                </div>
            </div>
            </div>
            <ins class="free"></ins>
            <div class="double-btn" >
                <div class="img-box" style="margin:0 .1rem .1rem .1rem">
                    <img src="../../images/dboule/shadow.jpg" alt="">
                </div>
                <a href="javascript:;" ng-click="tipsSubmit();">已了解，现在办理</a>
            </div>
        </div>
    </div>
</div>