<div class="footer-nav nav-list">
    <div class="nav-item nav-comment line-r" ng-click="getContent();">
        <div class="nav-icon">
            <span class="icon-comment"></span>
        </div>
        <p class="nav-label">客服</p>
    </div>
    <div class="pure-g">
        <div class="nav-price nav-item pure-u-1-2">
            <div ng-if="payType == 2">
                <p>
                    <span>总分期金额：￥</span>
                    <em ng-bind="totolPrice | number:0"></em>
                </p>
                <p>
                    <span>免息分期：</span>
                    <em>12月</em>
                </p>
                <p>
                    <span>月供：￥</span>
                    <em ng-bind="totolPrice/12 | number:0"></em>
                </p>
            </div>
            <div ng-if="payType == 0">
                <div ng-if="!cardPay">
                    <p>
                        <span>总价：￥</span>
                        <em ng-bind="totolPrice | number:0"></em>
                    </p>
                    <p>
                        <span>劲省：￥</span>
                        <em ng-bind="totolPrice * 0.05 | number:0"></em>
                    </p>
                    <p>
                        <span>在线支付：￥</span>
                        <em ng-bind="totolPrice * 0.95 | number:0"></em>
                    </p>
                </div>
                <div ng-if="cardPay">
                    <p>
                        <span>原价：￥</span>
                        <em ng-bind="card.oldPrice | number:0"></em>
                    </p>
                    <p>
                        <span>劲省：￥</span>
                        <em ng-bind="card.oldPrice - card.salesPrice | number:0"></em>
                    </p>
                    <p>
                        <span>在线支付：￥</span>
                        <em ng-bind="card.salesPrice | number:0"></em>
                    </p>
                </div>
            </div>
            <div ng-if="payType == 1">
                <p>
                    <span>总价：￥</span>
                    <em ng-bind="totolPrice - 101 | number:0"></em>
                </p>
                <p>
                    <span>劲省：￥</span>
                    <em>101</em>
                </p>
                <p>
                    <span>在线支付：￥</span>
                    <em>99</em>
                </p>
            </div>
        </div>
        <div class="nav-button nav-item pure-u-1-2">
            <a id="footerPayButton" href="javascript:;" ng-click="submitForm();">提交订单</a>
        </div>
    </div>
</div>