<div class="page p-details a-details">
    <top-nav page-title="中国电信●翼分期商城" page-back="back"></top-nav>
    <!--<form id="checkoutForm" name="checkoutForm" action="http://2b2fda71.ngrok.natapp.cn/wap/taokafanghaoNew/submitOrderMachine.html" method="post" novalidate>-->
    <!--<form id="checkoutForm" name="checkoutForm" action="http://m.yfq.na/wap/taokafanghaoNew/submitOrderDouble.html" method="post" novalidate>-->
    <form id="checkoutForm" name="checkoutForm" action="http://m.yfq.cn/wap/taokafanghaoNew/submitOrderDouble.html" method="post" novalidate>
        <input type="hidden" value="1" name="monthNumber" id="monthNumber">
        <input type="hidden" value="{{category}}" name="category" id="category">
        <input type="hidden" value="{{phone.activityproductId}}" ng-model="phone.productId" name="machineId" id="machineId">
        <input type="hidden" value="{{activeTag}}" ng-model="activeTag" name="activeTag" id="activeTag">
        <gh></gh>
        <activity></activity>
        <redirect-url></redirect-url>
        <div class="content-scrollable has-footer">

            <div class="product-header pure-g">
                <div class="pure-u-1-3">
                    <div class="product-img">
                        <div class="img-box">
                            <img ng-src="http://www.yfq.cn:8899/fileserver/medias/{{phone.mainImageUrl}}">
                        </div>
                    </div>
                </div>
                <div class="pure-u-2-3">
                    <div class="product-txt">
                        <h1><span ng-bind="phone.phoneTypes[0].productName"></span><span ng-bind="phone.phoneTypes[1].productName"></span></h1>
                        <div class="label">爆款单机 搭配电信4G套餐 更划算</div>
                        <div class="product-price">
                            <ul>
                                <li style="padding-left: 0"><span>现价：</span><em>￥</em><em class="" ng-bind="phone.phonePrice"></em></li>
                            </ul>
                        </div>
                        <div class="product-txt-ft"><stars></stars></div>
                    </div>
                </div>
            </div>

            <div id="phoneColors">
                <main-colors title="主机颜色" ng-if="phone"></main-colors>
            </div>

            <div id="phonePkg" style="padding-bottom: 0.15rem">
                <div class="weui-cells__title title-icon">
                    <span class="title">购买方式</span><span class="star-color">*</span>
                    <span class="sub-title" ng-bind="activeTagName">裸机+5折话费套餐</span>
                </div>
                <div class="buy-type-panel pd-w">
                    <ul class="buy-type-lists item-lists minus pure-g">
                        <li class="buy-type-item list-item pure-u-2-5">
                            <div class="item-box margin border radius small curr" ng-click="setBuyType($event,1,'裸机+5折话费套餐')">
                                <p>
                                    <span>裸机+5折话费套餐</span>
                                </p>
                                <ins class="icon-check"></ins>
                            </div>
                        </li>
                        <li class="buy-type-item list-item pure-u-1-4">
                            <div class="item-box margin border radius small" ng-click="setBuyType($event,0,'裸机')">
                                <p>
                                    <span>裸机</span>
                                </p>
                                <ins class="icon-check"></ins>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card-details" ng-if="buyType == 1">
                <input id="productId" name="productId" ng-model="package.productId" required type="hidden" value="{{package.productId}}">
                <div class="weui-cells" ng-click="showPkgPn($event)" style="margin-top: 0">
                    <a class="tel-details weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd"><p style="text-align: left">选择话费套餐<span class="star-color">*</span></p></div>
                        <div class="weui-cell__ft">
                            <!--<span ng-if="!package">未选择</span>-->
                            <!--<span ng-if="package">￥<span ng-bind="package.salesPrice | number : 0"></span>套餐，<span ng-bind="package.network"></span>G国内流量...</span>-->
                            <span >更多套餐</span>
                        </div>
                    </a>
                </div>
                <div class="card-details-1"   ng-click="showPkgPn($event)">
                    <div class="card">
                        <ul class="card-list">
                            <li class="card-list-item on-cardetails">
                                <div class="item-box pure-g">
                                    <div class="month pure-u-2-5">
                                        <p class="month-item rec">￥<span class="big" ng-bind="package.salesPrice | number : 0"></span><sub>套餐</sub></p>
                                        <p><span>原价:￥<span ng-bind="card.oldPrice | number : 0"></span></span>优惠36个月</p>
                                    </div>
                                    <div class="net-work pure-u-3-5">
                                        <div class="line">
                                            <p class="month-item month-item-small"><span class="big" ng-bind="package.network"></span><sub>全国流量</sub></p>
                                            <p><b ng-bind="package.talkTime"></b>分钟全国通话 <b ng-bind="package.message"></b>条短信</p>
                                        </div>
                                    </div>
                                </div>
                                <ins class="icon-gray-5">
                                    <div class="img-box">
                                        <img class="on-cardetails" ng-src="/images/phones/assets/icons/{{package.salesPrice*10/package.oldPrice | number:0}}-on.png">
                                    </div>
                                </ins>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="pickPackagePanel" class="card" style="display: none;padding-top: 0.1rem;padding-bottom: 0.15rem;background: #fff">
                    <ul class="card-list">
                        <li class="card-list-item" ng-class="{true:'on-cardetails',false:''}[$index == 0]" ng-repeat="package in phone.packageProductList">
                            <div class="item-box pure-g" ng-click="setPackage($event,package);">
                                <div class="month pure-u-2-5">
                                    <p class="month-item rec">￥<span class="big" ng-bind="package.salesPrice | number : 0"></span><sub>/月</sub></p>
                                    <p><del>原价￥<span ng-bind="package.oldPrice | number : 0"></span></del> 优惠36个月</p>
                                </div>
                                <div class="net-work pure-u-3-5">
                                    <div class="line">
                                        <p class="month-item month-item-small"><span class="big" ng-bind="package.network"></span><sub>GB全国流量</sub></p>
                                        <p><b ng-bind="package.talkTime"></b>分钟全国通话 <b ng-bind="package.message"></b>条短信</p>
                                    </div>
                                </div>
                            </div>
                            <ins class="icon-gray-5">
                                <div class="img-box">
                                    <img ng-src="/images/phones/assets/icons/{{package.salesPrice*10/package.oldPrice | number : 0}}.png">
                                    <img class="on-cardetails" ng-src="/images/phones/assets/icons/{{package.salesPrice*10/package.oldPrice | number : 0}}-on.png">
                                </div>
                            </ins>
                        </li>
                    </ul>
                </div>
            </div>

            <main-number></main-number>

            <div id="promise">
                <div class="weui-cells__title title-icon">
                    <span class="title">保障服务</span>
                </div>
                <div class="img-box">
                    <img src="/images/phones/assets/details/promise.png">
                </div>
            </div>

            <adr></adr>

            <n-pay-type title="选择支付方式"></n-pay-type>
        </div>
        <n-footer-nav check-main-number="true" check-address="true" submit="#checkoutForm"></n-footer-nav>
    </form>
</div>