<div class="page p-details a-details">
    <top-nav page-title="中国电信●翼分期商城" page-back="back"></top-nav>
    <!--<form id="checkoutForm" name="checkoutForm" action="http://2b2fda71.ngrok.natapp.cn/wap/taokafanghaoNew/submitOrderMachine.html" method="post" novalidate>-->
    <!--<form id="checkoutForm" name="checkoutForm" action="http://m.yfq.na/wap/taokafanghaoNew/submitOrderDouble.html" method="post" novalidate>-->
    <form id="checkoutForm" name="checkoutForm" action="http://m.yfq.cn/wap/taokafanghaoNew/submitOrderDouble.html" method="post" novalidate>
        <input type="hidden" value="0" name="monthNumber" id="monthNumber">
        <input type="hidden" value="0" name="mainMonthNumber" id="mainMonthNumber">
        <input type="hidden" value="{{mainNumber}}" name="number1" id="number1">
        <input type="hidden" value="{{category}}" name="category" id="category">
        <input type="hidden" value="indexB" name="appType" id="appType">
        <input type="hidden" value="{{phone.activityproductId}}" ng-model="phone.productId" name="machineId" id="machineId">
        <input type="hidden" value="mysytca" ng-model="activeTag" name="activeTag" id="activeTag">
        <input type="hidden" value="{{phoneQueryUrl}}" name="phoneQueryUrl" id="phoneQueryUrl">
        <gh></gh>
        <activity></activity>
        <redirect-url></redirect-url>
        <div class="content-scrollable has-footer">

            <div class="product-header pure-g">
                <div class="pure-u-1-3">
                    <div class="product-img">
                        <div id="cards">
                            <ul class="card-lists">
                                <li class="card-item">
                                    <div class="card-box">
                                        <div class="img">
                                            <img src="/images/phones/assets/index/tel-logo.jpg" alt="">
                                        </div>
                                        <div class="net">
                                            <div class="net-details">
                                                <p class="net-gb"><span class="net-num" ng-bind="card.network"></span><sub>GB</sub></p>
                                                <p class="net-tel"><span ng-bind="card.talkTime"></span>分钟通话</p>
                                                <p class="net-ocl">官方授权</p>
                                            </div>
                                            <div class="net-work">
                                                <span ng-bind="card.message"></span>短信 大流量 大通话
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pure-u-2-3">
                    <div class="product-txt">
                        <h1><span>￥</span> <span  ng-bind="card.salesPrice"></span>话费套餐卡</h1>
                        <div class="label">限时6折 国内流量 全国通用 靓号任选</div>
                        <div class="product-price">
                            <ul>
                                <li style="padding-left: 0"><span>现价：</span><em>￥</em><em >9.9</em></li>
                            </ul>
                        </div>
                        <div class="product-txt-ft"><stars></stars></div>
                    </div>
                </div>
            </div>

            <div id="phonePkg">
                <input id="productId" name="productId" type="hidden" value="{{card.productId}}">
                <div class="weui-cells__title title-icon">
                    <span class="title">选择靓号</span>
                    <span class="sub-title">给套餐挑个靓号</span>
                </div>
                <div class="card-details">
                    <div class="card">
                        <ul class="card-list">
                            <li class="card-list-item on-cardetails">
                                <div class="item-box pure-g">
                                    <div class="month pure-u-2-5">
                                        <p class="month-item rec">￥<span class="big" ng-bind="card.salesPrice | number : 0"></span><sub>套餐</sub></p>
                                        <p><span>原价:￥<span ng-bind="card.oldPrice | number : 0"></span></span>优惠36个月</p>
                                    </div>
                                    <div class="net-work pure-u-3-5">
                                        <div class="line">
                                            <p class="month-item month-item-small"><span class="big" ng-bind="card.network"></span><sub>GB全国流量</sub></p>
                                            <p><b ng-bind="card.talkTime"></b>分钟全国通话 <b ng-bind="card.message"></b>条短信</p>
                                        </div>
                                    </div>
                                </div>
                                <ins class="icon-gray-5">
                                    <div class="img-box">
                                        <img class="on-cardetails" src="/images/phones/assets/icons/{{card.salesPrice*10/card.oldPrice | number:0}}-on.png">
                                    </div>
                                </ins>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-if="card" class="card-pkg" ss-dd="card"></div>
            </div>

            <main-number ng-if="buyType == 1"></main-number>
            <sim-type></sim-type>
            <div id="promise">
                <div class="weui-cells__title title-icon">
                    <span class="title">保障服务</span>
                </div>
                <div class="img-box">
                    <img src="/images/phones/assets/details/promise.png">
                </div>
            </div>

            <adr></adr>

            <n-pay-type title="选择支付方式"></n-pay-type>
        </div>
        <n-footer-nav check-main-number="true" check-address="true" check-sim-card="true" submit="#checkoutForm"></n-footer-nav>
    </form>
</div>