<div id="receiverAddress" class="address">
    <input type="hidden" value="{{receiver.city + receiver.room}}" name="address" id="address">
    <input type="hidden" value="{{receiver.city + receiver.room}}" name="recieverAddress" id="recieverAddress">
    <div class="adr-tab weui-cells" ng-click="showReceiverPn($event);">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd title-icon">
                <p>朕的收货地址<span class="star-color">*</span></p>
            </div>
            <div class="weui-cell__ft">
                <span ng-if="!receiver.city">未填写</span><span ng-if="receiver.city" ng-bind="receiver.city"></span>
            </div>
        </a>
    </div>

    <div class="adr-content" ng-show="receiver.room" ng-click="showReceiverPn($event);">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <a href="javascript:;" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <i class="icon-pin"></i>
                    </div>
                    <div class="weui-media-box__bd">
                        <p class="weui-media-box__desc"><span ng-bind="receiver.name"></span>，<span ng-bind="receiver.mobile"></span></p>
                        <p class="weui-media-box__desc" ng-bind="receiver.city + receiver.room"></p>
                    </div>
                </a>
            </div>
            <div class="weui-panel__ft">
                <p class="title">翼分期商城发货并由该产品品牌商提供售后服务</p>
                <p class="details"><b>物流：顺丰包邮</b>（预计2-3天送达）不同地区送达时间有所不同，请咨询物流公司</p>
            </div>
        </div>
    </div>

    <div id="receiverAddressPanel" class="weui-cells weui-cells_form" style="display: none;">
        <div class="weui-cell input-name" ng-class="{'weui-cell_warn':checkoutForm.reciverName.$dirty== true && checkoutForm.reciverName.$valid == false,'weui-cell_success':checkoutForm.reciverName.$valid == true}">
            <div class="weui-cell__hd"><label class="weui-label">收货人：</label></div>
            <div class="weui-cell__bd weui_cell_primary">
                <input type="text" id="reciverName" name="reciverName" ng-model="receiver.name" class="weui-input" placeholder="请填写收件人姓名..." required/>
                <input style="display: none" type="text" id="recieverName" name="recieverName" ng-model="receiver.name" class="weui-input" required/>
            </div>
            <div class="weui-cell__ft"><i class="weui-icon-warn"></i><i class="weui-icon-success"></i></div>
        </div>
        <div class="weui-cell input-mobile" ng-class="{'weui-cell_warn':checkoutForm.receiverMobile.$dirty== true && checkoutForm.receiverMobile.$valid == false,'weui-cell_success':checkoutForm.receiverMobile.$valid == true}">
            <div class="weui-cell__hd"><label class="weui-label">联系方式：</label></div>
            <div class="weui-cell__bd weui_cell_primary">
                <input id="receiverMobile" name="receiverMobile" ng-model="receiver.mobile" ng-maxlength="11" ng-pattern="/^[0-9]*$/" pattern="[0-9]*" ng-minlength="11" placeholder="请填写手机号码..." class="weui-input" required/>
                <input style="display: none;" id="recieverMobile" name="recieverMobile" ng-model="receiver.mobile" ng-maxlength="11" ng-pattern="/^[0-9]*$/" pattern="[0-9]*" ng-minlength="11" class="weui-input" required/>
            </div>
            <div class="weui-cell__ft"><i class="weui-icon-warn"></i><i class="weui-icon-success"></i></div>
        </div>

        <div class="weui-cell weui-cell_vcode input-vcode" ng-show="checkoutForm.receiverMobile.$valid == true" ng-class="{'weui-cell_warn':checkoutForm.activeCode.$dirty== true && checkoutForm.activeCode.$valid == false,'weui-cell_success':checkoutForm.activeCode.$valid == true}">
            <div class="weui-cell__hd"><label class="weui-label">验证码：</label></div>
            <div class="weui-cell__bd weui_cell_primary">
                <input id="activeCode" name="activeCode" ng-blur="inputHomeCode()" ng-model="activeCode" ng-maxlength="4" ng-pattern="/^[0-9]*$/" pattern="[0-9]*" ng-minlength="4" placeholder="请输入验证码..." class="weui-input" required/>
            </div>
            <div class="weui-cell__ft"><a href="javascript:;" class="weui-vcode-btn" ng-click="getActiveCode(receiver.mobile)" ng-class="paraclass" ng-bind="paracont">获取验证码</a></div>
        </div>

        <div class=" weui-cell input-city" id="inputsStoreSelect" ng-class="{'weui-cell_warn':checkoutForm.receiverCity.$dirty== true && checkoutForm.receiverCity.$valid == false,'weui-cell_success':checkoutForm.receiverCity.$valid == true}">
            <div class="weui-cell__hd"><label class="weui-label">所在地区：</label></div>
            <div class=" weui-cell__bd weui-cell-primary adr-btn" style="position:relative" >
                <div id="store-selector" ng-click="inputFocus('.input-city');">
                    <div id="store-text" class="text" data-value="">
                        <div ng-if="receiver.city !=''"><span ng-bind="receiver.city"></span></div>
                        <div ng-if="receiver.city ==''"><span>请选择收件区域</span></div>
                        <input type="hidden" value="{{receiver.city}}" ng-model="receiver.city" name="receiverCity" id="receiverCity" class="weui-input" required/>
                        <b></b>
                    </div>
                </div>
                <i class="icon-arrow-right" style="position:absolute;right:0;top:30%;"></i>
            </div>
            <div class="weui-cell__ft"><i class="weui-icon-warn"></i><i class="weui-icon-success"></i></div>
        </div>
        <div class="weui-cell input-room" ng-class="{'weui-cell_warn':checkoutForm.receiverRoom.$dirty== true && checkoutForm.receiverRoom.$valid == false,'weui-cell_success':checkoutForm.receiverRoom.$valid == true}">
            <div class="weui-cell__hd"><label class="weui-label">详细地址：</label></div>
            <div class="weui-cell__bd weui-cell__primary">
                <input type="text" id="receiverRoom" placeholder="请填写完整街道和门牌号..." ng-blur="inputAddress(receiver.room)" ng-model="receiver.room" name="receiverRoom" class="weui-input" required/>
            </div>
            <div class="weui-cell__ft"><i class="weui-icon-warn"></i><i class="weui-icon-success"></i></div>
        </div>

        <div class="weui-cell input-ok">
            <div class="weui-cell__hd"><label class="weui-label"></label></div>
            <div class="weui-cell__bd bd-ok weui-cell__primary">
                <a href="javascript:;" ng-click="adrOk()">我填好了 <i class="icon-arrow-up"></i></a>
            </div>
        </div>
    </div>

    <div id="address-panel" class="content">
        <div id="cfStock" class="m cf-stock" data-widget="tabs">
            <div class="mt">
                <ul class="tab">
                    <li data-widget="tab-item" data-index="0" class="curr"><a class="" href="javascript:;"><em
                            class="icon-arrow-left"></em><i>配送至</i></a></li>
                    <li data-widget="tab-item" data-index="1" class=""><a class="" href="javascript:;"><em
                            class="icon-arrow-left"></em><i>配送至</i></a></li>
                    <li data-widget="tab-item" data-index="2" class=""><a class="" href="javascript:;"><em
                            class="icon-arrow-left"></em><i>配送至</i></a></li>
                    <li data-widget="tab-item" data-index="3" class=""><a class="" href="javascript:;"><em
                            class="icon-arrow-left"></em><i>配送至</i></a></li>
                </ul>
                <div class="stock-line"></div>
            </div>
            <div id="stock_province_item" data-widget="tab-content" data-area="0" class="mc" style="">
                <ul class="area-list">
                </ul>
            </div>
            <div id="stock_city_item" data-widget="tab-content" data-area="1" class="mc" style="display: none;">
                <ul class="area-list">
                </ul>
            </div>
            <div id="stock_area_item" data-widget="tab-content" data-area="2" class="mc" style="display: none;">
                <ul class="area-list">
                </ul>
            </div>
            <div id="stock_town_item" data-widget="tab-content" data-area="3" class="mc" style="display: none;">
                <ul class="area-list">
                </ul>
            </div>
        </div>
        <span class="clr"></span>
    </div>
    <div class="address-overlay"></div>
</div>