$baseFontFamily: Helvetica,
Arial,
sans-serif,
"微软雅黑" !default;
// Gray Colors
$color-gray-font: #666;
//font
$font-black:#333;
$font-base:#666;
$font-gray:#999;
$font-disable:#ccc;
$font-red:#f43530;
$font-green:#84bf37;
$font-orange:#fd8000;
//bg
$bg-base:#fbf9fe;
$bg-gray-light:#ddd;
$bg-red:#f43530;
$bg-green:#84bf37;
//bd
$border-base:#d9d9d9;
$border-gray:#ccc;
$border-gray-light:#eee;
$border-green:#84bf37;

//url
$images-src:"/images/";

// Greyscale
$color-empty: white;
$color-green: #09bb07;
$color-raw: #f8f8f8;
$color-raw-alt: #f2f2f2;
$color-rare: #eee;
$color-medium-rare: #ccc;
$color-medium: #aaa;
$color-medium-well: #666;
$color-well: #555;
$color-full: #333;

// Core
$color-primary: #d83e14; // blood orange
$color-secondary: $color-well; //
$color-tertiary: $color-medium-well; //
$color-complementary: #000; //

// Social Colors
$color-twitter: #46c8f5;

// Alert
//$color-negative: #ff6622; //error, alert
$color-negative:#ff5b29;
