//严禁在此处写公共样式,此文件可随活动一起废弃.
.page.pd-details {
  .product-header {
    background: #fff;
  }
  .question {
    display: none;
  }
  #phoneQuery {
    & > .weui-cells__title {
      display: none;
    }
    .phone-query-panel {
      display: none;
    }
    .weui-cells_form {
      margin-top: 0;
    }
    .weui-btn-area {
      display: none;
    }
    .overlay {
      position: relative;
      z-index: 0 !important;
      .overlay-title {
        display: none;
      }
      .overlay-dismiss {
        display: none;
      }
      .content-scrollable {
        position: static !important;
        padding-top: 0;
      }
    }
  }
  #numberPanel {
    display: block !important;
  }
  .spc-title {
    margin-top: 0.1rem;
  }
  .flow-fqa {
    background: #fff;
  }
}

.page {
  &.ci-a {
    .content-scrollable {
      background: #01032a;
    }
    .title {
      position: relative;
      font-size: 0.2rem;
      color: #3ca3f1;
      text-align: center;
      span {
        @include inline-block;
        font-weight: 800;
        &.tl, &.tr {
          position: relative;
          width: 0.36rem;
          &:before {
            position: absolute;
            content: " ";
            width: 100%;
            height: 0.02rem;
            background: #3ca3f1;
            display: block;
            top: 50%;
            margin-top: -0.01rem;
          }
        }
      }
    }
    .fqa-lists {
      color: #fff;
      font-size: 0.12rem;
      padding-left: 0.1rem;
      padding-right: 0.1rem;
      position: relative;
      padding-bottom: 0.05rem;
      .dark {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
      }
      ul {
        li {
          margin-top: 0.1rem;
          margin-bottom: 0.1rem;
          color: #bd82ff;
          list-style: none;
          em {
            color: #3ca3f1;
          }
          .list-header {
            font-weight: bold;
          }
        }
      }
      &.close {
        height: 1rem;
        overflow: hidden;
      }
    }
    .fqa-more {
      font-size: 0.12rem;
      text-align: right;
      padding-right: 0.1rem;
      color: #d7bd0d;
      margin-bottom: 0.5rem;
      span {
        @include inline-block;
      }
      .arrow {
        margin-left: 0.05rem;
        width: 0.14rem;
        height: 0.14rem;
      }
      .arrow-d {
        display: none;
      }
      &.close {
        .arrow-u {
          display: none;
        }
        .arrow-d {
          @include inline-block;
        }
      }
    }
    #pickMainNumber {
      .choose-number {
        color: #fff;
        background: none;
        font-size: 0.14rem;
        &:before {
          border-top: 0;
        }
        .choose-number-a {
          padding-left: 0;
          padding-right: 0;
          .weui-cell__ft {
            display: none;
          }
          .star-color {
            color: $color-primary;
          }
        }
      }
      .the-notice {
        display: none;
      }
      .weui-cells_form {
        margin-top: 0;
        margin-bottom: 0.05rem;
      }
      .query-lists {
        margin-left: -0.02rem;
        margin-right: -0.02rem;
      }
      .item-box {
        background: none;
        color: #fff;
        border: 2px solid #fff;
        margin: 0.02rem;
        padding: 0.05rem;
        p.phone-number {
          text-align: left;
          .weui-icon_msg::before {
            font-size: 0.16rem;
            color: #fff;
          }
          .nd {
            display: none;
          }
        }
        &.curr {
          color: #edd00d;
          border: 2px solid #edd00d;
          p.phone-number {
            .weui-icon_msg::before {
              color: #edd00d;
            }
          }
        }
      }
      .sbtn {
        text-align: center;
        display: block;
        margin-top: 0.1rem;
        font-size: 0.1rem;
        a {
          font-size: 0.2rem;
          border: 2px solid #edd00d;
          margin: 0.05rem;
          color: #edd00d;
          @include border-radius(10rem);
        }
      }
    }
    #pickMainNumberPanel {
      display: block !important;
    }
    .order-content {
      .content-bd {
        background-image: url("/images/phoneCard/indexBoxBd.png");
        background-repeat: repeat-y;
        background-size: 100%;
        .content-bd-box {
          padding-left: 0.2rem;
          padding-right: 0.2rem;
        }
      }
    }
    #receiverAddress {
      .adr-tab {
        .weui-cell {
          margin: 0;
          background: none;
          font-size: 0.14rem;
          color: #fff;
          padding-left: 0;
          padding-right: 0;
          border: 0;
          .weui-cell__bd {
            padding-left: 0;
            &:before {
              display: none;
            }
          }
          .weui-cell__ft {
            display: none;
          }
        }
      }
      .adr-content {
        display: none;
      }
      #receiverAddressPanel {
        display: block !important;
        margin-top: -0.1rem;
        .weui-cell {
          margin-left: 0;
          margin-right: 0;
          @include border-radius(0);
          border: 0;
          &.input-ok {
            display: none;
          }
        }
      }
    }
    #card-type, .block-list {
      .weui-cells {
        background: none;
        &:before {
          border-top: 0;
        }
        .weui-cell {
          &:before {
            border-top: 0;
          }
        }
        .choose-number-a {
          font-size: 0.14rem;
          margin-left: 0;
          margin-right: 0;
          color: #fff;
          border-top: 0;
          .weui-cell__ft {
            display: none;
          }
          &:before {
            border-top: 0;
          }
          .star-color {
            color: $color-primary;
          }
        }
      }
      .card-type-list, .item-lists {
        padding: 0;
        background: none;
        display: block !important;
        .list {
          border: 2px solid #fff;
          @include border-radius(0);
          color: #fff;
          line-height: 1.2;
          .list-l {
            background: #fff;
            color: #000;
            span {
              font-size: 0.20rem;
              line-height: 0.24rem;
              position: absolute;
              display: block;
              top: 50%;
              margin-top: -0.10rem;
              font-weight: bold;
              margin-left: 0.1rem;
            }
            ins.big {
              width: 0.6rem;
              height: 0.4rem;
            }
          }
          .list-r {
            border-left: 0;
          }
          &.on-curr {
            border: 2px solid #edd00d;
            color: #edd00d;
            .list-l {
              background: #edd00d;
            }
          }
        }
      }
    }
    .content-hd {
      position: relative;
    }
    .submit-form {
      width: 70%;
      margin: 0.15rem auto;
    }
    .shipping-tips {
      width: 80%;
      margin: 0 auto;
    }
  }
}

.overlay.overlay-code {
  background-image: none;
  .qrcode-content {
    position: absolute;
    top: 50%;
    @include transform( translate3d(0px, -50%, 0px));
  }
  .qrcode-title {
    width: 90%;
    margin: 0 auto;
  }
  .qrcode-title-txt {
    text-align: center;
    font-size: 0.18rem;
    color: #fff;
    margin-top: 0.12rem;
    font-weight: bold;
    span {
      @include text-shadow(rgba(#db1aec, 0.6) 1px 1px 0, rgba(#db1aec, 0.4) 2px 2px 0, rgba(#db1aec, 0.2) 3px 3px 0);
    }
    em {
      font-style: normal;
      color: #00fffc;
    }
  }
  .qrcode-url {
    width: 60%;
    margin: 0 auto;
  }
}

