.pcd-recharge-a {
  #rechargePhone {
    .weui-cells_form {
      &:after {
        @include scaleY(1);
        left: 0.15rem;
        right: 0.15rem;
      }
      .weui-cell {
        border: none !important;
        padding-bottom: 0;
        .weui-input {
          font-size: 0.24rem;
          @include input-placeholder {
            color: #999;
          }
        }
        .weui-cell__ft {
          i {
            font-size: 0.24rem;
          }
        }
      }
    }
    .recharge-tips {
      margin-top: -0.05rem;
      margin-bottom: 0.05rem;
      line-height: 0.16rem;
      font-size: 0.12rem;
      min-height: 0.16rem;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .fst-recharge {
    background: #fff;
    padding-bottom: 0.2rem;
    padding-top: 0.05rem;
    .item-lists {
      .item-box {
        font-size: 0.14rem;
        text-align: center;
        padding-left: 0.15rem;
        padding-right: 0.15rem;
        ins {
          display: block;
          left: 0;
          top: 0;
          width: 0.3rem;
          img {
            display: block;
            width: 100%;
          }
        }
        &.active {
          border: 1px solid $color-green;
          color: $color-green;
        }
      }
      .tips {
        font-size: 0.12rem;
        margin-left: 0.04rem;
      }
    }
    .weui-cells__title {
      font-size: 0.12rem;
    }
  }

  .txt-list {
    .txt-lists {
      margin: 0;
      list-style: none;
      li {
        padding-left: 0.2rem;
        position: relative;
        &:first-child {
          margin-top: 0;
        }
        .list-tit {
          color: #2a3887;
          font-size: 0.12rem;
          font-weight: normal;
          a {
            color: #2a3887;
            text-decoration: underline;
          }
        }
        .list-disc {
          color: #2a3887;
          font-size: 0.11rem;
        }
        ins {
          position: absolute;
          left: 0;
          text-decoration: none;
          top: 0.03rem;
          font-size: 0.18rem;
        }
      }
    }
    &.tips {
      p {
        font-size: 0.12rem;
        margin-top: 0.05rem;
        margin-bottom: 0.05rem;
        color: #2a3887;
      }
    }
  }
  .address {
    .adr-tab {
      display: none;
    }
    .adr-content {
      .icon-pin {
        font-size: 0.46rem;
        display: block;
      }
    }
  }
  .checklist {
    font-size: 0.14rem;

    text-align: left;
    .weui-icon-success {
      &:before {
        color: #cccccc;
        margin-left: 0;
      }
      &.ok {
        &:before {
          color: #09bb07;
        }
      }

    }
    .weui-icon-success {
      &:before {
        font-size: 0.16rem;
      }
    }
  }
  .upgrade-address {
    padding: 0.15rem;
    font-size: 0.12rem;
    background: #fff;
    .adr-content {
      margin-top: 0.15rem;
      .weui-panel {
        a.weui-media-box {
          color: #999;
          background: #eee;
          padding: 0.1rem;
        }
      }
    }
  }
  #phoneRecharge {
    .tips {
      font-size: 0.12rem;
      color: #999;
      a {
        color: #09bb07;
        float: right;
      }
    }
  }
  .nav-button {
    background: #fff !important;
    #footerPayButton {
      background: #09bb07 !important;
      &.disabled {
        background: #999 !important;
      }
    }
  }
  .d-mifis .weui-cell.curr .weui-cell__hd i:before {
    border: 2px solid #09bb07;
    background: #09bb07;
  }
}

.overlay.recharge-overlay {
  background: none;
  .title-404 {
    position: absolute;
    z-index: 1;
    top: 5%;
    width: 100%;
  }
  .tips-box {
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    @include border-radius(10px);
    overflow-y: auto;
    overflow-x: hidden;
    background: #ff4800;
    padding-top: 0.3rem;
    img {
      margin-bottom: 0.2rem;
    }
  }
  .overlay-dismiss {
    span {
      color: #fff;
    }
  }
}