<div class="page p-details a-details a-details-c dj-a">
    <top-nav page-title="中国电信●翼分期商城" page-back="back" page-done="contact"></top-nav>
    <form id="checkoutForm" name="checkoutForm" action="http://m.yfq.cn/wap/taokafanghaoNew/submitOrderDouble.html" method="post" novalidate>
        <!--<form id="checkoutForm" name="checkoutForm" action="http://m.yfq.cn/wap/taokafanghaoNew/submitOrderDouble.html" method="post" novalidate>-->
        <input type="hidden" value="1" name="monthNumber" id="monthNumber">
        <input type="hidden" value="{{category}}" name="category" id="category">
        <input type="hidden" value="{{phone.activityproductId}}" ng-model="phone.productId" name="machineId"
               id="machineId">
        <input type="hidden" value="{{activeTag}}" ng-model="activeTag" name="activeTag" id="activeTag">
        <input type="hidden" value="{{redirectUrl}}" name="phoneQueryUrl" id="phoneQueryUrl">
        <gh></gh>
        <activity></activity>
        <referrer-no></referrer-no>
        <redirect-url></redirect-url>
        <div class="content-scrollable has-footer">

            <div class="owl-carousel" img-urls="imgUrls"></div>
            <div class="price-red">
                <div class="weui-flex">
                    <div class="weui-flex__item">
                        <div class="price placeholder">
                            <em>￥</em><em ng-bind="phone.salePrice"></em>
                        </div>
                    </div>
                    <div class="weui-flex__item">
                        <div class="timer placeholder">
                            <span class="lb">距结束</span><timer></timer>
                            <div class="sold">仅剩<span ng-bind="sold"></span>台</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-header">
                <div class="product-txt">
                    <h1><span ng-bind="phone.phoneTypes[0].productName"></span></h1>
                    <h2>预存话费抵手机价格，满￥100减￥5，最高可减800元！<br>支付有惊喜，享更多优惠！</h2>
                </div>
            </div>
            <div class="product-footer">
                <div class="img-box">
                    <img src="/images/phones/C/check.png">
                </div>
            </div>

            <div style="padding-top: 0.1rem;padding-bottom: 0.1rem;margin-top:0.1rem;background: #fff">
                <div class="weui-cells__title title-icon" ng-click="showActionsheet('#productSelector')">
                    <span class="title">已选</span> <span ng-bind="mainColor.name"> <span class="ng-bind=phone.phoneTypes[0].productMemory"></span></span>
                </div>
            </div>

            <div id="coupons" style="padding-bottom: 0.15rem">
                <div class="weui-cells__title title-icon">
                    <span class="title">优惠</span><span class="star-color"></span>
                </div>
                <div class="coupon-panel">

                    <div class="weui-cells">
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><span>立省</span></div>
                            <div class="weui-cell__bd">预存话费直抵购机价，一次性支付享95折优惠</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="dj-detail weui-tab">
                <div class="weui-navbar">
                    <div class="weui-navbar__item weui-bar__item_on">
                        图文详情
                    </div>
                    <div class="weui-navbar__item">
                        规格参数
                    </div>
                    <div class="weui-navbar__item">
                        售后保障
                    </div>
                    <div class="weui-navbar__item">
                        用户评论
                    </div>
                </div>
                <div class="weui-tab__panel">
                    <div class="weui-tab__item weui-tab__item_on">
                        <div class="" ng-bind-html="phone.phoneTypes[0].fullDescription | trustHtml"></div>
                    </div>
                    <div class="weui-tab__item">
                        <div class="" ng-bind-html="phone.phoneTypes[0].comboParam | trustHtml"></div>
                    </div>
                    <div class="weui-tab__item">
                        <div class="service">
                            <div class="service-item">
                                <h3><img src="/images/phones/dj/detail/serviceIcon-1.png"> <span>厂家服务</span></h3>
                                <p>本产品全国联保，享受三包服务，质保期为：一年质保</p>
                                <p>如因质量问题或故障，凭厂商维修中心或特约维修点的质量检测证明，享受7日内退货，15日内换货，15日以上在质保期内享受免费保修等三包服务！</p>
                                <p>(注:如厂家在商品介绍中有售后保障的说明,则此商品按照厂家说明执行售后保障服务。) </p>
                            </div>
                            <div class="service-item">
                                <h3><img src="/images/phones/dj/detail/serviceIcon-2.png"> 翼分期承诺</h3>
                                <p>翼分期商城卖家销售并发货的商品，由商城卖家提供发票和相应的售后服务。请您放心购买！</p>
                                <p>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</p>
                            </div>
                            <div class="service-item">
                                <h3><img src="/images/phones/dj/detail/serviceIcon-3.png"> 正货行货</h3>
                                <p>翼分期商城向您保证所售商品均为正品行货，商品开具机打发票或电子发票。</p>
                            </div>
                            <div class="service-item">
                                <h3><img src="/images/phones/dj/detail/serviceIcon-4.png"> 全国联保</h3>
                                <p>凭质保证书及翼分期商城发票，可享受全国联保服务，与您亲临商场选购的商品享受相同的质量保证。翼分期商城还为您提供具有竞争力的商品价格和运费政策，请您放心购买！</p>
                                <p>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</p>
                            </div>
                            <div class="service-item">
                                <h3><img src="/images/phones/dj/detail/serviceIcon-5.png"> 无忧退换货</h3>
                                <p>客户购买翼分期商品7日内（不包括话费套餐以及话费套餐卡，含7日，自客户收到商品之日起计算），在保证商品完好的前提下，可无理由退货。</p>
                            </div>
                        </div>
                    </div>
                    <div class="weui-tab__item">
                        <div class="feedback">
                            <ul>
                                <li ng-if="!feedbacks.success">
                                    <div class="feedback-box">
                                        <div class="weui-media-box weui-media-box_text">
                                            <p class="weui-media__desc" ng-bind="feedbacks.msg"></p>
                                        </div>
                                    </div>
                                </li>
                                <li ng-if="feedbacks.success" ng-repeat="feedback in feedbacks.result">
                                    <div class="feedback-box">
                                        <div class="weui-media-box weui-media-box_text">
                                            <h4 class="weui-media__title"><span class="user-name" ng-bind="feedback.memberPhone"></span></h4>
                                            <p class="weui-media__desc" ng-bind="feedback.message"></p>
                                            <ul class="weui-media__info">
                                                <li class="weui-media__info__meta">珠光白</li>
                                                <li class="weui-media__info__meta">全网通(4G 64G)</li>
                                                <li class="weui-media__info__meta weui-media__info__meta_extra">2017-03-01 17:02</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hot-phones weui-tab">
                <div class="weui-navbar">
                    <div class="weui-navbar__item weui-bar__item_on">
                        同类推荐
                    </div>
                    <div class="weui-navbar__item">
                        热门排行
                    </div>
                </div>
                <div class="weui-tab__panel">
                    <div class="weui-tab__item weui-tab__item_on">
                        <ul class="pure-g">
                            <li class="pure-u-1-3" ng-repeat="singlePhone in singlePhones | limitTo : 6">
                                <div class="phone-box">
                                    <div class="img-box">
                                        <img ng-src="http://www.yfq.cn:8899/fileserver/medias/{{singlePhone.mainImageUrl}}">
                                    </div>
                                    <div class="txt-box">
                                        <div class="tit" ng-bind="singlePhone.productSubName"></div>
                                        <div class="price"><em></em><em ng-bind="singlePhone.salePrice"></em></div>
                                    </div>
                                </div>
                            </li>
                            <li class="pure-u-1-3">

                            </li>
                            <li class="pure-u-1-3">

                            </li>
                        </ul>
                    </div>
                    <div class="weui-tab__item">
                        <div class="" ng-bind-html="phone.phoneTypes[0].comboParam | trustHtml"></div>
                    </div>
                </div>
            </div>

            <div id="phoneColors">
                <main-colors title="选择颜色" ng-if="phone"></main-colors>
            </div>

            <div id="phoneFlash" style="background: #fff;margin-top: 0.1rem;padding-top: 0.1rem;padding-bottom: 0.15rem">
                <div class="weui-cells__title title-icon">
                    <span class="title">选择容量</span>
                    <span class="star-color">*</span>
                </div>
                <div class="flash-panel pd-w">
                    <ul class="item-lists minus pure-g">
                        <li class="list-item pure-u-1-2" ng-repeat="memory in phone.memoryProducts | orderBy : 'flash'">
                            <div class="item-box margin border radius small ng-scope" ng-class="{true:'curr',false:''}[memory.productId == phone.activityproductId]" ng-click="setFlashDriver(memory)">
                                <p><span ng-bind="memory.flash"></span>G</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--<div id="promise">
                <div class="weui-cells__title title-icon">
                    <span class="title">保障服务</span>
                </div>
                <div class="img-box">
                    &lt;!&ndash;<img src="/images/phones/assets/details/promise.png">&ndash;&gt;
                    <img src="/images/phones/assets/details/promise.jpg">
                </div>
            </div>-->

            <div class="img-box" ng-if="pageBack=='home'" ng-click="home()" style="margin-top: 0.1rem">
                <img src="/images/active/d/new/4.jpg">
            </div>

            <adr></adr>

            <div class="no-border weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><img class="weui-media-box__thumb" src="/images/active/d/new/logo.gif" alt="" style="width: 40px;height:40px;display: block;margin-right: 0.1rem;border: 1px solid #d8d8d8;"></div>
                    <div class="weui-cell__bd">
                        <p style="font-size: 0.14rem">翼分期商城</p>
                        <p class="weui-media-box__desc" style="color: #999;font-size: 0.12rem">广州传飞通讯设备有限公司旗下子品牌</p>
                    </div>
                    <div class="weui-cell__ft" style="padding-right: 0"><img class="weui-media-box__thumb" src="/images/active/d/new/honer.png" alt="" style="height:40px;display: block;"></div>
                </div>
            </div>
            <div class="img-box">
                <img src="/images/active/d/new/5.jpg">
            </div>
            <div style="font-size: 0.12rem;padding-top: 0.2rem;padding-bottom: 0.2rem;background: #fff">
                <a has-hash="false" ng-click="showActionsheet('#iosActionsheet')" href="javascript:userTrack('showAboutInfo');" class="weui-btn weui-btn_plain-default" style="font-size: 0.14rem;line-height: 2em;border: 1px solid #f6692a;color: #f6692a;display: block;margin: 0 auto; width: 30%">查看信息</a>
            </div>

            <!--<coupon-list></coupon-list>-->

            <c-pay-type title="选择支付方式"></c-pay-type>

            <div class="pay-container pd-w">
                <div class="pay-content" ng-if="payType == 0">
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">商品金额</span>
                        <span class="price pure-u-1-2"><em>￥</em><em ng-bind="phone.salePrice | number:0"></em></span>
                    </div>
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">限时优惠95折</span>
                        <span class="price pure-u-1-2">
                            <span><em>￥</em><em ng-bind="phone.salePrice * 0.95 | numberUp | number:0"></em></span>
                        </span>
                    </div>
                </div>

                <div class="pay-content" ng-if="payType == 1">
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">商品金额</span>
                        <span class="price pure-u-1-2"><em>￥</em><em ng-bind="phone.salePrice | number:0"></em></span>
                    </div>
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">限时优惠95折</span>
                        <span class="price pure-u-1-2">
                            <span><em>￥</em><em ng-bind="phone.salePrice * 0.95 | numberUp | number:0"></em></span>
                        </span>
                    </div>
                </div>

                <div class="pay-content" ng-if="payType == 2">
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">商品金额</span>
                        <span class="price pure-u-1-2"><em>￥</em><em ng-bind="phone.monthlyPrice | number:0"></em></span>
                    </div>
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">分期期数</span>
                        <span class="price pure-u-1-2">
                            <em>12期</em>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <!--<div class="right-nav" ng-click="showFudai()">
            <div class="img-box">
                <img src="/images/active/11.png">
            </div>
        </div>-->

        <div class="footer-nav nav-list">
            <div class="pure-g">
                <div class="nav-price nav-item pure-u-3-5">
                    <div ng-if="payType == 0">
                        <span>优惠价：</span>
                        <em>￥</em>
                        <span><em ng-bind="phone.salePrice * 0.95 | numberUp | number:0"></em></span>
                    </div>
                    <div ng-if="payType == 1">
                        <span>优惠价：</span>
                        <em>￥</em>
                        <span><em ng-bind="phone.salePrice * 0.95 | numberUp | number:0"></em></span>
                    </div>
                    <div ng-if="payType == 2">
                        <span>月供：</span><em>￥</em>
                        <em ng-bind="phone.monthlyPrice/12 | numberUp | number : 0"></em>
                        <em style="font-size: 0.16rem"> X 12期</em>
                    </div>
                </div>
                <div class="nav-button nav-item pure-u-2-5">
                    <a id="footerPayButton" has-hash="false" href="javascript:userTrack('submitForm');" ng-click="submitForm($event);">
                        <span ng-if="payType == 1">预约送货</span>
                        <span ng-if="payType != 1">提交订单</span>
                    </a>
                </div>
            </div>
        </div>
    </form>

    <div>
        <div class="weui-mask" id="iosMask" style="opacity: 1;display: none"></div>
        <div class="about-yfq weui-actionsheet" id="iosActionsheet">
            <div class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="/images/active/d/new/logo.gif" alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title" style="font-size: 0.16rem">翼分期商城<span class="js-action-sheet-hide icon-cross right"></span></h4>
                    <p class="weui-media-box__desc">广州传飞通讯设备有限公司旗下品牌</p>
                </div>
            </div>
            <div class="weui-actionsheet__action">
                <div class="weui-tab" style="margin-top: 0">
                    <div class="weui-navbar">
                        <div class="weui-navbar__item weui-bar__item_on">
                            <span class="navbaricon"></span>
                            基本信息
                        </div>
                        <div class="weui-navbar__item">
                            <span class="navbaricon"></span>
                            以司简介
                        </div>
                        <div class="weui-navbar__item">
                            <span class="navbaricon"></span>
                            电信授权
                        </div>
                        <div class="weui-navbar__item">
                            <span class="navbaricon"></span>
                            百度认证
                        </div>
                    </div>
                    <div class="weui-tab__panel">
                        <div class="weui-tab__item weui-tab__item_on">
                            <div class="img-box" style="width: 40%;margin-left: 30%;margin-top: 0.2rem">
                                <img src="/images/active/d/new/qrcode.png">
                            </div>
                            <p style="color: #999;margin-top: 0.05rem;margin-bottom: 0.1rem; text-align: center">(长按保存图片)</p>
                            <p style="text-align: center;font-size: 0.15rem">关注公众号"翼分期商城"，获取电信手机及<br>周边产品优惠活动，海量手机、号码套餐等产品<br>任您挑选</p>
                            <p style="font-size: 0.15rem;text-align: center;margin-top: 0.2rem;margin-bottom: 0.05rem">电话号码：020-8599918</p>
                            <p style="font-size: 0.15rem;text-align: center">地址：广州市天河区黄埔大道西53号</p>
                            <p style="font-size: 0.15rem;text-align: center;margin-bottom: 0.3rem">恒城大厦B座3007</p>
                        </div>
                        <div class="weui-tab__item">
                            <h2 style="font-size: 0.16rem;margin-right: 0.15rem;margin-left: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.15rem">关于翼分期</h2>
                            <p style="font-size: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.15rem;margin-right: 0.15rem;margin-left: 0.15rem">翼分期商城隶属于广州传飞通讯设备有限公司，成立于2013年4月。总部坐落于华南电子商务中心。是获得中国电信股份有限公司广东省公司独家授权的手机分期平台。是国内首家提供3c类产品“0利息0手续费”分期支付服务的分期商城。</p>
                            <p style="font-size: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.15rem;margin-right: 0.15rem;margin-left: 0.15rem">相较于同类分期商城，翼分期拥有更为严格的产品采购体系。极具竞争力的价格以及完善的配送售后服务，上线至今赢得客户一致好评与信赖。</p>
                            <p style="font-size: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.35rem;margin-right: 0.15rem;margin-left: 0.15rem">翼分期目前已与中国银行、中国工商银行，招商银行，建设银行、农业银行、广发银行18家银行建立深度合作关系。</p>
                        </div>
                        <div class="weui-tab__item">
                            <div class="img-box">
                                <img src="/images/active/d/new/tab3.jpg">
                            </div>
                        </div>
                        <div class="weui-tab__item">
                            <div class="img-box">
                                <img src="/images/active/d/new/tab4.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="ios-mask weui-mask" style="opacity: 1;display: none"></div>
        <div class="about-yfq weui-actionsheet" id="productSelector">
            <div class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="/images/active/d/new/logo.gif" alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title" style="font-size: 0.16rem">翼分期商城<span class="js-action-sheet-hide icon-cross right"></span></h4>
                    <p class="weui-media-box__desc">广州传飞通讯设备有限公司旗下品牌</p>
                </div>
            </div>
            <div class="weui-actionsheet__action">
                <div class="weui-tab" style="margin-top: 0">
                    <div class="weui-navbar">
                        <div class="weui-navbar__item weui-bar__item_on">
                            <span class="navbaricon"></span>
                            基本信息
                        </div>
                        <div class="weui-navbar__item">
                            <span class="navbaricon"></span>
                            以司简介
                        </div>
                        <div class="weui-navbar__item">
                            <span class="navbaricon"></span>
                            电信授权
                        </div>
                        <div class="weui-navbar__item">
                            <span class="navbaricon"></span>
                            百度认证
                        </div>
                    </div>
                    <div class="weui-tab__panel">
                        <div class="weui-tab__item weui-tab__item_on">
                            <div class="img-box" style="width: 40%;margin-left: 30%;margin-top: 0.2rem">
                                <img src="/images/active/d/new/qrcode.png">
                            </div>
                            <p style="color: #999;margin-top: 0.05rem;margin-bottom: 0.1rem; text-align: center">(长按保存图片)</p>
                            <p style="text-align: center;font-size: 0.15rem">关注公众号"翼分期商城"，获取电信手机及<br>周边产品优惠活动，海量手机、号码套餐等产品<br>任您挑选</p>
                            <p style="font-size: 0.15rem;text-align: center;margin-top: 0.2rem;margin-bottom: 0.05rem">电话号码：020-8599918</p>
                            <p style="font-size: 0.15rem;text-align: center">地址：广州市天河区黄埔大道西53号</p>
                            <p style="font-size: 0.15rem;text-align: center;margin-bottom: 0.3rem">恒城大厦B座3007</p>
                        </div>
                        <div class="weui-tab__item">
                            <h2 style="font-size: 0.16rem;margin-right: 0.15rem;margin-left: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.15rem">关于翼分期</h2>
                            <p style="font-size: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.15rem;margin-right: 0.15rem;margin-left: 0.15rem">翼分期商城隶属于广州传飞通讯设备有限公司，成立于2013年4月。总部坐落于华南电子商务中心。是获得中国电信股份有限公司广东省公司独家授权的手机分期平台。是国内首家提供3c类产品“0利息0手续费”分期支付服务的分期商城。</p>
                            <p style="font-size: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.15rem;margin-right: 0.15rem;margin-left: 0.15rem">相较于同类分期商城，翼分期拥有更为严格的产品采购体系。极具竞争力的价格以及完善的配送售后服务，上线至今赢得客户一致好评与信赖。</p>
                            <p style="font-size: 0.15rem;margin-top: 0.15rem;margin-bottom: 0.35rem;margin-right: 0.15rem;margin-left: 0.15rem">翼分期目前已与中国银行、中国工商银行，招商银行，建设银行、农业银行、广发银行18家银行建立深度合作关系。</p>
                        </div>
                        <div class="weui-tab__item">
                            <div class="img-box">
                                <img src="/images/active/d/new/tab3.jpg">
                            </div>
                        </div>
                        <div class="weui-tab__item">
                            <div class="img-box">
                                <img src="/images/active/d/new/tab4.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>