<div class="page active-b">
    <!-- pia phone-index-c -->
    <top-nav page-title="中国电信●翼分期商城" page-back="menu" nav-visibility="hide"></top-nav>
    <div class="content-scrollable">
        <form id="couponForm" name="couponForm"
              action="http://m.yfq.cn/wap/taokafanghaoNew/submitIntentOrder.html" method="post" novalidate>
            <input type="hidden" value="1" name="monthNumber" id="monthNumber">
            <input type="hidden" value="{{category}}" name="category" id="category">
            <input type="hidden" value="{{phone.activityproductId}}" ng-model="phone.productId" name="machineId"
                   id="machineId">
            <input type="hidden" value="{{activeTag}}" ng-model="activeTag" name="activeTag" id="activeTag">

            <gh></gh>
            <activity></activity>
            <div class="header"><img src="/images/active/b/2.png"> <span>中国电信福利 购手机送话费</span></div>
            <div class="active-b-content">

                <div class="progress-bar">
                    <ul class="pure-g">
                        <li class="pure-u-1-3">
                            <ins class="active r"></ins>
                            <div class="img-box"><img src="/images/active/b/4.png"></div>
                            <div class="txt active"><span class="weui-badge">填写资料</span></div>
                        </li>
                        <li class="pure-u-1-3">
                            <ins class="active l"></ins>
                            <ins class="active r"></ins>
                            <div class="img-box"><img src="/images/active/b/5-a.png"></div>
                            <div class="txt active"><span class="weui-badge">选择机型</span></div>
                        </li>
                        <li class="pure-u-1-3">
                            <ins class="active l"></ins>
                            <div class="img-box"><img src="/images/active/b/6.png"></div>
                            <div class="txt"><span class="weui-badge">送货上门</span></div>
                        </li>
                    </ul>
                </div>

                <div id="phoneBrands">
                    <div class="phone-brands">
                        <div class="weui-cells__title title-icon"><span class="title">您的意向手机品牌</span><span
                                class="sub-title"
                                ng-bind="brand.brandName"></span></span>
                        </div>
                        <div class="phone-brands-panel pd-w">
                            <ul class="phone-brands-lists item-lists minus pure-g">
                                <li class="phone-brands-item list-item pure-u-1-4" ng-repeat="myBrand in brands">
                                    <div class="item-box margin border radius small"
                                         ng-class="{true:'curr',false:''}[myBrand.brandName == brand.brandName]"
                                         ng-click="setMainPhoneBrand($event,myBrand)">
                                        <p>
                                            <span ng-bind="myBrand.brandName"></span>
                                        </p>
                                        <ins class="icon-check"></ins>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="phoneTypes">

                    <div class="phone-types">
                        <div class="weui-cells__title title-icon"><span class="title">选择机型</span><span
                                class="sub-title"><span ng-bind="phone.productName"></span></span></div>
                        <div class="phone-types-panel pd-w">
                            <ul class="phone-types-lists item-lists minus pure-g">
                                <li class="phone-brands-item list-item pure-u-1-2"
                                    ng-repeat="myPhone in brandPhones | orderBy: sortOrder">
                                    <div class="item-box margin border radius small"
                                         ng-class="{true:'curr',false:''}[myPhone.activityproductId == phoneId]"
                                         ng-click="setMainPhone($event,myPhone.activityproductId)">
                                        <p>
                                            <span ng-bind="myPhone.productName"></span>
                                        </p>
                                        <ins class="icon-check"></ins>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="phoneColors">
                    <main-colors title="选择颜色" ng-if="phone"></main-colors>
                    <div class="promise-list"><span class="promise-item"><i class="icon-check"></i>行货正品</span><span class="promise-item"><i class="icon-check"></i>假一赔十</span><span class="promise-item"><i class="icon-check"></i>货到验机</span><span class="promise-item"><i class="icon-check"></i>中国电信合作伙伴</span></div>
                </div>

                <div id="pkgs">
                    <input type="hidden" name="productId" id="productId" ng-model="package.productId"
                           value="{{package.productId}}">
                    <div class="phone-brands">
                        <div class="weui-cells__title title-icon"><span class="title">选择中国电信套餐</span><span
                                class="sub-title">赠送话费￥<span ng-bind="package.salesPrice | number : 0"></span> <span ng-bind="package.network"></span>G流量</span>
                        </div>
                        <div class="phone-pkgs-panel pd-w">
                            <ul class="phone-pkgs-lists item-lists minus pure-g">
                                <li class="phone-pkgs-item fst list-item pure-u-1">
                                    <div class="item-box margin border radius small pure-g">
                                        <span class="pure-u-1-5">实缴月租</span>
                                        <span class="pure-u-1-5">套餐档位</span>
                                        <span class="pure-u-1-5">赠送话费</span>
                                        <span class="pure-u-1-5">通适时长</span>
                                        <span class="pure-u-1-5">包含流量</span>
                                    </div>
                                </li>
                                <li class="phone-pkgs-item list-item pure-u-1"
                                    ng-repeat="myPkg in packages">
                                    <div class="item-box margin border radius small pure-g"
                                         ng-class="{true:'curr',false:''}[myPkg.productId == package.productId]"
                                         ng-click="setMainPhonePkg($event,myPkg)">
                                        <span class="pure-u-1-4 rd" style="font-size: 0.14rem"><span>￥</span><span
                                                ng-bind="(myPkg.oldPrice * 36 - myPkg.salesPrice)/36 | numberUp"></span><span>套餐</span></span>
                                        <span class="pure-u-1-6">
                                            <del><span>￥</span><span
                                                    ng-bind="myPkg.oldPrice | number:0"></span></del></span>
                                        <span class="pure-u-1-5 rd" style="font-size: 0.14rem"><span>￥</span><span
                                                ng-bind="myPkg.salesPrice | number:0"></span></span>
                                        <span class="pure-u-1-5"><span
                                                ng-bind="myPkg.talkTime"></span><span>分钟</span></span>
                                        <span class="pure-u-1-6"><span
                                                ng-bind="myPkg.network"></span><span>G</span></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="quan-form form-addr">
                    <input type="hidden" name="reciverName" id="reciverName" ng-model="receiver.name"
                           value="{{receiver.name}}">
                    <input type="hidden" name="receiverMobile" id="receiverMobile" ng-model="receiver.mobile"
                           value="{{receiver.mobile}}">
                    <input type="hidden" name="payType" id="payType" value="{{payType}}">
                    <div class="weui-cells__title title-icon"><span class="title">填写送货上门地址</span></div>

                    <div class="pay-type-list pd-w">
                        <ul class="item-lists minus pure-g">
                            <li class="list-item pure-u-1-4">
                                <div ng-click="setPayType(0);" class="item-box margin border radius small"
                                     ng-class="{true:'curr',false:''}[payType==0]">
                                    送货上门
                                </div>
                            </li>
                            <li class="list-item pure-u-1-4">
                                <div ng-click="setPayType(3);" class="item-box margin border radius small"
                                     ng-class="{true:'curr',false:''}[payType==3]">
                                    自提
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="addr-tip-content" ng-if="payType==3">
                        <div class="addr-tip">
                            <div><span><i class="icon-admin"></i> 自提地址：</span></div>
                            <p>广州市天河区黄埔大道西53号恒城大厦B座3001翼分期商城实体店</p>
                        </div>
                    </div>

                    <div ng-if="payType==0" class="pd-w">
                        <div class="weui-cell input-citys">
                            <div class="weui-cell__hd">
                                <span class="icon-pin"></span> <span>城市</span>
                            </div>
                            <div class="weui-cell__bd weui_cell_primary">
                                <input style="text-align: right" class="weui-input" value="广州市" readonly required/>
                            </div>
                        </div>

                        <div ng-click="getDistricts($event,'广东省','广州市')" class="weui-cell input-city"
                             ng-class="{'weui-cell_warn':couponForm.receiverCity.$dirty== true && couponForm.receiverCity.$valid == false,'weui-cell_success':couponForm.receiverCity.$valid == true}">
                            <div class="weui-cell__hd">
                                <span class="icon-globe"></span> <span>区域</span>
                            </div>
                            <div class="weui-cell__bd weui_cell_primary">
                                <div ng-bind="receiver.city" style="text-align: right"></div>
                                <input id="receiverCity" name="receiverCity" ng-model="receiver.city" type="hidden"
                                       value="{{receiver.city}}" class="weui-input" required>
                            </div>
                        </div>

                        <div class="weui-cell input-room"
                             ng-class="{'weui-cell_warn':couponForm.receiverRoom.$dirty== true && couponForm.receiverRoom.$valid == false,'weui-cell_success':couponForm.receiverRoom.$valid == true}">
                            <div class="weui-cell__hd">
                                <span class="icon-admin"></span> <span>详细地址</span>
                            </div>
                            <div class="weui-cell__bd weui_cell_primary">
                                <input style="text-align: right" id="receiverRoom" name="receiverRoom"
                                       ng-blur="writeReceiver()"
                                       ng-model="receiver.room" class="weui-input" required/>
                            </div>
                        </div>
                    </div>

                    <div class="delivers" ng-if="payType == 0"><i class="weui-icon-warn"></i><span>由电信客户经理送货上门，17：00前完成下单，预计明天（3月5号）送达</span></div>
                    <div class="delivers" ng-if="payType == 3"><i class="weui-icon-warn"></i><span>自提用户下单手，可关注"<b>翼分期商城</b>"公众号联系客服经理沟通</span></div>

                    <div class="zixun">
                        <a href="javascript:;" ng-click="getContact();" class="weui-btn weui-btn_default"><i class="icon-comment"></i> 导购咨询</a>
                    </div>

                </div>

                <div class="balance">
                    <div class="weui-cells__title title-icon">
                        <span class="title">商品结算</span>
                        <span class="sub-title"></span>
                    </div>
                    <div class="balance-content">
                        <div class="balance-pr pure-g">
                            <div class="lb pure-u-1-2"><img src="/images/active/b/15.png"> 礼包价：</div>
                            <div class="pr pure-u-1-2">
                                ￥<span ng-bind="totalPrice | number : 0"></span>
                            </div>
                            <div class="tp pure-u-1">
                                <span>您已选择：{{phone.phoneTypes[0].productName}} 赠送话费￥{{package.salesPrice | number:0}}</span>
                                <!--<span>手机价：￥{{package.salesPrice | number : 0}} + 预存话费：￥{{(package.phonePrice - package.salesPrice) | number : 0}}</span>-->
                            </div>
                        </div>
                        <div class="balance-discount">
                            <div class="lb pure-u-3-5"><img src="/images/active/b/16.png"> 货到付款立减 <span class="weui-badge">限时特惠</span></div>
                            <div class="pr pure-u-2-5">
                                -￥<span ng-bind="totalPrice | jm:400"></span>
                            </div>
                            <div class="tp pure-u-1">
                                <span>逢满￥100减￥5</span>
                            </div>
                        </div>
                        <div class="balance-tot">
                            <div class="balance-tot-pr">
                                <span>实付价格：</span>
                                <span class="pr-box">
                                    ￥<span ng-bind="totalPrice - (totalPrice | jm:400)"></span>
                                </span>
                            </div>
                            <div class="balance-tot-tp">
                                <span class="rtp"><span class="tp-arrow"></span>今日办理，信用卡可享12期免息分期！</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="submit-form img-box">
                    <a class="weui-btn weui-btn_warn" ng-click="submit()" href="javascript:;">
                        已确认，请联系我
                    </a>
                    <div class="bt-tips">
                        <p><i class="weui-icon-warn"></i> 温馨提示：为了您能尽快办理，您需要确认以下信息</p>
                        <ul>
                            <li>1、支付宝支付/微信支付/刷卡：确保储蓄卡余额足够<span ng-bind="totalPrice - (totalPrice | jm:400)"></span>元；</li>
                            <li>2、19家银行信用卡分期：确保信用卡额度足够<span ng-bind="totalPrice - (totalPrice | jm:400)"></span>元,将为您申请12期0息分期；</li>
                            <li>3、办理电信号码需提供本人身份证正面、身份证反面、手持身份证照片；</li>
                            <li>4、确认您的收货地址与联系方式无误，方便客户经理为您上门办理。</li>
                        </ul>
                    </div>
                </div>

                <div class="img-box" style="background: #fff">
                    <img src="/images/phones/C/promise.png">
                </div>

            </div>
        </form>
        <div class="weui-footer">
            <p class="weui-footer__text">本次活动由翼分期商城联合19家银行和中国电信举办</p>
            <p class="weui-footer__text">最终解释权归翼分期商城所有</p>
            <p class="weui-footer__text">广州传飞通讯设备有限公司</p>
        </div>
    </div>

    <div id="address-panel" class="content" ng-show="addressShow">
        <div id="cfStock" class="m cf-stock" data-widget="tabs">
            <div class="mt">
                <ul class="tab">
                    <li data-widget="tab-item" data-index="0" class="curr"><a ng-click="hideAddress();" class=""
                                                                              href="javascript:;"><em
                            class="icon-arrow-left"></em><i>配送至</i></a></li>
                    <li data-widget="tab-item" data-index="1" class=""><a ng-click="getDistricts($event,'广东省','广州市')"
                                                                          class="" href="javascript:;"><em
                            class="icon-arrow-left"></em><i>配送至</i></a></li>
                </ul>
                <div class="stock-line"></div>
            </div>
            <div data-widget="tab-content" class="mc" style="">
                <ul class="area-list">
                </ul>
            </div>
        </div>
        <span class="clr"></span>
    </div>
    <div class="address-overlay" ng-show="addressShow"></div>

</div>