<div class="page referrer-sys">
    <!-- pia phone-index-A -->
    <top-nav page-title="中国电信●翼分期商城" page-back="menu" nav-visibility="hide"></top-nav>
    <div class="content-scrollable">
        <form name="referrerForm" id="referrerForm" action="#" method="post" novalidate>
            <div class="top-nav">
                <div class="logo img-box">
                    <img src="/images/referrerSys/logo.png">
                </div>
            </div>
            <div class="login-panel">
                <div class="login-box">
                    <div class="login-hd"><b>中国电信客户经理</b> | 管理系统</div>
                    <div class="login-bd">
                        <input id="referrerNo" name="referrerNo" ng-model="referrer.no" placeholder="请输入工号..." class="weui-input" required/>
                        <a class="referrer-btn" href="javascript:;" ng-click="login($event,referrer.no)">登入</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__text">
            YFQ.CN Copyright &copy; 版权所有
        </p>
        <p class="weui-footer__text">粤ICP备13041721</p>
    </div>
</div>