<div id="setPayType" class="pay-type">
    <input type="hidden" name="payType" id="payType" ng-model="payType" value="{{payType}}" required>
    <div class="weui-cells__title title-icon">
        <span class="title" ng-bind="payTitle"></span><span class="star-color">*</span>
        <span class="sub-title">
            <span ng-bind="payTypeName"></span>
        </span>
    </div>
    <div class="paytype-panel pd-w">

        <div class="weui-flex">
            <div class="weui-flex__item" data-title="货到付款" ng-if="receiver.city.indexOf('广州市') != -1" ng-class="{true:'curr',false:''}[payType == 1]" ng-click="setPayType($event,1);">
                <p class="title">货到付款</p>
            </div>
            <div class="weui-flex__item" data-title="马上付款" ng-class="{true:'curr',false:''}[payType == 0]" ng-click="setPayType($event,0);">
                <p class="title">马上付款</p>
                <ins style="display: none">95折</ins>

            </div>
            <div class="weui-flex__item" data-title="分期付款" ng-class="{true:'curr',false:''}[payType == 2]" ng-click="setPayType($event,2);">
                <p class="title">分期付款</p>
            </div>
        </div>

        <!--<ul class="paytype-list item-lists pure-g" ng-if="receiver.city.indexOf('广州市') == -1">
            <li ng-if="!(phone.activityproductId == 366 || phone.activityproductId == 367 || phone.activityproductId == 368 || phone.activityproductId == 369)" class="pay-item list-item pure-u-1-2" ng-class="{true:'on-paytype',false:''}[payType == 2]" ng-click="setPayType($event,2);">
                <div class="item item-box margin border radius">
                    <p class="title">信用卡分期</p>
                </div>
            </li>
            <li ng-if="!(phone.activityproductId == 366 || phone.activityproductId == 367 || phone.activityproductId == 368 || phone.activityproductId == 369)" class="pay-item list-item pure-u-1-2" ng-class="{true:'on-paytype',false:''}[payType == 0]" ng-click="setPayType($event,0);">
                <div class="item item-box margin border radius">
                    <p class="title">一次性支付</p>
                </div>
            </li>
            <li ng-if="phone.activityproductId == 366 || phone.activityproductId == 367 || phone.activityproductId == 368 || phone.activityproductId == 369" class="pay-item list-item pure-u-1-1 on-paytype" ng-class="{true:'on-paytype',false:''}[payType == 0]" ng-click="setPayType($event,0);">
                <div class="item item-box margin border radius">
                    <p class="title">红色iPhone 7 / 7 Plus 首发预售</p>
                </div>
            </li>
        </ul>
        <ul class="paytype-list item-lists pure-g" ng-if="receiver.city.indexOf('广州市') != -1">
            <li class="pay-item list-item pure-u-1-1 on-paytype" ng-class="{true:'on-paytype',false:''}[payType == 0]" ng-click="setPayType($event,0);">
                <div class="item item-box margin border radius">
                    <p class="title" ng-if="phone.activityproductId == 366 || phone.activityproductId == 367 || phone.activityproductId == 368 || phone.activityproductId == 369">红色iPhone 7 / 7 Plus 首发预售</p>
                    <p class="title" ng-if="receiver.city.indexOf('广州市') != -1">广州地区即日送货上门</p>
                </div>
            </li>
        </ul>-->
    </div>
</div>