html {
  font-size: 100px;
}

@media screen and (min-width: 540px) {
  body {
    overflow: hidden;
    &:after {
      position: absolute;
      top: 50%;
      right: 50%;
      bottom: auto;
      left: auto;
      width: 432px;
      height: 882px;
      @include transform(translate3d(50%, -50%, 0));
      background-image: url($images-src + 'chrome-iphone6-432x882@2x.jpg');
      content: '';
      display: block;
      background-size: contain;
      z-index: -1;
    }
    #container {
      background: $bg-base;
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
      width: auto;
      height: 100%;
      @include transform(translate3d(0, -50%, 0));
      max-width: 375px;
      max-height: 667px;
      margin: 0 auto;
      overflow: hidden;
    }
  }
}

body {
  background: white;
  font-weight: 300;
}

#content-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #000;
  .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    overflow: hidden;
    background: #fff;
  }
}

.content-scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &.has-footer {
    &:after {
      content: " ";
      display: block;
      height: 0.48rem;
    }
  }
}

.content-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  cursor: pointer;
}

.menu-open {
  .content-overlay {
    @include transform(translate3d(45%, 0px, 0px));
    z-index: 1;
  }
}

.overlay-open {
  .content-overlay {
    //@include transform(translate3d(45%, 0px, 0px));
    background: rgba(0,0,0,0.7);
    z-index: 1;
  }
  .overlay {
    z-index: 2;
  }
}

.view-container,
#ui-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}
