.weui-cells {
  font-size: 0.13rem;
}

.weui-cells__title{
  font-size: 0.14rem;
}

.weui-panel__hd {
  font-size: 0.14rem;
  color: #888;
}

.weui-dialog__hd {
  font-size: 0.17rem;
}

.weui-panel__ft {
  font-size: 0.14rem;
}

.weui-media-box {
  .weui-media__hd {
    width: 40px;
    margin-right: 5px;
    line-height: 40px;
    height: 40px;
  }
  .weui-media__title {
    font-size: 0.16rem;
    -ms-text-overflow:inherit;
    text-overflow:inherit;
    white-space:normal;
  }
  .weui-media__desc {
    font-size: 0.13rem;
  }
}

.weui-btn-area {
margin-top: 0.5em;
}

#loadingToast {
  font-size: 0.12rem;
}