.wrapper-welcome {
  position: absolute;
  top: 0.125rem;
  right: auto;
  bottom: auto;
  left: 0;
  width: 25%;
  height: auto;
  padding: 0 0.125rem;
  z-index: -1;
  display: none;
}

@media screen and (min-width: 60em) {
  .wrapper-welcome {
    //display: block;
  }
}

.wrapper-welcome {
  .title-welcome {
    font-size: 0.14rem;
    line-height: 0.20rem;
    font-family: $baseFontFamily;
    font-weight: 900;
    letter-spacing: 0.03rem;
    text-indent: 0.03rem;
    text-transform: uppercase;
    color: #d83e14;
    margin-bottom: 0.05rem;
    text-indent: 0;
  }
  .description-welcome {
    font-size: 0.12rem;
    line-height: 0.18rem;
    color: #555555;
    + .description-welcome {
      margin-top: 0.05rem;
    }
    a {
      font-family: $baseFontFamily;
      font-weight: 700;
      color: #666666;
      &:hover {
        color: #3b3b3b;
      }
      &:active {
        color: #555555;
      }
    }
  }
}
