<div id="simType" class="sim-type">
    <input type="hidden" name="mainCardTypeId" id="mainCardTypeId" value="{{simItem.id}}" ng-model="simItem.id" required class="weui_input">
    <div class="weui_cells_title title-icon">
        <span ng-bind="simTitle"></span>
        <a class="question" ng-click="showOverLay('simTypeInfo')">卡类型介绍?</a>
    </div>
    <div class="sim-type-panel pd-w">
        <ul class="sim-type-lists item-lists minus pure-g">
            <li class="sim-type-item list-item" ng-class="{true:'pure-u-1-4',false:'pure-u-1-2'}[size=='s']"
                ng-repeat="simItem in simList">
                <div class="item-box margin radius border" ng-click="setSimType($event,$index,simItem)"
                     ng-class="{true: 'curr', false: ''}[simItem.id == '0']">
                    <p>
                        <em ng-bind="simItem.txt"></em>
                    </p>
                    <ins class="icon-check"></ins>
                </div>
            </li>
        </ul>
    </div>
    <div id="simTypeInfo" style="display: none;">
        <div class="overlay sim {{class}}">
            <a class="js-close-overlay overlay-dismiss" href="#"><span class="icon-cross"></span></a>
            <div class="weui_panel">
                <div class="weui_panel_hd"><a href="">SIM卡类型</a></div>
                <div class="weui_panel_bd">
                    <div class="weui_media_box weui_media_small_appmsg">
                        <div class="sim-type-lists weui_cells weui_cells_access">
                            <a href="javascript:;" class="sim-type-item weui_cell" ng-repeat="simItem in simList">
                                <div class="weui_cell_hd">
                                    <img style="width:40px;margin-right:5px;display:block" alt="" ng-src="{{simItem.pic}}">
                                </div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p class="tit" ng-bind="simItem.txt"></p>
                                    <p class="disc" ng-bind-html="simItem.tips | trustHtml"></p>
                                </div>
                                <!--<span class="weui_cell_ft"></span>-->
                            </a>
                        </div>
                    </div>
                </div>
                <div class="weui_panel_ft">仅支持三网通和电信版4G手机</div>
            </div>
        </div>
    </div>
</div>