<div id="flowPackage" class="flow-package">
    <input type="hidden" name="productId" id="productId" ng-model="flowPackageItem.id" value="{{flowPackageItem.id}}" required>
    <div class="weui-cells__title title-icon">
        <span class="title" ng-bind="packageTitle"></span>
        <span class="sub-title" ng-class="{true:'hide',false:''}[packageSubTitle == '']" ng-bind="packageSubTitle"></span>
        <timer ng-if="showTime=='true'"></timer>
    </div>
    <div class="flow-package-panel pd-w">
        <ul class="flow-package-lists item-lists minus pure-g">
            <li class="flow-package-item list-item pure-u-1-2" ng-class="{true:'pure-u-offset-right-1-2',false:''}[flowPackageItem.n=='10GB全国流量']" ng-repeat="flowPackageItem in flowPackageList | orderBy:fs:true">
                <div class="item-box margin radius border" ng-click="setFlowPackage($event,flowPackageItem)" ng-class="{true: 'curr', false: ''}[flowPackageItem.n == '8GB全国流量']">
                    <p>
                        <em><span ng-bind="flowPackageItem.fs | GB"></span>G</em>
                    </p>
                    <p>
                        <span ng-bind="flowPackageItem.p"></span><span>元/月</span>
                        <del><span ng-bind="flowPackageItem.op"></span><span>元/月</span></del>
                    </p>
                    <i ng-if="flowPackageItem.n =='8GB全国流量'">
                        荐
                    </i>
                    <ins class="icon-check"></ins>
                </div>
            </li>
        </ul>
    </div>
</div>