<div id="phonePackage" class="phone-package">
    <input type="hidden" name="productId" id="productId" value="{{pkg.productId}}" required class="weui_input">
    <div class="weui-cells__title title-icon">
        <span class="title" ng-bind="packageTitle"></span>
        <span class="sub-title" ng-class="{true:'hide',false:''}[packageSubTitle == '']" ng-bind="packageSubTitle"></span>
        <timer ng-if="showTime=='true'"></timer>
        <a class="question" ng-click="showOverLay('packageInfo')">什么是合约套餐?</a>
    </div>
    <div class="phone-package-panel pd-w">
        <ul class="phone-package-lists item-lists minus pure-g">
            <li class="phone-package-item list-item pure-u-1-2" ng-repeat="pkg in phone.packages">
                <div class="item-box border margin radius" ng-click="setPhonePackage($event,pkg)" ng-class="{true: 'curr', false: ''}[pkg.selected == 'curr']">
                    <p>
                        <em><sub>￥</sub><span ng-bind-html="pkg.price | number:2 | formatMoney:-3 | trustHtml"></span></em>
                        <del><sub>￥</sub><span ng-bind="pkg.oldPrice"></span></del>
                    </p>
                    <p>
                        <span ng-bind="pkg.network"></span><span>流量</span>
                        <span ng-bind="pkg.talkTime"></span><span>分钟</span>
                    </p>
                    <ins class="icon-check"></ins>
                </div>
            </li>
        </ul>
    </div>

    <div id="packageInfo" style="display: none;">
        <div class="overlay sim {{class}}">
            <a class="js-close-overlay overlay-dismiss" href="#"><span class="icon-cross"></span></a>
            <div class="weui-panel">
                <div class="weui-panel__hd"><a href="">合约套餐介绍</a></div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media__text">
                        <h4 class="weui-media__title">独家政策，全国通用，接听免费，拨出无漫游，合约周期36个月，号码归属广东。</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>套餐价</th>
                                    <th>3年共赠</th>
                                    <th>赠送周期</th>
                                    <th>实缴</th>
                                    <th>全国流量</th>
                                    <th>全国通话</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a><span ng-bind="pkg.oldPrice"></span>元</a></td>
                                    <td><a><span ng-bind="phone.return"></span>元</a></td>
                                    <td><a>36个月</a></td>
                                    <td><a><span ng-bind="pkg.price"></span>元</a></td>
                                    <td><a><span ng-bind="pkg.network"></span></a></td>
                                    <td><a><span ng-bind="pkg.talkTime"></span>分钟</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="weui-media-box">
                        <h4 class="weui-media__title">超出收费</h4>
                        <p class="weui-media__desc">短信0.1元/条，国内通话0.15元/分钟，国内流量不足100MB按0.0003元/KB收费，100MB-500MB收费30元。</p>
                    </div>
                    <div class="weui-media-box">
                        <h4 class="weui-media__title">缴费时间</h4>
                        <p class="weui-media__desc">每月8号前缴费<a href="javascript:;" style="display: none;">充值<span ng-bind="pkg.price"></span>元</a>即可，缴费后，赠送的<a ng-bind="pkg.oldPrice - pkg.price"></a>元系统将在每月<a href="javascript:;">9--13号</a>到账。</p>
                        <p class="weui-media__desc" style="margin-top: 0.1rem;">本优惠套餐为合约机优惠套餐，与手机捆绑使用才可享受优惠。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>