<div id="phonePackage" class="phone-package">
    <input type="hidden" name="mainPhonePackage" id="mainPhonePackage" ng-model="phonePackageItem.productId" value="{{phonePackageItem.productId}}" required track class="weui_input">
    <div class="weui_cells_title">选择套餐 - 流量全国通用,通话全国无漫游</div>
    <div class="sim-type-panel">
        <ul class="sim-type-lists item-lists pure-g">
            <li class="phone-package-item list-item" ng-repeat="phonePackageItem in phonePackageList">
                <div class="item-box" ng-click="setPhonePackage($event,phonePackageItem)">
                    <p>
                        <em><sub>￥</sub><span ng-bind-html="phonePackageItem.price | number:2 | formatMoney:-3 | trustHtml"></span></em>
                        <del><sub>￥</sub><span ng-bind="phonePackageItem.oldPrice"></span></del>
                    </p>
                    <p>
                        <span ng-bind="phonePackageItem.network"></span><span>G流量</span>
                        <span ng-bind="phonePackageItem.talkTime"></span><span>分钟通话</span>
                    </p>
                    <ins class="icon-check"></ins>
                </div>
            </li>
        </ul>
    </div>
</div>