.page.fd-details {
  &.v9 {
    .content-scrollable {
      background: #eee !important;
    }
    .timers {
      background: #fff;
      .timer-area {
        position: static;
      }
      .btns-area {
        position: static;
      }
    }
    .timer-area {
      .timer {
        i {
          width: 0.3rem !important;
          height: 0.3rem !important;
          background: #333 !important;
          line-height: 0.3rem !important;
        }
        sub {
          text-indent: -999rem;
          overflow: hidden;
          width: 1em;
          height: 0.18rem;
          position: relative;
          &:before {
            content: ":";
            text-align: center;
            display: block;
            text-indent: 0;
            position: absolute;
            width: 1em;
            height: 0.18rem;
            line-height: 0.18rem;
            left: 0;
            top: 0;
            font-size: 0.18rem;
          }
          &:last-child {
            display: none !important;
          }
        }
      }
    }
    .table {
      @include border-radius(4px);
      th, td {
        color: #666;
      }
    }
  }
}