<nav class="{{navClass}} {{navVisibility}}">
    <div class="nav-group">
        <a ng-if="pageBack == 'back'" class="nav-item js-back" ng-click="back()" href="javascript:;"><span class="icon-arrow-left"></span></a>
        <a ng-if="pageBack == 'menu'" class="nav-item js-menu" ng-click="menu()" href="javascript:;"><span class="icon-menu"></span></a>
    </div>

    <div class="title-page">
        {{pageTitle}}
        <span class="subtext-page">{{subtext}}</span>
    </div>

    <div class="nav-group right">
        <a ng-if="pageDone == 'done'" class="nav-item js-done" ng-click="done()" href="javascript:;">完成</a>
    </div>
</nav>