<nav class="{{navClass}} {{navVisibility}}">
    <div class="nav-group">
        <a ng-if="pageBack == 'back'" class="nav-item js-back" ng-click="back()" has-hash="false" href="javascript:userTrack('返回上一页');"><span class="icon-arrow-left"></span></a>
        <a ng-if="pageBack == 'menu'" class="nav-item js-menu" ng-click="menu()" has-hash="false" href="javascript:userTrack('显示菜单');"><span class="icon-menu"></span></a>
        <a ng-if="pageBack == 'home'" class="nav-item js-home" ng-click="home()" has-hash="false" href="javascript:userTrack('返回主页');"><span class="icon-home"></span></a>
    </div>

    <div class="title-page">
        {{pageTitle}}
        <span class="subtext-page">{{subtext}}</span>
    </div>

    <div class="nav-group right">
        <a ng-if="pageDone == 'done'" class="nav-item js-done" ng-click="done()" href="javascript:;">完成</a>
        <a ng-if="pageDone == 'contact'" class="nav-contact nav-item js-done" ng-click="getContact()" has-hash="false" href="javascript:userTrack('联系客服');"><span class="icon-comment"></span><span style="font-size: 0.14rem">客服</span></a>
    </div>
</nav>