/*
 * animations css stylesheet
 */

.view-frame {
  background: #fff;
}

.view-frame.ng-leave {
  @include transition-property(all);
  @include transition-duration(5000ms);
  @include transition-timing-function(ease-out);
  @include transform(translate3d(0, 0, 0));
  z-index: 99;
}

.view-frame.ng-leave-active {
  @include transform(translate3d(-100%, 0, 0));
}

.view-frame.ng-enter {
  @include transition-property(all);
  @include transition-duration(5000ms);
  @include transition-timing-function(ease-out);
  @include transform(translate3d(100%, 0, 0));
  z-index: 100;
}

.view-frame.ng-enter-active {
  @include transform(translate3d(0, 0, 0));
}

//back
.ng-back .view-frame.ng-leave {
  @include transition-property(all);
  @include transition-duration(5000ms);
  @include transition-timing-function(ease-out);
  @include transform(translate3d(0, 0, 0));
  z-index: 99;
}

.ng-back .view-frame.ng-leave-active {
  @include transform(translate3d(100%, 0, 0));
}

.ng-back .view-frame.ng-enter {
  @include transition-property(all);
  @include transition-duration(5000ms);
  @include transition-timing-function(ease-out);
  @include transform(translate3d(-100%, 0, 0));
  z-index: 100;
}

.ng-back .view-frame.ng-enter-active {
  @include transform(translate3d(0, 0, 0));
}