em {
  color: $color-primary;
  font-style: normal;
}
sub {
  bottom:0;
}
.img-box {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.text-r {
  text-align: right;
}
.text-l {
  text-align: left;
}
.text-c {
  text-align: center;
}
.ib {
  @include inline-block;
}
.pure-u-offset-right-1-2 {
  margin-right: 50% !important;
  *margin-right: 49.969% !important;
}
.hide{
  display: none !important;
}

.bg-none {
  background: none !important;
}

.bold {
  font-weight: 500;
}
.disabled {
  color: #999;
  @include opacity(0.5);
}

.pd-w {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}
.pd-h {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}
.font-10 {
  font-size: 0.10rem;
}
.font-12 {
  font-size: 0.12rem;
}
.font-14 {
  font-size: 0.14rem;
}
.font-16 {
  font-size: 0.16rem;
}
.font-18 {
  font-size: 0.18rem;
}
.no-border {
  border:none !important;
}
p.tips {
  font-size: 0.1rem;
  color: #999;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  margin-top: 0.05rem;
  margin-bottom: 0.1rem;
}
