.btn {
  color: white;
  @include inline-block;
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.12rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
  line-height: 22px !important;
  padding: 0.12rem 0.125rem 0.095rem;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-indent: 0.03rem;
  text-transform: uppercase;
  transition: all 200ms ease-in 0s;
  white-space: nowrap;
  @include border-radius(2px);
}

.btn-block {
  display: block;
  border: 0;
}

.address {
  .weui_cells {
    background: none;
    &:before {
      display: none;
    }
  }
  .weui_cell {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    @include border-radius(0.04rem);
    border: 1px solid #999;
    background: #fff;
    &:before {
      display: none;
    }
  }
}

.weui_cells_form {
  .weui_cell {
    &.weui_cell_warn {
      border: 1px solid $color-primary;
    }
    &.weui_cell_success {
      border: 1px solid $color-green;
    }
  }
  .weui_label {
    width: 5em;
    color: #999;
  }
  .weui_cell_warn {
    .weui_label {
      //width: 5em;
      color: #f43530;
    }
  }
  .weui_cell_success {
    color: $color-green;
    .weui_label {
      //width: 5em;
      color: $color-green;
    }
    .weui_icon_warn {
      display: none;
    }
    .weui_icon_success {
      display: inline-block;
    }
  }
  .weui_cell_ft {
    .weui_icon_warn {
      &:before {
        font-size: 0.18rem;
      }
    }
    .weui_icon_success {
      &:before {
        font-size: 0.18rem;
      }
    }
  }
  .weui_icon_success {
    display: none;
  }
}