.btn {
    color: white;
    @include inline-block;
    font-family: "lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.12rem;
    font-weight: 300;
    letter-spacing: 0.03rem;
    line-height: 22px !important;
    padding: 0.12rem 0.125rem 0.095rem;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    text-indent: 0.03rem;
    text-transform: uppercase;
    transition: all 200ms ease-in 0s;
    white-space: nowrap;
    @include border-radius(2px);
}

.btn-block {
    display: block;
    border: 0;
}
