@font-face {
	font-family: 'percolate';
	src:url('../../fonts/icon/market.eot?-3varwy');
	src:url('../../fonts/icon/market.eot?#iefix-3varwy') format('embedded-opentype'),
		url('../../fonts/icon/market.woff?-3varwy') format('woff'),
		url('../../fonts/icon/market.ttf?-3varwy') format('truetype'),
		url('../../fonts/icon/market.svg?-3varwy#market') format('svg');
	font-weight: normal;
	font-style: normal;
    
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'percolate';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-unlock:before {
    content: "\e600"
}

.icon-admin:before {
    content: "\e601"
}

.icon-category:before {
    content: "\e602"
}

.icon-commit:before {
    content: "\e603"
}

.icon-compass:before {
    content: "\e604"
}

.icon-document:before {
    content: "\e605"
}

.icon-gdrive:before {
    content: "\e606"
}

.icon-speaker:before {
    content: "\e607"
}

.icon-youtube:before {
    content: "\e608"
}

.icon-camera:before {
    content: "\e609"
}

.icon-facebook:before {
    content: "\e60a"
}

.icon-github:before {
    content: "\e60b"
}

.icon-twitter:before {
    content: "\e60c"
}

.icon-hourglass:before {
    content: "\e60d"
}

.icon-link:before {
    content: "\e60e"
}

.icon-play:before {
    content: "\e60f"
}

.icon-video:before {
    content: "\e610"
}

.icon-expand:before {
    content: "\e611"
}

.icon-flag:before {
    content: "\e612"
}

.icon-globe:before {
    content: "\e613"
}

.icon-pin:before {
    content: "\e614"
}

.icon-face-happy:before {
    content: "\e615"
}

.icon-face-neutral:before {
    content: "\e616"
}

.icon-face-sad:before {
    content: "\e617"
}

.icon-thumbs-up:before {
    content: "\e618"
}

.icon-book:before {
    content: "\e619"
}

.icon-credit:before {
    content: "\e61a"
}

.icon-dashboard:before {
    content: "\e61b"
}

.icon-profile:before {
    content: "\e61c"
}

.icon-beaker:before {
    content: "\e61d"
}

.icon-box:before {
    content: "\e61e"
}

.icon-shield:before {
    content: "\e61f"
}

.icon-structure:before {
    content: "\e620"
}

.icon-doc-list:before {
    content: "\e621"
}

.icon-graph-bar:before {
    content: "\e622"
}

.icon-graph-line:before {
    content: "\e623"
}

.icon-list-unordered:before {
    content: "\e624"
}

.icon-doc-chart:before {
    content: "\e625"
}

.icon-heart-hollow:before {
    content: "\e626"
}

.icon-heart:before {
    content: "\e627"
}

.icon-star:before {
    content: "\e628"
}

.icon-circle-hollow:before {
    content: "\e629"
}

.icon-circle:before {
    content: "\e62a"
}

.icon-ellipsis:before {
    content: "\e62b"
}

.icon-star-hollow:before {
    content: "\e62c"
}

.icon-arrow-left-alt:before {
    content: "\e62d"
}

.icon-arrow-right-alt:before {
    content: "\e62e"
}

.icon-arrow-up:before {
    content: "\e62f"
}

.icon-chevron-down:before {
    content: "\e630"
}

.icon-arrow-down:before {
    content: "\e631"
}

.icon-arrow-left:before {
    content: "\e632"
}

.icon-arrow-right:before {
    content: "\e633"
}

.icon-download:before {
    content: "\e634"
}

.icon-proceed:before {
    content: "\e635"
}

.icon-time:before {
    content: "\e636"
}

.icon-timer:before {
    content: "\e637"
}

.icon-menu:before {
    content: "\e638"
}

.icon-outbox:before {
    content: "\e639"
}

.icon-print:before {
    content: "\e63a"
}

.icon-rss:before {
    content: "\e63b"
}

.icon-comment:before {
    content: "\e63c"
}

.icon-email:before {
    content: "\e63d"
}

.icon-reply:before {
    content: "\e63e"
}

.icon-share:before {
    content: "\e63f"
}

.icon-alert:before {
    content: "\e640"
}

.icon-paperclip:before {
    content: "\e641"
}

.icon-power:before {
    content: "\e642"
}

.icon-question:before {
    content: "\e643"
}

.icon-check:before {
    content: "\e644"
}

.icon-key:before {
    content: "\e645"
}

.icon-lock:before {
    content: "\e646"
}

.icon-close:before {
    content: "\e647"
}

.icon-cross:before {
    content: "\e648"
}

.icon-search:before {
    content: "\e649"
}

.icon-sync:before {
    content: "\e64a"
}

.icon-add:before {
    content: "\e64b"
}

.icon-copy:before {
    content: "\e64c"
}

.icon-plus:before {
    content: "\e64d"
}

.icon-trash:before {
    content: "\e64e"
}

.icon-cog:before {
    content: "\e64f"
}

.icon-edit:before {
    content: "\e650"
}

.icon-home:before {
    content: "\e651"
}

.icon-user-add:before {
    content: "\e652"
}

.icon-percolate:before {
    content: "\e653"
}

.icon-user-alt:before {
    content: "\e654"
}

.icon-user:before {
    content: "\e655"
}

.icon-users:before {
    content: "\e656"
}

.page-loading {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    border-left: 2px solid rgba(255, 255, 255, 0.7);
    border-right: 2px solid #6064ad;
    border-top: 2px solid #6064ad;
    border-radius: 100%;
    -webkit-animation: spin 0.8s infinite linear;
    -moz-animation: spin 0.8s infinite linear;
    -o-animation: spin 0.8s infinite linear;
    animation: spin 0.8s infinite linear;
    margin: 30% auto;
    height: 1rem;
    width: 1rem
}

/*@media screen and (min-width: 40em) {
    .page-loading {
        height: 6em;
        width: 6em
    }
}*/

.inline-loading {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    border-right: 1px solid #6064ad;
    border-top: 1px solid #6064ad;
    border-radius: 100%;
    -webkit-animation: spin 0.8s infinite linear;
    -moz-animation: spin 0.8s infinite linear;
    -o-animation: spin 0.8s infinite linear;
    animation: spin 0.8s infinite linear;
    display: inline-block;
    height: .75em;
    width: .75em
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -ms-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
