<div id="setPayType" class="pay-type">
    <input type="hidden" name="payType" id="payType" ng-model="payType" value="{{payType}}" required>
    <div class="weui-cells__title title-icon">
        <span class="title" ng-bind="payTitle"></span><span class="star-color">*</span>
        <span class="sub-title">
            <span ng-bind="payTypeName"></span>
        </span>
    </div>
    <div class="paytype-panel pd-w">
        <ul class="paytype-list item-lists minus minus pure-g">
            <li id="payType2" class="pay-item list-item pure-u-1-3 on-paytype" ng-if="!cardPay" ng-show="totolPrice > 1500" ng-click="setPayType($event,'2','信用卡分期');">
                <div class="item item-box margin border radius">
                    <p class="title">信用卡分期</p>
                    <p class="details">12期免息 0现金</p>
                </div>
            </li>
            <li id="payType0" class="pay-item list-item pure-u-1-3" ng-if="!cardPay" ng-click="setPayType($event,'0','一次性支付');">
                <div class="item item-box margin border radius">
                    <p class="title">一次性支付</p>
                    <p class="details">再享95折优惠</p>
                </div>
            </li>
            <li id="payType0" class="pay-item list-item pure-u-1-3" ng-if="cardPay" ng-class="{true:'on-paytype',false:''}[cardPay]" ng-click="setPayType($event,'0','一次性支付');">
                <div class="item item-box margin border radius">
                    <p class="title">在线支付</p>
                    <p class="details">预付首月月租</p>
                </div>
            </li>
            <li id="payType1" class="pay-item list-item pure-u-1-3" ng-if="!cardPay" ng-click="setPayType($event,'1','货到付款');">
                <div class="item item-box margin border radius">
                    <p class="title">货到付款</p>
                    <p class="details">预付99元抵200</p>
                </div>
            </li>
        </ul>
        <div class="pay-style-details" style="display:none">
            <p ng-show="payType==2">信用卡分期：12期免息。总价<span class="price-color">￥<span ng-bind="totolPrice | number:0">12776</span></span>，月供仅<span class="price-color">￥<span ng-bind="totolPrice/12 | number:0">12776</span></span></p>
            <p ng-show="payType==0">一次性支付：再享95折优惠。总价<span class="price-color">￥<span ng-bind="totolPrice*.95 | number:0">12776</span></span>，劲省<span class="price-color">￥<span ng-bind="totolPrice*.05 | number:0">12776</span></span></p>
            <p ng-show="payType==1">货到付款：预付99元抵200。总价<span class="price-color">￥<span ng-bind="totolPrice-101 | number:0">12776</span></span>，劲省<span class="price-color">￥101</span></p>
        </div>
    </div>

    <div id="payTipsPanel" style="display: none">
        <div class="overlay {{class}}">
            <a class="js-close-overlay overlay-dismiss" href="#"><span class="icon-cross"></span></a>
            <div class="sign-in-panel">
                <div  style="background: none">
                    <h3 class="how-title" style="text-align:center;line-height: .48rem">如何办理分期</h3>
                    <p class="order"> <ins  class="pay-logo"></ins>分期服务由中国银联提供</p>
                </div>
                <div class="how-to-pay">
                    <div class="how-to-pay-list">
                        <ul>
                            <li>
                                <div class="title">
                                    <h3>1.选择分期银行</h3>
                                    <ins class="logo1"></ins>
                                </div>
                                <div class="details">
                                    <p>根据您当前的信用卡，选择信用卡所归属银行</p>
                                </div>
                            </li>
                            <li>
                                <div class="title">
                                    <h3>2.申请分期</h3>
                                    <ins class="logo2"></ins>
                                </div>
                                <div class="details">
                                    <p>向中国银联发送您的信用分期业务申请</p>
                                </div>
                            </li>
                            <li>
                                <div class="title">
                                    <h3>3.等待批复</h3>
                                    <ins class="logo3"></ins>
                                </div>
                                <div class="details">
                                    <p>银联在线审核分期业务</p>
                                </div>
                            </li>
                            <li>
                                <div class="title">
                                    <h3>4.申请成功</h3>
                                    <ins class="logo4"></ins>
                                </div>
                                <div class="details">
                                    <p>银联通过审核后，分期业务也将成功办理，商品会即时发出，若申请不成功，请联系值班客服：<a href="tel:020-85599948">020-85599918</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="title">
                                    <h3>5.收货验货</h3>
                                    <ins class="logo5"></ins>
                                </div>
                                <div class="details" style="border:0">
                                    <p style="padding:0">商品发出后，我们将会通知您</p>
                                    <p>届时您只需收货验货</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="notice">
                    <p><b style="color:#000;">温馨小贴士:</b></p>
                    <p>1.分期购买服务仅支持合作银行信用卡办理</p>
                    <p>2.办理分期，需要冻结信用卡的等值额度，若额度不够将无法办理。(冻结的额度，每月还款后也会恢复至信用卡)</p>
                    <p>3.对信用卡分期业务存在疑问，可拨打银联官方客服电话：<a href="tel:95516">95516</a>遇到其他问题，您还可联系我们值班客服:<a href="tel:020-85599918">020-85599918</a></p>
                    <ins></ins>
                </div>
            </div>
            <div style="margin-bottom:60px"></div>
            <div class="btns-group" style="position:fixed;bottom:0;left:0;width:100%">
                <a  class="btn-primary btn-shadow" style="background-color:#FF4521" href="javascript:;" ng-click="tipsSubmit();">已了解，现在办理</a>
            </div>

        </div>
    </div>
</div>