<div id="setPayType" class="pay-type">
    <input type="hidden" name="payType" id="payType" ng-model="payType" value="{{payType}}" required>
    <div class="weui-cells__title title-icon">
        <span class="title" ng-bind="payTitle"></span><span class="star-color">*</span>
        <span class="sub-title">
            <span ng-bind="payTypeName"></span>
        </span>
    </div>
    <div class="paytype-panel pd-w">
        <ul class="paytype-list item-lists minus minus pure-g">
            <li id="payType0" class="pay-item list-item pure-u-1-3" ng-if="!cardPay" ng-class="{true:'on-paytype',false:''}[payType == 0]" ng-click="setPayType($event,0);">
                <div class="item item-box margin border radius">
                    <div ng-if="cardPay">
                        <p class="title">在线支付</p>
                        <p class="details" ng-bind="details">预付首月月租</p>
                    </div>
                    <div ng-if="!cardPay">
                        <p class="title">一次性支付</p>
                        <p class="details">领券立减</p>
                    </div>
                </div>
            </li>
            <li id="payType2" class="pay-item list-item pure-u-1-3 on-paytype" ng-if="!cardPay" ng-show="activeTag !='lj'" ng-class="{true:'on-paytype',false:''}[payType == 2]" ng-show="totolPrice > 1500" ng-click="setPayType($event,2);">
                <div class="item item-box margin border radius">
                    <p class="title">信用卡分期</p>
                    <p class="details">领券免息</p>
                </div>
            </li>
            <li id="payType1" class="pay-item list-item pure-u-1-3" ng-if="!cardPay" ng-class="{true:'on-paytype',false:''}[payType == 1]" ng-click="setPayType($event,1);">
                <div class="item item-box margin border radius">
                    <div ng-if="receiver.city.indexOf('广州市') != -1">
                        <p class="title">同城验货</p>
                        <p class="details">广州电信上门服务</p>
                    </div>
                    <div ng-if="receiver.city.indexOf('广州市') == -1">
                        <p class="title">货到付款</p>
                        <p class="details">预付99元抵200</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="pay-style-details" style="display:none">
            <p ng-show="payType==2">信用卡分期：12期免息。总价<span class="price-color">￥<span ng-bind="totolPrice | number:0">12776</span></span>，月供仅<span class="price-color">￥<span ng-bind="totolPrice/12 | number:0">12776</span></span></p>
            <p ng-show="payType==0">一次性支付：再享95折优惠。总价<span class="price-color">￥<span ng-bind="totolPrice*.95 | number:0">12776</span></span>，劲省<span class="price-color">￥<span ng-bind="totolPrice*.05 | number:0">12776</span></span></p>
            <p ng-show="payType==1">货到付款：预付99元抵200。总价<span class="price-color">￥<span ng-bind="totolPrice-101 | number:0">12776</span></span>，劲省<span class="price-color">￥101</span></p>
        </div>
    </div>
</div>