.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 78%;
  overflow: hidden;
  position: relative;
  @include transform( translate3d(0px, 0px, 0px));
  width: 100%;
  &::before {
    @include transition-property(all);
    @include transition-duration(800ms);
    @include transition-timing-function(ease-out);
    @include transition-delay(0s);
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: auto;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 2;
  }
  .title {
    bottom: auto;
    display: inline-block;
    height: auto;
    left: auto;
    position: absolute;
    right: 50%;
    top: 45%;
    @include transform( translate3d(50%, -50%, 0px));
    width: 70%;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-size: 0.36rem;
    line-height: 0.44rem;
    img {
      width: 100%;
      display: block;
      vertical-align: middle;
    }
  }
}