.content-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    .btn {
        background: #f43530;
        color: #fff;
        font-size: 0.18rem;
    }
    .btn-block {
        margin: 0.05rem;
    }
    .btn-gray {
        background: $bg-base;
        color: #666;
        border: 1px solid #ccc;
    }
}