.item-lists {
  &.minus {
    margin-left: -0.04rem;
    margin-right: -0.04rem;
  }
  font-size: 0.12rem;
  .list-item {
    margin: 0;
    padding: 0;
  }

  @at-root .item-box {
    padding: 0.15rem;
    text-align: center;
    position: relative;
    background: #fff;
    font-size: 0.12rem;
    &.margin {
      margin-left: 0.04rem;
      margin-right: 0.04rem;
      margin-top: 0.04rem;
      margin-bottom: 0.04rem;
    }
    &.border {
      border: 1px solid #999;
    }
    &.radius {
      @include border-radius(0.04rem);
    }
    //@include box-shadow(#d9d9d9 0px 0px 2px);
    &.small {
      padding-left:0.05rem;
      padding-right: 0.05rem;
      padding-top: 0.07rem;
      padding-bottom: 0.07rem;
    }

    em {
      color: #333;
      font-style: normal;
      font-size: 0.18rem;
    }

    del {
      font-size: 0.14rem;
      color: #999;
      margin-left: 0.05rem;
    }

    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    ins {
      position: absolute;
      text-decoration: none;
      display: none;
      font-size: 0.18rem;
      right: 0rem;
      bottom: 0rem;
    }

    i {
      position: absolute;
      font-size: 0.12rem;
      width: 0.30rem;
      height: 0.30rem;
      right: -0.08rem;
      top: -0.09rem;
      text-align: center;
      line-height: 0.30rem;
      @include border-radius(10rem);
      background: $color-primary;
      color: #fff;
      font-style: normal;
      img {
        display: block;
        width: 100%;
      }
    }

    &.curr {
      //@include box-shadow($color-green 0px 0px 2px);
      color: $color-primary;
      font-weight: bold;
      &.border {
        border: 1px solid $color-primary;
      }
      em {
        color: $color-primary;
      }
      ins {
        display: block;
      }
    }
  }
}
