
.content-overlay {
    bottom: 0;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.overlay {
    //background-image: linear-gradient(to bottom, rgba(232, 234, 241, 0.97), rgba(243, 243, 244, 0.97) 100%);
    @include background-image(linear-gradient(to bottom, rgba(232, 234, 241, 1), rgba(243, 243, 244, 1) 100%));
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 1;
    font-size: 0.14rem;
    .overlay-title {
        font-size: 0.18rem;
        height: 0.48rem;
        line-height: 0.48rem;
        text-align: center;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    &.model-overlay{
        overflow-y:scroll ;
        @include background-image(linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 100%));
        p.order{
          background-color:#FBF9FE;
          font-size:.12rem;
          text-align:center;
          color:#999;
          padding:.1rem 0;
          border-top:1px solid #eee;
          border-bottom:1px solid #eee;
        }
      .how-title{
        font-family: "Microsoft Yahei";
        font-size: 0.16rem;
        font-weight: normal;
        letter-spacing: 0.3em;
        text-indent: 0.3em;
        text-overflow: ellipsis;
        text-transform: uppercase;
      }
      .how-to-pay{
        margin:.2rem .1rem .1rem .3rem;
          ul{
            list-style:none;
            .title,.details{
              padding-left:.3rem;
              border-left:1px solid #999;
              position:relative;
            }
            .title{
              ins{
                position:absolute;
                z-index:10;
                left:-.2rem;
                top:-.05rem;
                background-size:100% 100%;
                width: .4rem;
                height:.4rem;
              }
              .logo1{
                background-image:url(../../../images/logo1.png);
              }
              .logo2{
                background-image:url(../../../images/logo2.png);
              }
              .logo3{
                background-image:url(../../../images/logo3.png);
              }
              .logo4{
                background-image:url(../../../images/logo4.png);
              }
              .logo5{
                background-image:url(../../../images/logo5.png);
              }
            }
            h3{
              font-weight:normal;
              font-size:.16rem;
              padding-bottom:.05rem;
            }
            p{
              font-size:.12rem;
              color:#999;
              padding-bottom:.3rem;
            }
          }

      }
      .notice{
        margin:0 .2rem;
        padding:.1rem;
        border:1px solid #000;
        background-color:#fbdfdd;
        border-radius: 10px;
        position:relative;
          p{
            color:#666;
            font-size: 0.12rem;
          }
        ins{
          position:absolute;
          right:0;
          top:0;
          background-image: url(../../../images/girl.png);
          background-size:100% 100%;
          right: 0;
          top: -1.1rem;
          width: 0.7rem;
          height: 1.2rem;
        }
      }

    }
    .overlay-back,
    .overlay-dismiss {
        font-size: 0;
        bottom: auto;
        height: 0.48rem;
        left: auto;
        position: absolute;
        right: auto;
        text-align: center;
        text-decoration: none;
        top: 0;
        width: 0.48rem;
        z-index: 1;
        [class^="icon-"],
        [class*=" icon-"] {
            color: #666666;
            font-size: 0.16rem;
            line-height: 0.48rem;
        }
    }
    .overlay-back {
        left: 0;
    }
    .overlay-dismiss {
        right: 0;
    }
    .wrapper-heading {
        bottom: auto;
        height: auto;
        left: auto;
        padding: 0 0.125rem;
        position: absolute;
        right: auto;
        text-align: center;
        top: 45%;
        @include transform( translate3d(0px, -50%, 0px));
        width: 100%;
    }
    .title-overlay {
        color: #333333;
        font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0.05rem;
    }
    .subtitle-overlay {
        color: #555555;
        font-size: 18px;
        line-height: 0.15;
    }
    &.auth {
        @include transform( translate3d(-100%, 0px, 0px));
    }
    .overlay-hook {
        &.auth-open {
            @include transform( translate3d(0px, 0px, 0px));
        }
    }
}

.content-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    cursor: pointer;
}

.menu-open {
    .content-overlay {
        @include transform(translate3d(45%, 0px, 0px));
        z-index: 1;
    }
}

.overlay-open {
    .content-overlay {
        //@include transform(translate3d(45%, 0px, 0px));
        background: rgba(0,0,0,0.7);
        z-index: 1;
    }
    .overlay {
        z-index: 11;
    }
}