.owl-carousel {
  font-size: 0;
  background: #eaeaea;
  padding-bottom: 0.3rem;
  .owl-controls {
    position: absolute;
    bottom:0.1rem;
    z-index: 1;
    width: 100%;
    text-align: center;
    .owl-buttons {
      display: none;
    }
    .owl-page {
      span {
        width: 0.08rem;
        height: 0.08rem;
        margin:0.05rem;
      }
    }
  }
}
.carousel-item,.owl-item {
  width: 100%;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}