.weui_select {
  height: 0.35rem;
  line-height: 0.35rem;
  padding-left: 0.15rem;
}

.weui_cell_select {
  .weui_select {
    padding-right: 0.03rem;
  }
}

.weui_select_before {
  .weui_select {
    width: 1.05rem;
  }
}

.query-panel {
  .phone-number {
    font-size: 0.16rem;
    //@include text-shadow(rgba(#999, 0.8) 3px 3px 5px);
  }
}

.phone-query {
  margin-top: 0.05rem;
  background: none;
  &.weui_cells {
    &:before {
      display: none;
    }
  }
  .weui_cell {
    &:before {
      display: none;
    }
  }
}