.step-buy {
  @include border-radius(5rem);
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  text-align: center;
  position: fixed;
  right: 0.10rem;
  top:30%;
  @include box-shadow(rgba(#000, 0.4) 0 0 10px, 0 1px 1px 0 $color-primary inset);
  @include background-image(linear-gradient(to bottom, $bg-red 0px, $color-primary 100%));
  display:table;
  @include opacity(0.5);
  @include transition-property(opacity);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);
  &.active {
    @include opacity(1);
  }
  &:after {
  }
  .progressbar-text {
    display:table-cell;
    vertical-align:middle;
    color: #fff;
    font-size: 0.17rem;
    line-height: 0.20rem;
    @include text-shadow(rgba($color-primary, 0.4));
  }
}