.weui-tab {
  background: #fff;
}

.weui-tab__item {
  display: none;
}

.weui-tab__item_on {
  display: block !important;
}

.weui-navbar {
  position: static;
  background: none;
  .weui-navbar__item {
    background: #fbf9fe;
    &.weui-bar__item_on {
      background: #fff;
    }
  }
}

.weui-tab__panel {
  height: auto;
  overflow: hidden;
  padding-top: 0 !important;
}

/*
.weui-tabbar {
  background: #fff;
  .weui-tabbar__item {
    .weui-tabbar__label {
      white-space: nowrap;
    }
    .weui-tabbar__icon {
      .normal {
        display: block;
      }
      .active {
        display: none;
      }
    }
    &.weui-bar__item_on {
      .weui-tabbar__icon {
        .normal {
          display: none;
        }
        .active {
          display: block;
        }
      }
      .weui-tabbar__label {
        color: #ff6700;
      }
    }
    &.mall {
      .weui-tabbar__icon {
        position: relative;
        img {
          position: absolute;
          width: 48px;
          height: 48px;
          margin-top: -24px;
          margin-left: -12px;
        }
      }
    }
  }
}*/
