.weui-cells__title{
  font-size: 0.14rem;
  span {
    @include inline-block;
  }
  .sub-title {
    font-size: 60%;
    padding-left: 0.08rem;
    padding-right: 0.08rem;
    @include border-radius(0.1rem);
    border:1px solid $color-primary;
    line-height: 0.24rem;
    margin-left: 0.1rem;
    color: $color-primary;
  }
  .question {
    font-size: 75%;
    float: right;
  }
  .timer {
    @include inline-block;
    margin-left: 0.1rem;
    font-weight: 300;
    font-size: 0.16rem;
    i {
      font-style: normal;
      font-size: 90%;
    }
    sub {
      color: #999;
      font-size: 60%;
    }
  }
}

.spc-title {
  background: $color-negative;
  color: #fff;
  font-size: 0;
  text-align: center;
  padding-top: 0.07rem;
  padding-bottom: 0.07rem;
  position: relative;
  h2 {
    font-size: 0.19rem;
    font-weight: 500;
    span {
      @include inline-block;
      &:first-child {
        width: 2em;
        position: relative;
        &:after {
          content: " ";
          position: absolute;
          width: 90%;
          height: 0.02rem;
          top:50%;
          left: 0;
          background: #fff;
          margin-top: -0.01rem;
        }
      }
      &:last-child {
        width: 2em;
        position: relative;
        &:before {
          content: " ";
          position: absolute;
          width: 90%;
          height: 0.02rem;
          top:50%;
          right: 0;
          background: #fff;
          margin-top: -0.01rem;
        }
      }
    }
  }
  h3 {
    font-size: 0.13rem;
    font-weight: 400;
  }
  ins {
    position: absolute;
    border-top: 0.25rem solid $color-negative;
    border-left: 0.2rem solid transparent;
    border-right: 0.2rem solid transparent;
    margin-left: -0.2rem;
    bottom:-0.24rem;
    left: 50%;
  }
}

.title-icon {
  position: relative;
  padding-left: 0.28rem;
  &:before {
    content: " ";
    position: absolute;
    left: 0.15rem;
    height: 0.16rem;
    top: 50%;
    margin-top: -0.08rem;
    background: $color-primary;
    @include border-radius(1rem);
    width: 0.05rem;
  }
}