//严禁在此处写公共样式,此文件可随活动一起废弃.
.page.fd-details,.page.p-details {
  .product-header {
    background: #fff;
  }
  .content-scrollable {
    background: #fbf9fe !important;
  }
  .weui-cells__title {
    font-size: 0.16rem;
    color: #333;
    font-weight: bold;
    line-height: 0.32rem;
    span {
      vertical-align: baseline;
    }
  }
}

.overlay.sim {
  .weui-cell {
    @include align-items(top);
  }
  .weui-cell__hd {
    @include align-self(top);
  }
  .weui-cell__bd {
    p {
      font-weight: 300;
      color: #999;
      &.tit {
        font-size: 0.16rem;font-weight: bold;
        color: #333;
      }
      s {
        color: #333;
        font-style: normal;
        text-decoration: none;
      }
    }
  }
  .weui-panel {
    background: none;
    margin-top: 0;
    .weui-panel__hd {
      text-align: center;
      &:after {
        left: 0;
      }
    }
    .weui-panel__ft {
      text-align: center;
      padding-bottom: 0.2rem;
      color: #333;
      &:before {
        left: 0;
      }
    }
  }
  .weui-cells {
    background: none;
    .weui_cell {
      &:before {
        left: 0;
      }
    }
  }
}

.overlay.bottom {
  top: auto;
  background: #fff;
}

.module-tips {
  font-size: 0.12rem;
  color: #999;
  text-align: right;
  padding-right: 0.15rem;
  margin-top: 0.05rem;
}

div.module-tips {
  font-size: 0.15rem;
  padding:0.15rem;
  margin-top: 0;
  text-align: center;
  background: #fff;
  color: #333;
}