<div class="page active-a active-d">
    <!-- pia phone-index-c -->
    <top-nav page-title="中国电信●翼分期商城" page-back="menu" nav-visibility="hide"></top-nav>
    <div class="content-scrollable">
        <gh></gh>
        <!--<div class="hot-phone img-box">-->
        <!--<img src="/images/active/activePhoneTitle.jpg">-->
        <!--</div>-->
        <div ng-click="showFudai('JM-MX')">
            <div class="img-box">
                <img src="/images/active/d/1.jpg">
            </div>
        </div>
        <div class="img-box" ng-click="showFudai('JM-MX')">
            <img src="/images/active/d/2.jpg">
        </div>
        <div class="img-box">
            <img src="/images/active/d/3.jpg">
        </div>
        <div class="hot-phone">
            <ul class="spc-list hot-phone">
                <li ng-repeat="singlePhone in singlePhones | filter:{ifRecommend: 1}"
                    ng-show="singlePhone.salePrice >= 1500">
                    <a class="item-box pure-g" ng-if="params.length == 0"
                       href="/phs/sg/{{pageType}}/{{singlePhone.activityproductId}}{{params}}?headCategory={{category}}"
                       ng-class="{true:'curr',false:''}[machineName == singlePhone.productName]"
                       ng-click="setMachine(singlePhone.productName,singlePhone.activityproductId)">
                        <div class="img-box pure-u-1-3">
                            <img ng-src="http://www.yfq.cn:8899/fileserver/medias/{{singlePhone.mainImageUrl}}">
                            <span class="flag">
                                    含<span ng-bind="singlePhone.cardItems"></span>元话费
                                </span>
                        </div>
                        <div class="item-txt pure-u-2-3">
                            <div class="title" ng-bind="singlePhone.productSubName"></div>
                            <div class="tips">
                                <span>立减</span>
                                <span ng-if="singlePhone.salePrice >= singlePhone.cardItems" style="font-weight: bold"><span ng-bind="singlePhone.salePrice | jm : 800"></span></span>
                                <span ng-if="singlePhone.salePrice < singlePhone.cardItems" style="font-weight: bold"><span ng-bind="singlePhone.cardItems | jm : 800"></span></span>
                                <span>元，享12期免息 顺丰包邮</span>
                            </div>
                            <div class="price" ng-if="singlePhone.salePrice >= singlePhone.cardItems">
                                <em style="font-size: 0.14rem">领券优惠价:</em><em style="font-size: 0.18rem">￥</em><em ng-bind="singlePhone.salePrice - (singlePhone.salePrice | jm : 800)" style="font-size: 0.18rem"></em>
                                <span style="font-size: 0.1rem">合约价:</span><span style="font-size: 0.1rem">￥</span><span style="font-size: 0.1rem" ng-bind="singlePhone.salePrice - 0"></span>
                            </div>
                            <div class="price" ng-if="singlePhone.salePrice < singlePhone.cardItems">
                                <em style="font-size: 0.14rem">领券优惠价:</em><em style="font-size: 0.18rem">￥</em><em ng-bind="singlePhone.cardItems - (singlePhone.cardItems | jm : 800)" style="font-size: 0.18rem"></em>
                                <span style="font-size: 0.1rem">合约价:</span><span style="font-size: 0.1rem">￥</span><span style="font-size: 0.1rem" ng-bind="singlePhone.cardItems - 0"></span>
                            </div>
                            <div class="btips" ng-if="singlePhone.salePrice >= singlePhone.cardItems"><span class="lb">优惠推荐：</span><span class="rt">预存话费￥<span ng-bind="singlePhone.cardItems"></span>+购机价￥<span ng-bind="singlePhone.salePrice - singlePhone.cardItems"></span></span></div>
                            <div class="btips" ng-if="singlePhone.salePrice < singlePhone.cardItems"><span class="lb">优惠推荐：</span><span class="rt">预存话费￥<span ng-bind="singlePhone.cardItems"></span>+购机价￥<span ng-bind="0"></span></span></div>
                        </div>
                    </a>
                    <a class="item-box pure-g" ng-if="params.length != 0"
                       href="/phs/sg/{{pageType}}/{{singlePhone.activityproductId}}{{params}}&headCategory={{category}}"
                       ng-class="{true:'curr',false:''}[machineName == singlePhone.productName]"
                       ng-click="setMachine(singlePhone.productName,singlePhone.activityproductId)">
                        <div class="img-box pure-u-1-3">
                            <img ng-src="http://www.yfq.cn:8899/fileserver/medias/{{singlePhone.mainImageUrl}}">
                            <span class="flag">
                                    含<span ng-bind="singlePhone.cardItems"></span>元话费
                                </span>
                        </div>
                        <div class="item-txt pure-u-2-3">
                            <div class="title" ng-bind="singlePhone.productSubName"></div>
                            <div class="tips">
                                <span>立减</span>
                                <span ng-if="singlePhone.salePrice >= singlePhone.cardItems" style="font-weight: bold"><span ng-bind="singlePhone.salePrice | jm : 800"></span></span>
                                <span ng-if="singlePhone.salePrice < singlePhone.cardItems" style="font-weight: bold"><span ng-bind="singlePhone.cardItems | jm : 800"></span></span>
                                <span>元，享12期免息 顺丰包邮</span>
                            </div>
                            <div class="price" ng-if="singlePhone.salePrice >= singlePhone.cardItems">
                                <em style="font-size: 0.14rem">领券优惠价:</em><em style="font-size: 0.18rem">￥</em><em ng-bind="singlePhone.salePrice - (singlePhone.salePrice | jm : 800)" style="font-size: 0.18rem"></em>
                                <span style="font-size: 0.1rem">合约价:</span><span style="font-size: 0.1rem">￥</span><span style="font-size: 0.1rem" ng-bind="singlePhone.salePrice - 0"></span>
                            </div>
                            <div class="price" ng-if="singlePhone.salePrice < singlePhone.cardItems">
                                <em style="font-size: 0.14rem">领券优惠价:</em><em style="font-size: 0.18rem">￥</em><em ng-bind="singlePhone.cardItems - (singlePhone.cardItems | jm : 800)" style="font-size: 0.18rem"></em>
                                <span style="font-size: 0.1rem">合约价:</span><span style="font-size: 0.1rem">￥</span><span style="font-size: 0.1rem" ng-bind="singlePhone.cardItems - 0"></span>
                            </div>
                            <div class="btips" ng-if="singlePhone.salePrice >= singlePhone.cardItems"><span class="lb">优惠推荐：</span><span class="rt">预存话费￥<span ng-bind="singlePhone.cardItems"></span>+购机价￥<span ng-bind="singlePhone.salePrice - singlePhone.cardItems"></span></span></div>
                            <div class="btips" ng-if="singlePhone.salePrice < singlePhone.cardItems"><span class="lb">优惠推荐：</span><span class="rt">预存话费￥<span ng-bind="singlePhone.cardItems"></span>+购机价￥<span ng-bind="0"></span></span></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="img-box">
            <img src="/images/active/d/4.jpg">
        </div>
        <div class="phones-content">
            <spc-phone-d ng-if="singlePhones"></spc-phone-d>
        </div>

        <div class="img-box">
            <img src="/images/active/d/5.jpg">
        </div>

        <div class="fqa-content">
            <div class="fqa-lists close">
                <ul>
                    <li>
                        <div class="list-header">
                            <span>01、</span>套餐优惠活动什么时候结束？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                活动截止于 <em>4月16日</em>，凡购买用户即可享受36个月套餐全5折优惠。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>02、</span>什么手机可以用这个套餐？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                本产品所用芯片为电信天翼4G网络UIM卡，仅支持<em>电信4G或三网通4G手机</em>使用。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>03、</span>可以同时购买多个优惠套餐吗？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                先感谢你对我们的支持，但本产品需要实名认证，<em>一个身份证只能申请办理一次</em>，证件如已注销、已开通优惠套餐记录不可再次办理。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>

                    <li>
                        <div class="list-header">
                            <span>04、</span>套餐什么时候开通？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                签收后2个工作日内自动开通套餐
                            </div>
                        </div>
                        <!-- <div class="tips-info-content" style="margin-top:0;">注：套餐需激活后才能正常使用，请确保本人签收，默认送达次日开通（公休日除外），介意者慎拍。</div> -->
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>05、</span>每月实际需缴月租？
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                <em>套餐开通次月8号前</em>仅需自行网上充值所选 优惠套餐月租即可，在您已充值的前提下，原套餐月租差价由我们在<em>9-13号</em>为您办理减免。领卡后当月充值使用的话费优惠折扣，会在下月初减免返回给您。
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                    <li>
                        <div class="list-header">
                            <span>06、</span>套餐详细说明
                        </div>
                        <div class="list-content">
                            <div class="ctxt">
                                <div class="aswer-tips">
                                    <ul>
                                        <li>
                                            <ins>1、使用范围：</ins>
                                            全国通用优惠，支持全国（除港澳台）范围内接听免费、拨出无漫游费，免费赠送来电显示和189邮箱。
                                        </li>
                                        <li>
                                            <ins>2、优惠期限：</ins>
                                            优惠期3年，套餐优惠全国通用。
                                        </li>
                                        <li>
                                            <ins>3、超出收费：</ins>
                                            超出套餐部分按电信标准资费收取：短信0.1/条，国内通话0.15/分，国内流量不足100MB按0.0003元/KB收费，100MB&mdash;500MB收费30元。
                                        </li>
                                    </ul>
                                </div>
                                <table class="table table-bordered" style="display:none">
                                    <thead>
                                    <tr>
                                        <th>套餐原价</th>
                                        <th>优惠价</th>
                                        <th>套餐详情</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>304元/月</td>
                                        <td><em>168元/月</em></td>
                                        <td>4.5G国内流量，1800分钟国内通话，50条短信</td>
                                    </tr>
                                    <tr>
                                        <td>259元/月</td>
                                        <td><em>143元/月</em></td>
                                        <td>4.5G国内流量，900分钟国内通话，50条短信</td>
                                    </tr>
                                    <tr>
                                        <td>204元/月</td>
                                        <td><em>102元/月</em></td>
                                        <td>3.5G国内流量，900分钟国内通话，50条短信</td>
                                    </tr>
                                    <tr>
                                        <td>174元/月</td>
                                        <td><em>96元/月</em></td>
                                        <td>2.5G国内流量，850分钟国内通话，50条短信</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="aswer-tips">
                                                <ul>
                                                    <li>
                                                        <ins>1、使用范围：</ins>
                                                        全国通用优惠，支持全国（除港澳台）范围内接听免费、拨出无漫游费，免费赠送来电显示和189邮箱。
                                                    </li>
                                                    <li>
                                                        <ins>2、优惠期限：</ins>
                                                        优惠期3年，套餐优惠全国通用。
                                                    </li>
                                                    <li>
                                                        <ins>3、超出收费：</ins>
                                                        超出套餐部分按电信标准资费收取：短信0.1/条，国内通话0.15/分，国内流量不足100MB按0.0003元/KB收费，100MB&mdash;500MB收费30元。
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="pros-line share-pros-line"></div>
                    </li>
                </ul>
            </div>

            <p class="fqa-more close" ng-click="showFqa()"><span>点击显示更多</span><span class="arrow arrow-d img-box"><img
                    src="/images/active/d/d.png"></span><span
                    class="arrow arrow-u img-box"><img src="/images/active/d/u.png"></span></p>

        </div>

        <div class="img-box">
            <img src="/images/active/d/6.gif">
        </div>

        <ng-coupon></ng-coupon>

    </div>
    <div class="right-nav">
        <div class="img-box" ng-click="showFudai('JM-MX')">
            <img src="/images/active/11.png">
        </div>
        <div class="img-box" ng-click="goToTop()">
            <img src="/images/active/22.png">
        </div>
    </div>
</div>