/* line 1, ../../sass/utils/_base.scss */
em {
  color: #d83e14;
  font-style: normal;
}

/* line 5, ../../sass/utils/_base.scss */
sub {
  bottom: 0;
}

/* line 9, ../../sass/utils/_base.scss */
.img-box img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 15, ../../sass/utils/_base.scss */
.text-r {
  text-align: right;
}

/* line 18, ../../sass/utils/_base.scss */
.text-l {
  text-align: left;
}

/* line 21, ../../sass/utils/_base.scss */
.text-c {
  text-align: center;
}

/* line 24, ../../sass/utils/_base.scss */
.ib {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 27, ../../sass/utils/_base.scss */
.pure-u-offset-right-1-2 {
  margin-right: 50% !important;
  *margin-right: 49.969% !important;
}

/* line 31, ../../sass/utils/_base.scss */
.hide {
  display: none !important;
}

/* line 35, ../../sass/utils/_base.scss */
.bg-none {
  background: none !important;
}

/* line 39, ../../sass/utils/_base.scss */
.bold {
  font-weight: 500;
}

/* line 42, ../../sass/utils/_base.scss */
.disabled {
  color: #999;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 47, ../../sass/utils/_base.scss */
.pd-w {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

/* line 51, ../../sass/utils/_base.scss */
.pd-h {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

/* line 55, ../../sass/utils/_base.scss */
p.mgt {
  margin-top: 0.05rem;
}

/* line 58, ../../sass/utils/_base.scss */
.font-10 {
  font-size: 0.10rem !important;
}

/* line 61, ../../sass/utils/_base.scss */
.font-12 {
  font-size: 0.12rem !important;
}

/* line 64, ../../sass/utils/_base.scss */
.font-14 {
  font-size: 0.14rem;
}

/* line 67, ../../sass/utils/_base.scss */
.font-16 {
  font-size: 0.16rem;
}

/* line 70, ../../sass/utils/_base.scss */
.font-18 {
  font-size: 0.18rem;
}

/* line 73, ../../sass/utils/_base.scss */
.no-border {
  border: none !important;
}

/* line 76, ../../sass/utils/_base.scss */
.no-pd {
  padding: 0 !important;
}

/* line 79, ../../sass/utils/_base.scss */
p.tips {
  font-size: 0.1rem;
  color: #999;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  margin-top: 0.05rem;
  margin-bottom: 0.1rem;
}

/* line 87, ../../sass/utils/_base.scss */
.font-ms {
  font-family: "Microsoft Yahei";
}

/* line 1, ../../sass/appView/_appView.scss */
html {
  font-size: 100px;
}

@media screen and (min-width: 540px) {
  /* line 6, ../../sass/appView/_appView.scss */
  body {
    overflow: hidden;
  }
  /* line 8, ../../sass/appView/_appView.scss */
  body:after {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: auto;
    left: auto;
    width: 368px;
    height: 752px;
    -moz-transform: translate3d(50%, -50%, 0);
    -ms-transform: translate3d(50%, -50%, 0);
    -webkit-transform: translate3d(50%, -50%, 0);
    transform: translate3d(50%, -50%, 0);
    background-image: url("/images/chrome-iphone6-432x882@2x.jpg");
    content: '';
    display: block;
    background-size: contain;
    z-index: -1;
  }
  /* line 23, ../../sass/appView/_appView.scss */
  body #container {
    background: #fbf9fe;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: 100%;
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    max-width: 320px;
    max-height: 568px;
    margin: 0 auto;
    overflow: hidden;
  }
}
/* line 41, ../../sass/appView/_appView.scss */
body {
  background: white;
  font-weight: 300;
  font-family: Microsoft Yahei,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* line 47, ../../sass/appView/_appView.scss */
#content-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #000;
}
/* line 56, ../../sass/appView/_appView.scss */
#content-container .page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  background: #fff;
}

/* line 69, ../../sass/appView/_appView.scss */
.content-scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #fbf9fe;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 81, ../../sass/appView/_appView.scss */
.content-scrollable.has-header {
  padding-top: 0.55rem;
}
/* line 85, ../../sass/appView/_appView.scss */
.content-scrollable.has-footer:after {
  content: " ";
  display: block;
  height: 0.48rem;
}

/* line 93, ../../sass/appView/_appView.scss */
.view-container,
#ui-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}

/* line 1, ../../sass/modules/_owlCarousel.scss */
.owl-carousel {
  font-size: 0;
  background: #eaeaea;
  padding-bottom: 0.3rem;
}
/* line 5, ../../sass/modules/_owlCarousel.scss */
.owl-carousel .owl-controls {
  position: absolute;
  bottom: 0.1rem;
  z-index: 1;
  width: 100%;
  text-align: center;
}
/* line 11, ../../sass/modules/_owlCarousel.scss */
.owl-carousel .owl-controls .owl-buttons {
  display: none;
}

/* line 16, ../../sass/modules/_owlCarousel.scss */
.carousel-item, .owl-item {
  width: 100%;
}
/* line 18, ../../sass/modules/_owlCarousel.scss */
.carousel-item img, .owl-item img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 1, ../../sass/modules/_button.scss */
[class^="btn-"],
[class*=" btn-"] {
  font-size: 0.18rem;
  line-height: 0.18rem;
  line-height: 0.26rem !important;
  padding: 0.125rem 0.125rem 0.095rem 0.125rem;
  font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: .03em;
  text-indent: .03em;
  text-transform: uppercase;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  color: white;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
}
/* line 28, ../../sass/modules/_button.scss */
[class^="btn-"][class*="small"],
[class*=" btn-"][class*="small"] {
  padding: .07em 0.125em .050em;
}
/* line 32, ../../sass/modules/_button.scss */
[class^="btn-"][class*="primary"],
[class*=" btn-"][class*="primary"] {
  background-color: #d83e14;
  color: white;
}
/* line 36, ../../sass/modules/_button.scss */
[class^="btn-"][class*="primary"]:hover,
[class*=" btn-"][class*="primary"]:hover {
  background-color: #c13712;
}
/* line 39, ../../sass/modules/_button.scss */
[class^="btn-"][class*="primary"]:active,
[class*=" btn-"][class*="primary"]:active {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0 inset;
}
/* line 44, ../../sass/modules/_button.scss */
[class^="btn-"][class*="secondary"],
[class*=" btn-"][class*="secondary"] {
  background: #666;
  color: rgba(255, 255, 255, 0.4);
}
/* line 48, ../../sass/modules/_button.scss */
[class^="btn-"][class*="secondary"]:hover,
[class*=" btn-"][class*="secondary"]:hover {
  background-color: #595959;
}
/* line 51, ../../sass/modules/_button.scss */
[class^="btn-"][class*="secondary"]:active,
[class*=" btn-"][class*="secondary"]:active {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0 inset;
}
/* line 55, ../../sass/modules/_button.scss */
[class^="btn-"][class*="secondary"].active, [class^="btn-"][class*="secondary"].no-state:first-child,
[class*=" btn-"][class*="secondary"].active,
[class*=" btn-"][class*="secondary"].no-state:first-child {
  background: #555;
  color: white;
}
/* line 60, ../../sass/modules/_button.scss */
[class^="btn-"][class*="secondary"].active:hover, [class^="btn-"][class*="secondary"].no-state:first-child:hover,
[class*=" btn-"][class*="secondary"].active:hover,
[class*=" btn-"][class*="secondary"].no-state:first-child:hover {
  background-color: #484848;
}
/* line 63, ../../sass/modules/_button.scss */
[class^="btn-"][class*="secondary"].active:active, [class^="btn-"][class*="secondary"].no-state:first-child:active,
[class*=" btn-"][class*="secondary"].active:active,
[class*=" btn-"][class*="secondary"].no-state:first-child:active {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0 inset;
}
/* line 68, ../../sass/modules/_button.scss */
[class^="btn-"][class*="secondary"].no-state,
[class*=" btn-"][class*="secondary"].no-state {
  color: white;
}
/* line 73, ../../sass/modules/_button.scss */
[class^="btn-"][class*="tertiary"],
[class*=" btn-"][class*="tertiary"] {
  background: #f8f8f8;
  color: #d83e14;
}
/* line 77, ../../sass/modules/_button.scss */
[class^="btn-"][class*="tertiary"]:hover,
[class*=" btn-"][class*="tertiary"]:hover {
  background-color: #f8f8f8;
}
/* line 82, ../../sass/modules/_button.scss */
[class^="btn-"][class*="twitter"],
[class*=" btn-"][class*="twitter"] {
  background-color: #46c8f5;
  color: white;
}
/* line 86, ../../sass/modules/_button.scss */
[class^="btn-"][class*="twitter"]:hover,
[class*=" btn-"][class*="twitter"]:hover {
  background-color: #a93110;
}
/* line 89, ../../sass/modules/_button.scss */
[class^="btn-"][class*="twitter"]:active,
[class*=" btn-"][class*="twitter"]:active {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0 inset;
}
/* line 94, ../../sass/modules/_button.scss */
[class^="btn-"][class*="camera"],
[class*=" btn-"][class*="camera"] {
  border-radius: 10em;
  box-shadow: #d83e14 0 0 0px 2px inset;
  font-size: 20px;
  height: 0.4rem;
  letter-spacing: 0;
  padding: 0;
  text-indent: 0;
  width: 0.4rem;
}
/* line 104, ../../sass/modules/_button.scss */
[class^="btn-"][class*="camera"] .icon-camera,
[class*=" btn-"][class*="camera"] .icon-camera {
  position: absolute;
  top: 50%;
  right: 50%;
  left: auto;
  bottom: auto;
  width: 0.35rem;
  height: 0.35rem;
  -moz-transform: translate3d(50%, -50%, 0);
  -ms-transform: translate3d(50%, -50%, 0);
  -webkit-transform: translate3d(50%, -50%, 0);
  transform: translate3d(50%, -50%, 0);
  background-color: #d83e14;
  border-radius: 10em;
  color: white;
  display: inline-block;
  line-height: 0.35rem;
}
/* line 120, ../../sass/modules/_button.scss */
[class^="btn-"][class*="camera"]:hover,
[class*=" btn-"][class*="camera"]:hover {
  box-shadow: #ca3a13 0 0 0px 2px inset;
}
/* line 122, ../../sass/modules/_button.scss */
[class^="btn-"][class*="camera"]:hover .icon-camera,
[class*=" btn-"][class*="camera"]:hover .icon-camera {
  background-color: #ca3a13;
}
/* line 127, ../../sass/modules/_button.scss */
[class^="btn-"][class*="camera"]:active,
[class*=" btn-"][class*="camera"]:active {
  box-shadow: #ca3a13 0 0 0px 2px inset;
}
/* line 129, ../../sass/modules/_button.scss */
[class^="btn-"][class*="camera"]:active .icon-camera,
[class*=" btn-"][class*="camera"]:active .icon-camera {
  background-color: #ca3a13;
}
/* line 135, ../../sass/modules/_button.scss */
[class^="btn-"][disabled],
[class*=" btn-"][disabled] {
  opacity: .5;
}

/* line 140, ../../sass/modules/_button.scss */
.btns-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 149, ../../sass/modules/_button.scss */
.btns-group [class*="btn-"] {
  -webkit-flex: 1;
  flex: 1;
}

/* line 155, ../../sass/modules/_button.scss */
.btn-shadow {
  -moz-box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
}

/* line 159, ../../sass/modules/_button.scss */
.new-btn {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  position: relative;
  text-decoration: none;
  height: 0.48rem;
  color: #666;
  background: transparent url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==') repeat scroll 0 0;
  background: transparent -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee)) repeat scroll 0 0;
  background: transparent -moz-linear-gradient(#ffffff, #eeeeee) repeat scroll 0 0;
  background: transparent -webkit-linear-gradient(#ffffff, #eeeeee) repeat scroll 0 0;
  background: transparent linear-gradient(#ffffff, #eeeeee) repeat scroll 0 0;
  border: 1px solid #eee;
}
/* line 172, ../../sass/modules/_button.scss */
.new-btn .nav-icon {
  margin-top: 0.03rem;
}
/* line 175, ../../sass/modules/_button.scss */
.new-btn.pure-btn {
  background: transparent url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkwODhlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY2NWNlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==') repeat scroll 0 0;
  background: transparent -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9088ec), color-stop(100%, #665ce6)) repeat scroll 0 0;
  background: transparent -moz-linear-gradient(#9088ec, #665ce6) repeat scroll 0 0;
  background: transparent -webkit-linear-gradient(#9088ec, #665ce6) repeat scroll 0 0;
  background: transparent linear-gradient(#9088ec, #665ce6) repeat scroll 0 0;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  border: 1px solid #665ce6;
  color: #fff;
}
/* line 181, ../../sass/modules/_button.scss */
.new-btn.red-btn {
  background: transparent url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNWM2OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMjkzOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==') repeat scroll 0 0;
  background: transparent -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5c69), color-stop(100%, #ff2939)) repeat scroll 0 0;
  background: transparent -moz-linear-gradient(#ff5c69, #ff2939) repeat scroll 0 0;
  background: transparent -webkit-linear-gradient(#ff5c69, #ff2939) repeat scroll 0 0;
  background: transparent linear-gradient(#ff5c69, #ff2939) repeat scroll 0 0;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  border: 1px solid #ff2939;
  color: #fff;
}

/* line 8, sass/spc.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 13, sass/spc.scss */
a {
  text-decoration: none;
}

/* line 16, sass/spc.scss */
p {
  margin: 0;
}

/* line 21, sass/spc.scss */
.page.e .content-scrollable, .page.d .content-scrollable {
  background: #000;
}
/* line 26, sass/spc.scss */
.page.a .content-scrollable, .page.b .content-scrollable {
  background: #7733d6;
}
/* line 30, sass/spc.scss */
.page.a .content-title, .page.b .content-title {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 20px;
}
/* line 42, sass/spc.scss */
.page.a .botton-group, .page.b .botton-group {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: .1rem;
}
/* line 53, sass/spc.scss */
.page.a .botton-group a, .page.b .botton-group a {
  -webkit-flex: 1;
  flex: 1;
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: inline-block;
  font-size: .12rem;
  border-right: 1px solid #fff;
}
/* line 64, sass/spc.scss */
.page.a .botton-group a i, .page.b .botton-group a i {
  color: #eee;
  margin-right: 10px;
}
/* line 69, sass/spc.scss */
.page.a .box, .page.b .box {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 76, sass/spc.scss */
.page.a .fqa .tip-info, .page.b .fqa .tip-info {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
/* line 82, sass/spc.scss */
.page.a .fqa .tip-info h2.title, .page.b .fqa .tip-info h2.title {
  display: block;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
/* line 95, sass/spc.scss */
.page.a .fqa .tip-info .content, .page.b .fqa .tip-info .content {
  background: none;
  margin-top: 25px;
  color: #fff;
  padding-bottom: 60px;
}
/* line 102, sass/spc.scss */
.page.a .tip-info .content ul, .page.b .tip-info .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 108, sass/spc.scss */
.page.a .tip-info .content ul li, .page.b .tip-info .content ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 115, sass/spc.scss */
.page.a .fqa .tip-info .content ul li .list-header, .page.b .fqa .tip-info .content ul li .list-header {
  color: #fff;
  padding-left: 32px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  padding-right: 5%;
  position: relative;
}
/* line 125, sass/spc.scss */
.page.a .fqa .tip-info .content ul li .list-header span, .page.b .fqa .tip-info .content ul li .list-header span {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  color: #fff;
  display: block;
  text-align: center;
  background-image: url(../images/active/new/list-head-bg.png);
  left: 0px;
}
/* line 139, sass/spc.scss */
.page.a .fqa .tip-info .content ul li .list-content, .page.b .fqa .tip-info .content ul li .list-content {
  padding-left: 32px;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-right: 10px;
  position: relative;
}
/* line 148, sass/spc.scss */
.page.a .fqa .tip-info .content ul li .list-content ins, .page.b .fqa .tip-info .content ul li .list-content ins {
  position: absolute;
  left: 0;
  text-decoration: none;
}
/* line 154, sass/spc.scss */
.page.a .fqa .tip-info .content ul li .list-content .ctxt, .page.b .fqa .tip-info .content ul li .list-content .ctxt {
  opacity: 1;
  font-size: 12px;
  min-height: auto;
}
/* line 160, sass/spc.scss */
.page.a .fqa .tip-info .content ul li .list-content .ctxt li, .page.b .fqa .tip-info .content ul li .list-content .ctxt li {
  position: relative;
  padding-left: 80px;
}
/* line 165, sass/spc.scss */
.page.a .p-index-wrap .tip-info .pros-line, .page.b .p-index-wrap .tip-info .pros-line {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 172, sass/spc.scss */
.page.a .packages, .page.b .packages {
  font-size: 12px;
}
/* line 176, sass/spc.scss */
.page.a .packages-list, .page.b .packages-list {
  padding: 0;
  margin: 0;
}
/* line 181, sass/spc.scss */
.page.a .packages .packages-list li, .page.b .packages .packages-list li {
  margin: 0 10px 10px 10px;
  list-style: none;
}
/* line 186, sass/spc.scss */
.page.a .packages .packages-list li .item-box .item-disc ins, .page.b .packages .packages-list li .item-box .item-disc ins {
  border-bottom: 4px solid #fff;
  border-left: 4px solid #5511aa;
  border-top: 4px solid #fff;
  left: 0;
  position: absolute;
  top: 50%;
  width: auto;
}
/* line 196, sass/spc.scss */
.page.a .packages .packages-list li a, .page.b .packages .packages-list li a {
  display: block;
  color: #666;
  text-decoration: none;
}
/* line 202, sass/spc.scss */
.page.a .packages .packages-item .packages-main, .page.b .packages .packages-item .packages-main {
  border-radius: 3px;
  position: relative;
  padding-left: 30%;
  box-sizing: border-box;
  background: #5511aa;
}
/* line 210, sass/spc.scss */
.page.a .packages .packages-item .packages-head, .page.b .packages .packages-item .packages-head {
  position: absolute;
  left: 0;
  top: 0;
  padding: .1rem;
  background: #5511aa;
  width: 30%;
  box-sizing: border-box;
}
/* line 221, sass/spc.scss */
.page.a .packages .packages-item .packages-detail, .page.b .packages .packages-item .packages-detail {
  position: relative;
  padding: .1rem;
  background: #fff;
  box-sizing: border-box;
  line-height: 1.8;
}
/* line 229, sass/spc.scss */
.page.a .packages .packages-item .item-box img, .page.b .packages .packages-item .item-box img {
  width: 70px;
  display: block;
}
/* line 234, sass/spc.scss */
.page.a .price span, .page.b .price span {
  display: block;
  color: #f8df64;
}
/* line 240, sass/spc.scss */
.page.a .price span b, .page.b .price span b {
  font-weight: normal;
  font-size: .16rem;
}
/* line 245, sass/spc.scss */
.page.a .price .price-old, .page.b .price .price-old {
  color: #fff;
  font-size: 0.09rem;
}
/* line 250, sass/spc.scss */
.page.a .packages-detail em, .page.b .packages-detail em {
  font-style: normal;
  color: #ff4a54;
}
/* line 255, sass/spc.scss */
.page.a .packages-detail em.net, .page.b .packages-detail em.net {
  font-size: .2rem;
}
/* line 259, sass/spc.scss */
.page.a .img-log, .page.b .img-log {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
/* line 267, sass/spc.scss */
.page.a .img-log img, .page.b .img-log img {
  height: 24px;
  padding-left: 15px;
  margin-top: 18px;
  margin-bottom: 18px;
  display: block;
}
/* line 275, sass/spc.scss */
.page.a .pure-button, .page.b .pure-button {
  position: absolute;
  bottom: .1rem;
  right: .1rem;
  background: #ef3f3d;
  color: #fff;
  font-size: .14rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 8px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
}
/* line 297, sass/spc.scss */
.page.a .item-flag, .page.b .item-flag {
  position: absolute;
  width: 72px;
  right: -3px;
  top: -3px;
}
/* line 304, sass/spc.scss */
.page.a .item-flag img, .page.b .item-flag img {
  width: 100%;
}
/* line 309, sass/spc.scss */
.page.m .buy {
  display: -webkit-flex;
  display: flex;
  text-align: center;
  margin-top: .05rem;
}
/* line 314, sass/spc.scss */
.page.m .buy a {
  flex: 1;
  padding: .05rem 0;
  font-size: .14rem;
  font-weight: bold;
  color: #f2741d;
  border: 2px solid #f2741d;
}
/* line 323, sass/spc.scss */
.page.m .content-scrollable {
  background: url(img/indexM/bg.jpg);
  font-size: .1rem;
}
/* line 326, sass/spc.scss */
.page.m .content-scrollable .roll {
  font-size: .1rem;
  margin: 0 .12rem;
  padding-left: 25%;
  position: relative;
  background: #3d85c9;
  border-radius: 0.2rem;
  color: #fff;
}
/* line 334, sass/spc.scss */
.page.m .content-scrollable .roll p {
  padding: 0;
  margin: 0;
}
/* line 338, sass/spc.scss */
.page.m .content-scrollable .roll .title {
  position: absolute;
  left: 0;
  padding-left: .3rem;
  padding-top: .05rem;
}
/* line 344, sass/spc.scss */
.page.m .content-scrollable .roll .details {
  background: #88888a;
  padding: .05rem 0 .05rem .05rem;
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
}
/* line 352, sass/spc.scss */
.page.m .notice {
  margin: .1rem 0;
  text-align: center;
  color: #00276f;
}
/* line 356, sass/spc.scss */
.page.m .notice span {
  display: inline-block;
  padding: 0;
  position: relative;
  padding: 0 .05rem 0 .15rem;
  margin-left: .05rem;
}
/* line 363, sass/spc.scss */
.page.m .notice ins {
  position: absolute;
  top: .01rem;
  left: 0;
  width: .1rem;
  height: .12rem;
  margin-right: .05rem;
}
/* line 371, sass/spc.scss */
.page.m .notice .sun {
  border-right: 1px solid #00276f;
}
/* line 373, sass/spc.scss */
.page.m .notice .sun .sun-logo {
  background: url(img/indexM/sun.jpg);
  background-size: 100% 100%;
}
/* line 379, sass/spc.scss */
.page.m .notice .yfq .yfq-logo {
  background: url(img/indexM/chinanet.jpg);
  background-size: 100% 100%;
}
/* line 385, sass/spc.scss */
.page.m .bang2 {
  height: 2.5rem;
  background: url(img/indexM/bang2.jpg);
  background-size: 100% 100%;
}
/* line 389, sass/spc.scss */
.page.m .bang2 .phone-detail {
  padding-left: 40%;
}
/* line 393, sass/spc.scss */
.page.m .bang3 {
  height: 2.5rem;
  background: url(img/indexM/bang3.jpg);
  background-size: 100% 100%;
}
/* line 398, sass/spc.scss */
.page.m .bang4 {
  height: 2.5rem;
  background: url(img/indexM/bang4.jpg);
  background-size: 100% 100%;
}
/* line 402, sass/spc.scss */
.page.m .bang4 .phone-detail {
  padding-left: 40%;
}
/* line 406, sass/spc.scss */
.page.m .bang5 {
  height: 2.5rem;
  background-image: url(img/indexM/bang5.jpg);
  background-size: 100% 100%;
}
/* line 413, sass/spc.scss */
.page.m .all-buy .all-buy-list .list-item {
  padding: .05rem;
  margin: .05rem;
  background: #fff;
  font-family: Microsoft Yahei;
}
/* line 418, sass/spc.scss */
.page.m .all-buy .all-buy-list .list-item .img-box {
  position: relative;
}
/* line 420, sass/spc.scss */
.page.m .all-buy .all-buy-list .list-item .img-box p {
  color: white;
  position: absolute;
  bottom: 0;
  padding: .05rem;
  font-size: .14rem;
  font-weight: 500;
}
/* line 429, sass/spc.scss */
.page.m .all-buy .all-buy-list .list-item .price {
  margin: .05rem 0;
}
/* line 431, sass/spc.scss */
.page.m .all-buy .all-buy-list .list-item .price .phone-price {
  color: #f2741d;
  font-weight: bold;
}
/* line 435, sass/spc.scss */
.page.m .all-buy .all-buy-list .list-item .price .num {
  color: #a9a9a9;
}
/* line 440, sass/spc.scss */
.page.m .all-buy .all-buy-list .list-item .net .net-work {
  box-sizing: border-box;
  position: relative;
  padding-right: .1rem;
}
/* line 444, sass/spc.scss */
.page.m .all-buy .all-buy-list .list-item .net .net-work:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 95%;
  border-left: 2px dashed #a9a9a9;
  margin: 0 .05rem;
}
/* line 455, sass/spc.scss */
.page.m .all-buy .all-buy-list .list-item .net p {
  font-family: Microsoft Yahei;
}
/* line 458, sass/spc.scss */
.page.m .all-buy .all-buy-list .list-item .net .everyone {
  color: #1065c5;
}
/* line 467, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item {
  padding: .05rem;
  margin: .05rem;
  background: #fff;
  font-family: Microsoft Yahei;
}
/* line 472, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item img {
  display: block;
  width: 30%;
}
/* line 477, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-details {
  padding: .05rem;
  color: #00b8f5;
  border: 2px solid #00b8f5;
  border-radius: 5px;
  position: relative;
  margin-top: .05rem;
}
/* line 484, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-details .net-gb {
  font-size: .4rem;
  font-weight: 900;
  line-height: .6rem;
}
/* line 488, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-details .net-gb .net-num {
  font-size: .6rem;
}
/* line 492, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-details .net-tel {
  font-size: .23rem;
  font-weight: 600;
}
/* line 496, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-details .net-ocl {
  position: absolute;
  top: -.1rem;
  right: .1rem;
  font-size: .12rem;
  color: #fff;
  padding: .02rem .04rem;
  background: #02489d;
}
/* line 506, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-work {
  font-size: .15rem;
  text-align: center;
  color: #fff;
  background: #00b8f5;
  margin-top: .05rem;
  margin-bottom: .1rem;
}
/* line 514, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-price {
  font-size: .15rem;
  margin-bottom: .1rem;
}
/* line 517, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-price .new {
  color: #000;
}
/* line 519, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-price .new .cheap {
  font-size: .1rem;
  color: #fff;
  background: #f24a1d;
  padding: 0 .05rem;
  margin-left: .02rem;
}
/* line 528, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-price .price .new-price {
  color: #f2741d;
  font-weight: bold;
}
/* line 532, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-price .price .month {
  font-size: .12rem;
  color: #f2741d;
}
/* line 535, sass/spc.scss */
.page.m .phone-card-details .phone-card-list .list-item .net .net-price .price .month del {
  color: #949494;
}
/* line 547, sass/spc.scss */
.page.model .content-scrollable {
  font-size: .12rem;
}
/* line 549, sass/spc.scss */
.page.model .content-scrollable .pay-style {
  padding: 0 .05rem;
}
/* line 552, sass/spc.scss */
.page.model .content-scrollable .pay-style .pay-style-list div {
  border: 2px solid #707070;
  color: #707070;
  border-radius: 5px;
  margin-left: .03rem;
  margin-right: .03rem;
}
/* line 558, sass/spc.scss */
.page.model .content-scrollable .pay-style .pay-style-list div p {
  text-align: center;
}
/* line 561, sass/spc.scss */
.page.model .content-scrollable .pay-style .pay-style-list div .title {
  font-size: .16rem;
  padding: .05rem;
  font-weight: 900;
  background: #fff;
}
/* line 568, sass/spc.scss */
.page.model .content-scrollable .pay-style .pay-style-list div .details {
  font-size: .14rem;
  color: #fff;
  background: #707070;
  font-weight: 600;
}
/* line 574, sass/spc.scss */
.page.model .content-scrollable .pay-style .pay-style-list div .active {
  background: #cc1414;
}
/* line 578, sass/spc.scss */
.page.model .content-scrollable .pay-style .pay-style-list .on {
  border: 2px solid #cc1414;
  color: #cc1414;
}
/* line 583, sass/spc.scss */
.page.model .content-scrollable .pay-style .pay-style-details {
  padding: 0 .05rem;
  color: #cc1414;
  font-weight: 600;
  margin: .1rem 0;
}
/* line 588, sass/spc.scss */
.page.model .content-scrollable .pay-style .pay-style-details p {
  display: none;
}
/* line 594, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item {
  color: #595959;
  position: relative;
  margin: .1rem .05rem .1rem .25rem;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 0 .2rem 0 .1rem;
}
/* line 601, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: .4rem;
  height: .43rem;
}
/* line 608, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .gray-5 {
  background: url(img/indexM/icon/1.png);
  background-size: 100%;
}
/* line 612, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .red-5 {
  background: url(img/indexM/icon/2.png);
  background-size: 100%;
}
/* line 616, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .gray-6 {
  background: url(img/indexM/icon/3.png);
  background-size: 100%;
}
/* line 620, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .red-6 {
  background: url(img/indexM/icon/4.png);
  background-size: 100%;
}
/* line 625, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .item-box .month {
  padding: .05rem 0;
}
/* line 628, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .item-box .line {
  margin-left: .05rem;
  border-left: 1px dashed #595959;
  padding: .05rem 0;
}
/* line 633, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .item-box .month-item {
  font-size: .15rem;
}
/* line 636, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .item-box .rec {
  position: relative;
}
/* line 638, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .item-box .rec .rec-t {
  position: absolute;
  top: 0;
  right: 0;
  font-size: .1rem;
}
/* line 645, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .item-box .month-item-small {
  font-size: .2rem;
  font-weight: 600;
}
/* line 649, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .item-box .big {
  font-size: .25rem;
  font-weight: bold;
}
/* line 653, sass/spc.scss */
.page.model .content-scrollable .card-details .card-list-item .item-box b {
  font-weight: 600;
}
/* line 659, sass/spc.scss */
.page.model .content-scrollable .card-details .on {
  color: #cc1414;
  border-color: #cc1414;
}
/* line 663, sass/spc.scss */
.page.model .content-scrollable .card-details p {
  text-align: center;
}
/* line 667, sass/spc.scss */
.page.model .content-scrollable .service {
  margin: 0 .05rem;
  background: #fff;
}
/* line 670, sass/spc.scss */
.page.model .content-scrollable .service .title {
  padding-left: .1rem;
  margin-left: .15rem;
  position: relative;
  font-size: .16rem;
  font-weight: 600;
}
/* line 676, sass/spc.scss */
.page.model .content-scrollable .service .title:before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  background: #1991ee;
  width: .05rem;
  height: .18rem;
}
/* line 687, sass/spc.scss */
.page.model .content-scrollable .service .item-box img {
  display: block;
  width: 100%;
}

/* line 697, sass/spc.scss */
.bc {
  margin: 0 auto;
}

/* line 701, sass/spc.scss */
body.pcd {
  margin: 0;
  padding: 0;
  overflow: auto;
  background: #01032a;
}
/* line 702, sass/spc.scss */
body.pcd #happy-new-year {
  font-size: .14rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 10, 10, 0.7);
  z-index: 10;
  padding: .1rem;
  color: #fff;
}
/* line 712, sass/spc.scss */
body.pcd #happy-new-year p {
  line-height: 1.5;
}
/* line 715, sass/spc.scss */
body.pcd #happy-new-year .close {
  font-size: .2rem;
  font-weight: bold;
  color: #000;
  width: .25rem;
  height: .25rem;
  background: #fff;
  position: absolute;
  right: 3%;
  bottom: 10%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: .24rem;
  z-index: 11;
}
/* line 735, sass/spc.scss */
body.pcd .page {
  position: relative;
}
/* line 737, sass/spc.scss */
body.pcd .page .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
/* line 743, sass/spc.scss */
body.pcd .page .content .logo {
  width: 40%;
  margin-top: 0.07rem;
  margin-left: 0.05rem;
}
/* line 748, sass/spc.scss */
body.pcd .page .content .feidie {
  margin-top: 0.07rem;
}
/* line 751, sass/spc.scss */
body.pcd .page .content .wa {
  position: absolute;
  top: 0.05rem;
  right: 0;
  width: 15%;
}
/* line 757, sass/spc.scss */
body.pcd .page .content .header-title {
  color: #fff;
  width: 70%;
  margin-top: -1rem;
}
/* line 761, sass/spc.scss */
body.pcd .page .content .header-title .img-box {
  margin-left: -0.2rem;
}
/* line 764, sass/spc.scss */
body.pcd .page .content .header-title h1 {
  font-size: 0.2rem;
}
/* line 767, sass/spc.scss */
body.pcd .page .content .header-title h2 {
  font-size: 0.16rem;
}
/* line 773, sass/spc.scss */
body.pcd .title {
  position: relative;
  font-size: 0.18rem;
  color: #3ca3f1;
  text-align: center;
}
/* line 778, sass/spc.scss */
body.pcd .title span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-weight: 800;
}
/* line 781, sass/spc.scss */
body.pcd .title span.tl, body.pcd .title span.tr {
  position: relative;
  width: 0.36rem;
}
/* line 784, sass/spc.scss */
body.pcd .title span.tl:before, body.pcd .title span.tr:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 0.02rem;
  background: #3ca3f1;
  display: block;
  top: 50%;
  margin-top: -0.01rem;
}
/* line 797, sass/spc.scss */
body.pcd .fqa-lists {
  color: #fff;
  font-size: 0.1rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  position: relative;
  padding-bottom: 0.05rem;
}
/* line 804, sass/spc.scss */
body.pcd .fqa-lists .dark {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
/* line 812, sass/spc.scss */
body.pcd .fqa-lists ul li {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  color: #bd82ff;
}
/* line 816, sass/spc.scss */
body.pcd .fqa-lists ul li em {
  color: #3ca3f1;
}
/* line 819, sass/spc.scss */
body.pcd .fqa-lists ul li .list-header {
  font-weight: bold;
}
/* line 824, sass/spc.scss */
body.pcd .fqa-lists.close {
  height: 1rem;
  overflow: hidden;
}
/* line 829, sass/spc.scss */
body.pcd .fqa-more {
  font-size: 0.12rem;
  text-align: right;
  padding-right: 0.1rem;
  color: #d7bd0d;
  margin-bottom: 0.5rem;
}
/* line 835, sass/spc.scss */
body.pcd .fqa-more span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 838, sass/spc.scss */
body.pcd .fqa-more .arrow {
  margin-left: 0.05rem;
  width: 0.14rem;
  height: 0.14rem;
}
/* line 843, sass/spc.scss */
body.pcd .fqa-more .arrow-d {
  display: none;
}
/* line 847, sass/spc.scss */
body.pcd .fqa-more.close .arrow-u {
  display: none;
}
/* line 850, sass/spc.scss */
body.pcd .fqa-more.close .arrow-d {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 857, sass/spc.scss */
.yaw-mask-tw .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}
/* line 866, sass/spc.scss */
.yaw-mask-tw .mask-content {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 90%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}
/* line 873, sass/spc.scss */
.yaw-mask-tw .mask-content .mask-text {
  font-size: 0;
  position: absolute;
  left: 13%;
  top: 28%;
  width: 76%;
}
/* line 879, sass/spc.scss */
.yaw-mask-tw .mask-content .mask-text input {
  border: none;
  outline: none;
}
/* line 883, sass/spc.scss */
.yaw-mask-tw .mask-content .mask-text div.name {
  margin-top: .1rem;
  padding: .1rem .15rem;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 888, sass/spc.scss */
.yaw-mask-tw .mask-content .mask-text div.name input {
  font-size: .14rem;
}

/* line 895, sass/spc.scss */
.yaw-1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(img/yearAward/1.png);
  background-size: 100% auto;
}

/* line 904, sass/spc.scss */
.yaw-2 {
  -webkit-overflow-scrolling: touch;
}
/* line 906, sass/spc.scss */
.yaw-2 .text {
  position: absolute;
  left: 42%;
  top: 59%;
  font-size: .1rem;
  color: #725100;
}
/* line 912, sass/spc.scss */
.yaw-2 .text h4 {
  margin: 0;
}
/* line 916, sass/spc.scss */
.yaw-2 .company {
  color: #725100;
  font-size: .1rem;
  position: absolute;
  right: 10%;
  top: 47%;
}
/* line 923, sass/spc.scss */
.yaw-2 .try-again {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
}
