<div class="page p-details a-details">
    <top-nav page-title="中国电信●翼分期商城" page-back="back" page-done="contact"></top-nav>
    <!--<form id="checkoutForm" name="checkoutForm" action="http://2b2fda71.ngrok.natapp.cn/wap/taokafanghaoNew/submitOrderMachine.html" method="post" novalidate>-->
    <!--<form id="checkoutForm" name="checkoutForm" action="http://m.yfq.na/wap/taokafanghaoNew/submitOrderDouble.html" method="post" novalidate>-->
    <form id="checkoutForm" name="checkoutForm" action="http://apptest.yfq.cn:8898/wap/taokafanghaoNew/submitOrderDouble.html"
          method="post" novalidate>
        <input type="hidden" value="0" name="monthNumber" id="monthNumber">
        <input type="hidden" value="0" name="mainMonthNumber" id="mainMonthNumber">
        <input type="hidden" value="{{mainNumber}}" name="number1" id="number1">
        <input type="hidden" value="{{category}}" name="category" id="category">
        <input type="hidden" value="{{appType}}" name="appType" id="appType">
        <input type="hidden" value="{{phone.activityproductId}}" ng-model="phone.productId" name="machineId"
               id="machineId">
        <input type="hidden" value="{{activeTag}}" ng-model="activeTag" name="activeTag" id="activeTag">
        <input type="hidden" value="{{phoneQueryUrl}}" name="phoneQueryUrl" id="phoneQueryUrl">
        <gh></gh>
        <activity></activity>
        <redirect-url></redirect-url>
        <div class="content-scrollable has-footer">

            <div class="product-header pure-g">
                <div class="pure-u-1-3">
                    <div class="product-img">
                        <div id="cards">
                            <ul class="card-lists">
                                <li class="card-item">
                                    <div class="card-box">
                                        <div class="img">
                                            <img src="/images/phones/assets/index/tel-logo.jpg" alt="">
                                        </div>
                                        <div class="net">
                                            <div class="net-details">
                                                <p class="net-gb"><span class="net-num"
                                                                        ng-bind="card.network"></span><sub>GB</sub></p>
                                                <p class="net-tel"><span ng-bind="card.talkTime"></span>分钟通话</p>
                                                <p class="net-ocl">官方授权</p>
                                            </div>
                                            <div class="net-work">
                                                省内无限流量
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pure-u-2-3">
                    <div class="product-txt">
                        <h1>￥<span ng-bind="card.salesPrice | number:0"></span>/月话费套餐卡</h1>
                        <div class="label">限时优惠 省内无限流量 靓号任选</div>
                        <div class="product-price">
                            <ul>
                                <li style="padding-left: 0"><span>限时抢靓号：</span><em>￥</em><em>9.9</em>
                                </li>
                            </ul>
                        </div>
                        <div class="product-txt-ft">
                            <div id="stars">
                                <span class="sold">库存 <span ng-bind="stores"></span></span>
                                <span class="stars">
                                    <span class="stars-label">已抢</span>
                                    <span class="stars-content" ng-bind="sold">235</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="phonePkg">
                <input id="productId" name="productId" type="hidden" value="{{card.productId}}">
                <div class="weui-cells__title title-icon">
                    <span class="title">选择优惠后套餐</span>
                    <span class="sub-title" ng-click="showPkgPn();">更多套餐 <span class="icon-chevron-down"></span></span>
                </div>
                <div class="card-details">
                    <div class="card">
                        <ul class="card-list">
                            <li class="card-list-item on-cardetails">
                                <div class="item-box pure-g" ng-click="showPkgPn();">
                                    <div class="net-work pure-u-3-5">
                                        <div class="line">
                                            <p class="month-item month-item-small">
                                                <span class="big" style="font-size: 0.3rem">无限量</span><sub>省内流量</sub>
                                            </p>
                                            <p><b ng-bind="card.network"></b>全国流量<b ng-bind="card.talkTime"></b>分钟全国通话
                                            </p>
                                        </div>
                                    </div>
                                    <div class="month pure-u-2-5">
                                        <p class="month-item rec">
                                            ￥<span class="big"
                                                   ng-bind="card.salesPrice | number : 0"></span><sub>套餐</sub>
                                        </p>
                                        <p><span>原价:￥</span><span ng-bind="card.oldPrice | number : 0"></span><br><span>优惠36个月</span>
                                        </p>
                                    </div>
                                </div>
                                <!--<ins class="icon-gray-5">
                                    <div class="img-box">
                                        <img class="on-cardetails"
                                             ng-src="/images/phones/assets/icons/{{card.salesPrice*10/card.oldPrice | number:0}}-on.png">
                                    </div>
                                </ins>-->
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-if="card" class="card-pkg-n" ss-dd="card"></div>

                <div class="card-details">
                    <div id="pickPackagePanel" class="card"
                         style="display: none;padding-top: 0.25rem;padding-bottom: 0.15rem;background: #fff">
                        <ul class="card-list">
                            <li class="card-list-item"
                                ng-class="{true:'on-cardetails',false:''}[card.productId == package.productId]"
                                ng-repeat="package in pkgs">
                                <div class="item-box pure-g" ng-click="setPackage($event,package);">
                                    <div class="net-work pure-u-3-5">
                                        <div class="line">
                                            <p class="month-item month-item-small">
                                                <span class="big" style="font-size: 0.3rem">无限量</span><sub>省内流量</sub>
                                            </p>
                                            <p style="font-size:.12rem;line-height:1;">
                                                <b ng-bind="package.network"></b>全国流量<b ng-bind="package.talkTime"></b>分钟全国通话
                                            </p>
                                        </div>
                                    </div>
                                    <div class="month pure-u-2-5">
                                        <p class="month-item rec">￥<span class="big"
                                                                         ng-bind="package.salesPrice | number : 0"></span><sub>/月</sub>
                                        </p>
                                        <p>
                                            <del>原价￥<span ng-bind="package.oldPrice | number : 0"></span></del>
                                        </p>
                                        <p>优惠36个月</p>
                                    </div>
                                </div>
                                <!--<ins class="icon-gray-5">
                                    <div class="img-box">
                                        <img ng-src="/images/phones/assets/icons/{{package.salesPrice*10/package.oldPrice | number : 0}}.png">
                                        <img class="on-cardetails" ng-src="/images/phones/assets/icons/{{package.salesPrice*10/package.oldPrice | number : 0}}-on.png">
                                    </div>
                                </ins>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <main-number ng-if="buyType == 1" title="选择手机号码"></main-number>
            <auto-number></auto-number>

            <sim-type></sim-type>
            <div id="promise">
                <div class="weui-cells__title title-icon">
                    <span class="title">保障服务</span>
                </div>
                <div class="img-box">
                    <img src="/images/phones/assets/details/promise-k.jpg">
                </div>
            </div>

            <!--<div class="img-box" style="margin-top: 0.1rem">
                <img src="/images/phones/assets/details/100s5.jpg">
            </div>-->

            <gds></gds>

            <n-pay-type title="选择支付方式" style="display: none"></n-pay-type>
            <div id="setPayType" class="pay-type">
                <input type="hidden" name="payType" id="payType" ng-model="payType" value="{{payType}}" required>
                <div class="weui-cells__title title-icon">
                    <span class="title" ng-bind="payTitle"></span><span class="star-color">*</span>
                    <span class="sub-title">
            <span ng-bind="payTypeName"></span>
        </span>
                </div>
                <div class="paytype-panel pd-w">
                    <ul class="paytype-list item-lists minus minus pure-g">
                        <li id="payType0" class="pay-item list-item pure-u-1-3"
                            ng-class="{true:'on-paytype',false:''}[payType == 0]" ng-click="setPayType($event,0);">
                            <div class="item item-box margin border radius">
                                <div>
                                    <p class="title">在线支付</p>
                                    <p class="details">预存话费￥200</span></p>
                                </div>
                            </div>
                        </li>
                        <li id="payType1" class="pay-item list-item pure-u-2-3">
                            <p style="margin-top: 0.07rem">预存话费￥200分十个月返还，每个月返还20元</p>
                        </li>
                    </ul>
                    <!--<div class="pay-style-details">
                        <p>升级附送2张副卡(无费用，与主卡共享省内无限流量)，配合随身Wifi，可与家人朋友齐分享。</p>
                    </div>-->
                </div>
            </div>

            <div style="overflow: hidden;background: #fff;padding-bottom: 0.05rem">
                <div class="weui-cells__tips" style="font-size: 0.14rem">
                    <p>升级附送2张副卡(无费用，与主卡共享省内无限流量)，配合随身Wifi，可与家人朋友齐分享。</p>
                </div>
                <div class="weui-cells__tips" style="font-size: 0.14rem">*本活动仅限18岁以上用户参与</div>

                <input type="hidden" name="mifiId" id="mifiId" ng-model="mifis" value="{{selectedMifis}}" required>
                <div class="d-mifis weui-cells weui-cells_checkbox">
                    <div class="weui-cell weui-check__label" ng-repeat="mifi in mifis"
                         ng-class="{true:'curr',false:''}[mifi.selected]" ng-click="setItem($event,$index,mifi)">
                        <div class="weui-cell__hd">
                            <input class="weui-check" name="checkbox1" id="s{{mifi.productId}}" type="checkbox">
                            <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <p ng-bind="mifi.productName"></p>
                        </div>
                        <div class="weui-cell__ft" style="padding-right: 0">
                            <del style="font-size: 0.11rem;margin-right: 0.05rem">原价￥<span
                                    ng-bind="mifi.oldPrice"></span></del>
                            <span ng-bind="mifi.salePrice"></span>元
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="spcNav" class="footer-nav nav-list" style="padding-left:0 !important;">
            <div class="pure-g">
                <div class="nav-price nav-item pure-u-3-5" style="display: inline-block;line-height: 0.48rem">
                    <span style="font-size: 0.16rem">实付款：</span><em style="font-size: 0.2rem">￥</em><em style="font-size: 0.2rem" ng-bind="totalPrice"></em>
                </div>
                <div class="nav-button nav-item pure-u-2-5">
                    <a id="footerPayButton" has-hash="false"
                       href="javascript:userTrack('submitForm');"
                       ng-class="{true:'disabled',false:''}[phone.ifSellOut == 1]"
                       ng-click="submitMifi($event);">
                        <span>
                            <span>提交订单</span>
                            </span></a></div>
            </div>
        </div>
        <!--<n-footer-nav check-main-number="true" check-address="true" check-sim-type="true"
                      submit="#checkoutForm"></n-footer-nav>-->
    </form>
</div>