<div class="page p-details a-details a-details-c">
    <top-nav page-title="中国电信●翼分期商城" page-back="back" page-done="contact"></top-nav>
    <!--<form id="checkoutForm" name="checkoutForm" action="http://2b2fda71.ngrok.natapp.cn/wap/taokafanghaoNew/submitOrderMachine.html" method="post" novalidate>-->
    <!--<form id="checkoutForm" name="checkoutForm" action="http://m.yfq.na/wap/taokafanghaoNew/submitOrderDouble.html" method="post" novalidate>-->
    <form id="checkoutForm" name="checkoutForm" action="http://m.yfq.cn/wap/taokafanghaoNew/submitOrderDouble.html"
          method="post" novalidate>
        <input type="hidden" value="1" name="monthNumber" id="monthNumber">
        <input type="hidden" value="{{category}}" name="category" id="category">
        <input type="hidden" value="{{phone.activityproductId}}" ng-model="phone.productId" name="machineId"
               id="machineId">
        <input type="hidden" value="{{activeTag}}" ng-model="activeTag" name="activeTag" id="activeTag">
        <input type="hidden" value="{{redirectUrl}}" name="phoneQueryUrl" id="phoneQueryUrl">
        <gh></gh>
        <activity></activity>
        <referrer-no></referrer-no>
        <redirect-url></redirect-url>
        <div class="content-scrollable has-footer">

            <div class="owl-carousel" img-urls="imgUrls"></div>

            <div class="product-header">
                <div class="product-txt">
                    <h1><span ng-bind="phone.phoneTypes[0].productName"></span></h1>
                    <h2>预存话费抵手机价格，更可享0元购机，领取优惠券，最高可再减800元！</h2>
                    <div class="product-price">
                        <ul class="pure-g">
                            <li class="pure-u-1-2" style="padding-left: 0">
                                <div></div>
                                <span>合约价：</span>
                                <em>￥</em>
                                <span ng-if="payType == 2">
                                    <em ng-if="coupons.jm.checked && coupons.mx.checked" ng-bind="totalPrice - (totalPrice | jm:800) | number : 0"></em>
                                    <em ng-if="coupons.jm.checked && !coupons.mx.checked" ng-bind="totalPrice - (totalPrice | jm:800) + totalPrice * 0.1| number : 0"></em>
                                    <em ng-if="!coupons.jm.checked && coupons.mx.checked" ng-bind="totalPrice | number : 0"></em>
                                    <em ng-if="!coupons.jm.checked && !coupons.mx.checked" ng-bind="totalPrice * 1 + totalPrice * 0.1 | number : 0"></em>
                                </span>
                                <span ng-if="payType == 0">
                                    <em ng-if="coupons.jm.checked" ng-bind="totalPrice - (totalPrice | jm:800) | number : 0"></em>
                                    <em ng-if="!coupons.jm.checked" ng-bind="totalPrice | number : 0"></em>
                                </span>
                            </li>
                            <li class="pure-u-1-2" style="text-align: right">已售<em ng-bind="sold" style="font-size: 0.12rem;font-weight: normal"></em>件</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-footer">
                <div class="img-box">
                    <img src="/images/phones/C/check.png">
                </div>
            </div>

            <div id="coupons" style="padding-bottom: 0.15rem">
                <div class="weui-cells__title title-icon">
                    <span class="title">优惠</span><span class="star-color"></span>
                </div>
                <div class="coupon-panel">

                    <div class="weui-cells">
                        <div class="weui-cell" ng-click="showNgFudai(hasCoupon)" ng-class="{true:'',false:'weui-cell_access'}[hasCoupon]">
                            <div class="weui-cell__hd"><span>领券</span></div>
                            <div class="weui-cell__bd">￥800满减券，满100减5；12期免息券；</div>
                            <div class="weui-cell__ft" style="padding-right:0">
                                <span ng-if="hasCoupon">已领券</span>
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><span>立省</span></div>
                            <div class="weui-cell__bd">套餐新开放，首次充值可享充￥200送￥150</div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="phoneColors">
                <main-colors title="选择颜色" ng-if="phone"></main-colors>
            </div>

            <phone-c-package title="选择中国电信套餐" sub-title="未选套餐"></phone-c-package>

            <!--<div id="promise">
                <div class="weui-cells__title title-icon">
                    <span class="title">保障服务</span>
                </div>
                <div class="img-box">
                    &lt;!&ndash;<img src="/images/phones/assets/details/promise.png">&ndash;&gt;
                    <img src="/images/phones/assets/details/promise.jpg">
                </div>
            </div>-->

            <adr></adr>

            <coupon-list></coupon-list>

            <c-pay-type title="选择支付方式"></c-pay-type>

            <div class="pay-container pd-w">
                <div class="pay-content" ng-if="payType == 0">
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">合约价</span>
                        <span class="price pure-u-1-2"><em>￥</em><em ng-bind="totalPrice | number:0"></em></span>
                        <span class="tips pure-u-1-1" style="font-size: 0.12rem;color:#999;text-align: right"><span>(购机价￥</span><span ng-bind="totalPrice - package.salesPrice"></span><span>+预存话费</span><span ng-bind="package.salesPrice | number:0"></span>，<span>分36个月返还)</span></span>
                    </div>
                    <div class="pure-g" ng-if="coupons.jm.checked">
                        <span class="lb pure-u-1-2">满减优惠券</span>
                        <span class="price pure-u-1-2">
                            <span ng-if="coupons.jm.checked"><em>-￥</em><em ng-bind="totalPrice | jm:800"></em></span>
                            <span ng-if="!coupons.jm.checked"><em>-￥</em><em ng-bind="0"></em></span>
                        </span>
                    </div>
                    <div class="real-price pure-g">
                        <span class="lb pure-u-1-2">
                            <span ng-if="!(payType == 0 && receiver.city.indexOf('广州市') != -1)">实付金额</span>
                            <span ng-if="payType == 0 && receiver.city.indexOf('广州市') != -1">送货到家实付金额</span>
                        </span>
                        <span class="price pure-u-1-2" ng-if="coupons.jm.checked"><em>￥</em><em ng-bind="totalPrice - (totalPrice | jm:800) | number : 0"></em></span>
                        <span class="price pure-u-1-2" ng-if="!coupons.jm.checked"><em>￥</em><em ng-bind="totalPrice | number : 0"></em></span>
                    </div>
                </div>
                <div class="pay-content" ng-if="payType == 2">
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">分期总额</span>
                        <span class="price pure-u-1-2">
                            <em>￥</em><em ng-bind="totalPrice * 1.1 | number:0"></em>
                        </span>
                        <span class="tips pure-u-1-1" style="font-size: 0.12rem;color:#999;text-align: right"><span>(购机价￥</span><span ng-bind="totalPrice - package.salesPrice"></span><span>+预存话费</span><span ng-bind="package.salesPrice | number:0"></span>，<span>分36个月返还)</span></span>
                    </div>
                    <div class="pure-g" ng-if="coupons.jm.checked">
                        <span class="lb pure-u-1-2">满减优惠券</span>
                        <span class="price pure-u-1-2">
                            <span ng-if="coupons.jm.checked"><em>-￥</em><em ng-bind="totalPrice | jm:800"></em></span>
                            <span ng-if="!coupons.jm.checked"><em>-￥</em><em ng-bind="0"></em></span>
                        </span>
                    </div>
                    <div class="pure-g" ng-if="coupons.mx.checked">
                        <span class="lb pure-u-1-2">12期免息券</span>
                        <span class="price pure-u-1-2">
                            <em>0息率X12期</em>
                        </span>
                    </div>
                    <div class="pure-g">
                        <span class="lb pure-u-1-2">月供</span>
                        <span class="price pure-u-1-2">
                            <em>￥</em>
                            <em ng-if="coupons.jm.checked && coupons.mx.checked" ng-bind="(totalPrice - (totalPrice | jm:800))/12 | number : 0"></em>
                            <em ng-if="coupons.jm.checked && !coupons.mx.checked" ng-bind="(totalPrice - (totalPrice | jm:800) + totalPrice * 0.1)/12| number : 0"></em>
                            <em ng-if="!coupons.jm.checked && coupons.mx.checked" ng-bind="totalPrice/12 | number : 0"></em>
                            <em ng-if="!coupons.jm.checked && !coupons.mx.checked" ng-bind="(totalPrice * 1 + totalPrice * 0.1)/12 | number : 0"></em>
                            <em style="font-size: 0.16rem"> X 12期</em><em style="font-size: 0.16rem" ng-if="coupons.mx.checked">免息</em>
                        </span>
                    </div>
                    <div class="real-price pure-g">
                        <span class="lb pure-u-1-2">
                            <span ng-if="!(payType == 0 && receiver.city.indexOf('广州市') != -1)">实付金额</span>
                            <span ng-if="payType == 0 && receiver.city.indexOf('广州市') != -1">送货到家实付金额</span>
                        </span>
                        <span class="price pure-u-1-2">
                            <span ng-if="coupons.jm.checked && coupons.mx.checked"><em>￥</em><em ng-bind="totalPrice - (totalPrice | jm:800) | number : 0"></em></span>
                            <span ng-if="coupons.jm.checked && !coupons.mx.checked"><em>￥</em><em ng-bind="totalPrice - (totalPrice | jm:800) + totalPrice * 0.1| number : 0"></em></span>
                            <span ng-if="!coupons.jm.checked && coupons.mx.checked"><em>￥</em><em ng-bind="totalPrice | number : 0"></em></span>
                            <span ng-if="!coupons.jm.checked && !coupons.mx.checked"><em>￥</em><em ng-bind="totalPrice * 1 + totalPrice * 0.1 | number : 0"></em></span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <!--<div class="right-nav" ng-click="showFudai()">
            <div class="img-box">
                <img src="/images/active/11.png">
            </div>
        </div>-->

        <div class="footer-nav nav-list">
            <div class="pure-g">
                <div class="nav-price nav-item pure-u-3-5">
                    <div ng-if="payType == 0">
                        <span>实付金额：</span><em>￥</em>
                        <span ng-if="coupons.jm.checked"><em ng-bind="totalPrice - (totalPrice | jm:800) | number : 0"></em></span>
                        <span ng-if="!coupons.jm.checked"><em ng-bind="totalPrice | number : 0"></em></span>
                    </div>
                    <div ng-if="payType == 2">
                        <span>月供：</span><em>￥</em>
                        <em ng-if="coupons.jm.checked && coupons.mx.checked" ng-bind="(totalPrice - (totalPrice | jm:800))/12 | number : 0"></em>
                        <em ng-if="coupons.jm.checked && !coupons.mx.checked" ng-bind="(totalPrice - (totalPrice | jm:800) + totalPrice * 0.1)/12| number : 0"></em>
                        <em ng-if="!coupons.jm.checked && coupons.mx.checked" ng-bind="totalPrice/12 | number : 0"></em>
                        <em ng-if="!coupons.jm.checked && !coupons.mx.checked" ng-bind="(totalPrice * 1 + totalPrice * 0.1)/12 | number : 0"></em>
                        <em style="font-size: 0.16rem"> X 12期</em><em style="font-size: 0.16rem" ng-if="coupons.mx.checked">免息</em>
                    </div>
                </div>
                <div class="nav-button nav-item pure-u-2-5">
                    <a id="footerPayButton" href="javascript:;" ng-click="submitForm($event);">
                        <span ng-if="payType == 0">
                            <span ng-if="receiver.city.indexOf('广州市') == -1">我要支付</span>
                            <span ng-if="receiver.city.indexOf('广州市') != -1">我要上门</span>
                        </span>
                        <span ng-if="payType == 2">我要分期</span>
                    </a>
                </div>
            </div>
        </div>
    </form>
    <ng-coupon></ng-coupon>
</div>